Repository trpc/trpc, pull requests merged in 2021-10, with the labels that each got.

#1043 add new sponsor
  README.md
  www/docs/main/sponsors.md
Labels: ♻️ autoupdate

#1053 readme update
  README.md
  www/docs/main/sponsors.md
Labels: ♻️ autoupdate

#1046 Update authorization.md
  www/docs/server/authorization.md
Labels: ♻️ autoupdate

#1061 re-add vercel PR comments
  www/vercel.json
Labels: ♻️ autoupdate

#1064 Update README.md
  README.md
Labels: ♻️ autoupdate

#1065 make `useInfiniteQuery()` only callable for appropriate procedures
  examples/next-prisma-starter-websockets/src/server/routers/post.ts
  package.json
  packages/react/src/createReactQueryHooks.tsx
  www/docs/react/useMutation.md
  www/docs/react/useQuery.md
Labels: @trpc/react, ♻️ autoupdate, 🙏 review please

#1056 feat: add support for superstruct validation
  .changeset/yellow-waves-press.md
  packages/server/package.json
  packages/server/src/internals/procedure.ts
  packages/server/test/validators.test.ts
  www/docs/main/quickstart.md
  www/docs/nextjs/nextjs.md
  www/docs/react/react-intro.md
  www/docs/server/router.md
  yarn.lock
Labels: ♻️ autoupdate

#1063 update examples with `invalidateQueries()`
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-todomvc/src/pages/[filter].tsx
Labels: ♻️ autoupdate

#1079 fix type instantiation depth for big routers
  .gitignore
  package.json
  packages/react/src/createReactQueryHooks.tsx
  packages/server/package.json
  packages/server/src/router.ts
  packages/server/src/types.ts
  packages/server/test/_packages.ts
  packages/server/test/_testHelpers.ts
  packages/server/test/bigRouter.test.tsx
  packages/server/test/react.test.tsx
  packages/server/test/router.test.ts
  scripts/generate-big-f-router.ts
  yarn.lock
Labels: 🐛 bug, ♻️ autoupdate

#1088 update readme
  README.md
  www/docs/main/sponsors.md
Labels: ♻️ autoupdate
