Repository trpc/trpc, pull requests merged in 2021-08, with the labels that each got.

#754 `@trpc/server` - inherit stack trace
  packages/server/src/internals/BaseHandlerOptions.ts
  packages/server/src/internals/errors.ts
  packages/server/test/_testHelpers.ts
  packages/server/test/errors.test.ts
Labels: @trpc/server, ✨ enhancement

#718 [RFC] Add middleware `next()`-fn
  examples/.wip/next-chat/package.json
  examples/express-server/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/internals/middlewares.ts
  packages/server/src/procedure.ts
  packages/server/src/router.ts
  packages/server/test/middleware.test.ts
  www/docs/server/authorization.md
  www/docs/server/middlewares.md
Labels: @trpc/server, ⏭ major bump needed, 🙏 review please

#732 V9 refactoring and cleanup
  examples/.wip/next-chat/package.json
  examples/express-server/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/next-env.d.ts
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/internals/httpRequest.ts
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/http/errors.ts
  packages/server/src/http/index.ts
  packages/server/src/http/internals/getHTTPStatusCode.ts
  packages/server/src/http/requestHandler.ts
  packages/server/src/router.ts
  packages/server/src/rpc/codes.ts
  packages/server/test/errors.test.ts
  packages/server/test/index.test.tsx
  packages/server/test/middleware.test.ts
  packages/server/test/rawFetch.test.tsx
  packages/server/test/react.test.tsx
  packages/server/test/websockets.test.ts
  www/docs/server/authorization.md
  www/docs/server/error-handling.md
Labels: ♻️ autoupdate, ⏭ major bump needed, 🙏 review please

#820 dehydrate `TRPCClientError`s in SSR
  packages/client/src/TRPCClientError.ts
  packages/next/src/withTRPC.tsx
  packages/react/src/createReactQueryHooks.tsx
Labels: 🚧 wip, ⏭ major bump needed

#816 Add `responseMeta`-fn on HTTP response handlers
  examples/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-starter/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-starter/test/playwright.test.ts
  packages/next/src/withTRPC.tsx
  packages/server/src/adapters/express.ts
  packages/server/src/adapters/next.ts
  packages/server/src/adapters/standalone.ts
  packages/server/src/http/ResponseMeta.ts
  packages/server/src/http/index.ts
  packages/server/src/http/internals/HTTPHandlerOptions.ts
  packages/server/src/http/requestHandler.ts
  packages/server/src/internals/BaseHandlerOptions.ts
  packages/server/src/router.ts
  packages/server/test/responseMeta.test.ts
  www/docs/server/caching.md
Labels: 🚧 wip, 🙏 review please

#811 Improve handling of HTTP statuses & headers
  examples/.wip/next-chat/package.json
  examples/express-server/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-starter/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-starter/test/playwright.test.ts
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/TRPCClientError.ts
  packages/next/package.json
  packages/next/src/withTRPC.tsx
  packages/react/package.json
  packages/react/src/createReactQueryHooks.tsx
  packages/server/package.json
  packages/server/src/adapters/express.ts
  packages/server/src/adapters/next.ts
  packages/server/src/adapters/standalone.ts
  packages/server/src/http/ResponseMeta.ts
  packages/server/src/http/index.ts
  packages/server/src/http/internals/HTTPHandlerOptions.ts
  packages/server/src/http/internals/getHTTPStatusCode.ts
  packages/server/src/http/requestHandler.ts
  packages/server/src/internals/BaseHandlerOptions.ts
  packages/server/src/internals/transformTRPCResponse.ts
  packages/server/src/router.ts
  packages/server/src/rpc/envelopes.ts
  packages/server/src/ws/wssHandler.ts
  packages/server/test/_testHelpers.ts
  packages/server/test/errors.test.ts
  packages/server/test/react.test.tsx
  packages/server/test/responseMeta.test.ts
  packages/server/test/transformer.test.ts
  packages/server/test/websockets.test.ts
  www/docs/server/caching.md
  www/docs/server/error-formatting.md
Labels: 🙋‍♂️ help wanted, ♻️ autoupdate, 🙏 review please

#832 change video
  www/docs/main/introduction.md
Labels: ♻️ autoupdate

#857 Fix prefetching infinite query
  packages/react/src/createReactQueryHooks.tsx
  packages/server/test/react.test.tsx
Labels: 🐛 bug

#858 update `yarn.lock`
  yarn.lock
Labels: ⬆️ dependencies, ♻️ autoupdate

#861 speed up CI
  .github/workflows/examples.yml
  examples/next-prisma-starter-websockets/.github/workflows/main.yml
  examples/next-prisma-starter/.github/workflows/main.yml
Labels: ♻️ autoupdate
