Repository trpc/trpc, pull requests merged in 2021-07, with the labels that each got.

#673 update docs to use `.nullish()` over `.optional()`
  examples/.wip/next-chat/src/pages/api/trpc/[trpc].ts
  examples/express-server/src/server.ts
  examples/next-prisma-starter-websockets/src/server/routers/posts.ts
  examples/next-prisma-todomvc/next-env.d.ts
  examples/standalone-server/src/server.ts
  packages/server/test/adapters/express.test.tsx
  packages/server/test/index.test.tsx
  packages/server/test/react.test.tsx
  packages/server/test/websockets.test.ts
  www/docs/nextjs/nextjs-intro.md
  www/docs/react/useInfiniteQuery.md
  www/docs/react/useQuery.md
  www/docs/server/authorization.md
  www/docs/server/router.md
Labels: ♻️ autoupdate

#671 flatten post requests' `input`
  packages/client/src/internals/httpRequest.ts
  packages/server/src/http/internals/getPostBody.ts
  packages/server/src/http/requestHandler.ts
  packages/server/test/_testHelpers.ts
  packages/server/test/rawFetch.test.tsx
  www/docs/further/further-reading.md
Labels: ♻️ autoupdate

#669 fix: batching with zod `.optional()` input
  examples/next-prisma-starter-websockets/jest-playwright.config.js
  examples/next-prisma-starter/next-env.d.ts
  examples/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-starter/src/pages/index.tsx
  packages/client/src/internals/httpRequest.ts
  packages/client/src/links/httpBatchLink.ts
  packages/server/src/http/requestHandler.ts
  packages/server/src/procedure.ts
  packages/server/test/_testHelpers.ts
  packages/server/test/index.test.tsx
  packages/server/test/rawFetch.test.tsx
Labels: @trpc/client, @trpc/server, ♻️ autoupdate, 🐛 bug

#687 fix: wss missing initial msgs if slow `createContext()`-fn
  packages/client/src/links/wsLink.ts
  packages/server/src/ws/wssHandler.ts
  packages/server/test/_testHelpers.ts
  packages/server/test/websockets.test.ts
Labels: ♻️ autoupdate

#691 fix bad doc link
  examples/next-prisma-starter-websockets/src/server/routers/app.ts
  examples/next-prisma-starter/src/server/routers/app.ts
  www/docs/server/merging-routers.md
Labels: ♻️ autoupdate

#689 `splitLink`: `left`/`right` to `true`/`false`
  packages/client/src/links/splitLink.ts
  packages/server/test/links.test.ts
Labels: ♻️ autoupdate

#670 Batching as default behavior
  README.md
  examples/.wip/next-chat/package.json
  examples/express-server/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  examples/standalone-server/src/client.ts
  lerna.json
  packages/client/package.json
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/http/requestHandler.ts
  packages/server/test/react.test.tsx
  packages/server/test/transformer.test.ts
  www/docs/client/links.md
  www/sidebars.js
Labels: ♻️ autoupdate

#706 refactor: get parse function on init
  packages/server/src/procedure.ts
Labels: ♻️ autoupdate, 🚀 merge

#712 Replace deprecated `httpError` in Middleware example
  www/docs/server/middlewares.md
Labels: ♻️ autoupdate, 🚀 merge
