Repository trpc/trpc, pull requests merged in 2021-09, with the labels that each got.

#889 update `express.md`
  www/docs/server/express.md
Labels: 🚀 merge, ♻️ autoupdate

#881 rename `originalError` to `cause` + deprecate `originalError`
  packages/client/src/TRPCClientError.ts
  packages/server/src/TRPCError.ts
  packages/server/src/http/internals/getQueryInput.ts
  packages/server/src/internals/errors.ts
  packages/server/src/procedure.ts
  packages/server/src/ws/wssHandler.ts
  packages/server/test/errors.test.ts
  www/docs/server/error-formatting.md
  www/docs/server/error-handling.md
Labels: @trpc/server, @trpc/client, ♻️ autoupdate, 🙏 review please

#886 add ci checks for node version `12.x`
  .github/workflows/examples.yml
  examples/next-prisma-starter-websockets/tsconfig.json
  examples/next-prisma-starter-websockets/tsconfig.server.json
  examples/next-prisma-starter/tsconfig.json
  examples/next-prisma-todomvc/tsconfig.json
  examples/standalone-server/src/client.ts
  examples/standalone-server/tsconfig.json
Labels: ♻️ autoupdate

#890 add `internal`/`public`/`alpha`/`beta` tags
  packages/server/src/internals/procedure.ts
  packages/server/src/router.ts
  packages/server/src/subscription.ts
  packages/server/src/transformer.ts
  packages/server/src/types.ts
Labels: ♻️ autoupdate

#894 bump dependencies
  examples/.wip/next-chat/package.json
  examples/express-server/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
  www/yarn.lock
  yarn.lock
Labels: ♻️ autoupdate

#895 update `rpc.md`
  www/docs/further/rpc.md
Labels: ♻️ autoupdate

#896 fix docs `code` styling
  www/src/pages/styles.module.css
Labels: ♻️ autoupdate

#897 `github.silent`
  examples/next-prisma-todomvc/vercel.json
  www/vercel.json
Labels: ♻️ autoupdate

#903 add headers test example
  packages/server/test/headers.test.tsx
Labels: ♻️ autoupdate

#877 add `declarationMap`
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  tsconfig.build.json
  yarn.lock
Labels: @trpc/react, @trpc/server, @trpc/client, 🧙🏻 typescript wizardry, ♻️ autoupdate

#902 Add support for async client headers
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/internals/httpRequest.ts
  packages/client/src/links/core.ts
  packages/server/test/headers.test.tsx
Labels: ♻️ autoupdate

#909 Add support for async client headers
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/internals/httpRequest.ts
  packages/client/src/links/core.ts
  packages/server/test/headers.test.tsx
Labels: @trpc/client, ♻️ autoupdate

#908 add `fetchOptions` on client runtime
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/internals/httpRequest.ts
  packages/client/src/links/core.ts
  packages/server/test/headers.test.tsx
  packages/server/test/links.test.ts
  www/docs/nextjs/nextjs.md
Labels: @trpc/client, ♻️ autoupdate

#916 Revert "add `fetchOptions` on client runtime"
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/internals/httpRequest.ts
  packages/client/src/links/core.ts
  packages/server/test/headers.test.tsx
  packages/server/test/links.test.ts
  www/docs/nextjs/nextjs.md
Labels: @trpc/client

#915 Middleware: swap context
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/deprecated/LegacyRouter.ts
  packages/server/src/index.ts
  packages/server/src/internals/middlewares.ts
  packages/server/src/internals/procedure.ts
  packages/server/src/router.ts
  packages/server/test/adapters/next.test.ts
  packages/server/test/middleware.test.ts
  packages/server/test/router.test.ts
  www/docs/server/middlewares.md
Labels: @trpc/server, 🧙🏻 typescript wizardry, ♻️ autoupdate

#936 Update further-reading.md
  www/docs/further/further-reading.md
Labels: ♻️ autoupdate

#951 split up `createRouter` and `createContext` in examples
  examples/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/next-prisma-starter-websockets/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-starter-websockets/src/server/context.ts
  examples/next-prisma-starter-websockets/src/server/createRouter.ts
  examples/next-prisma-starter-websockets/src/server/prodServer.ts
  examples/next-prisma-starter-websockets/src/server/routers/_app.ts
  examples/next-prisma-starter-websockets/src/server/routers/post.ts
  examples/next-prisma-starter-websockets/src/server/wssDevServer.ts
  examples/next-prisma-starter-websockets/src/utils/trpc.ts
  examples/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-starter/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-starter/src/server/context.ts
  examples/next-prisma-starter/src/server/createRouter.ts
  examples/next-prisma-starter/src/server/routers/_app.ts
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-starter/src/utils/trpc.ts
  www/docs/nextjs/nextjs.md
Labels: ♻️ autoupdate

#954 update testimonials
  www/docs/main/love.md
Labels: ♻️ autoupdate

#950 Update middlewares.md
  www/docs/server/middlewares.md
Labels: ♻️ autoupdate

#955 fix `inferProcedureInput`
  packages/server/src/router.ts
  packages/server/test/middleware.test.ts
  packages/server/test/regression/issue-949-inferProcedureInput.test.ts
Labels: @trpc/server, ♻️ autoupdate, 🙏 review please

#963 add type inference tests
  packages/server/test/inference.test.ts
Labels: ♻️ autoupdate

#923 Expose `getFetch`
  packages/client/src/getFetch.ts
  packages/client/src/index.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/internals/fetchHelpers.ts
  packages/client/src/links/core.ts
  packages/server/test/client-internals.test.ts
Labels: ♻️ autoupdate

#956 Simplify procedure types/overloads
  packages/server/src/internals/procedure.ts
  packages/server/src/router.ts
  packages/server/test/inference.test.ts
  packages/server/test/regression/issue-949-inferProcedureInput.test.ts
Labels: ♻️ autoupdate

#1001 Create middlewares.md
  www/docs/server/middlewares.md
Labels: ♻️ autoupdate

#1011 improve nextjs starter
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-starter/src/server/routers/post.ts
Labels: ♻️ autoupdate

#1006 fix `initialData` being `TInput`
  packages/react/src/createReactQueryHooks.tsx
  packages/server/test/regression/issue-990-initialData.test.tsx
Labels: @trpc/react, ♻️ autoupdate

#1007 fix typo in browser environment assertion
  packages/server/src/assertNotBrowser.ts
Labels: ♻️ autoupdate

#1012 Allow passing no input on mutations with no input
  packages/server/src/router.ts
  packages/server/test/inference.test.ts
  packages/server/test/react.test.tsx
  packages/server/test/regression/issue-949-inferProcedureInput.test.ts
Labels: ♻️ autoupdate

#1016 Update useMutation.md
  www/docs/react/useMutation.md
Labels: 🚀 merge, ♻️ autoupdate

#1017 simplify `mutateAsync` example
  examples/next-prisma-todomvc/src/pages/[filter].tsx
Labels: 🚀 merge, ♻️ autoupdate

#1019 add `FUNDING.yml` to subtree repos
  examples/next-prisma-starter-websockets/.github/FUNDING.yml
  examples/next-prisma-starter/.github/FUNDING.yml
Labels: ♻️ autoupdate

#1026 update readme of websocket example
  examples/next-prisma-starter-websockets/README.md
Labels: ♻️ autoupdate

#1027 Update example-apps.md
  www/docs/main/example-apps.md
Labels: ♻️ autoupdate
