Repository trpc/trpc, pull requests merged in 2021-05, with the labels that each got.

#326 improve race condition on todomvc
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/pages/[filter].tsx
Labels: 🚀 merge

#332 fix http status code return
  examples/next-hello-world/package.json
  examples/next-hello-world/pages/api/trpc/[trpc].ts
  examples/next-prisma-todomvc/package.json
  examples/next-ssg-chat/package.json
  examples/playground/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/errors.ts
Labels: 🐛 bug

#346 Design tweaks to homepage
  www/docs/main/introduction.md
  www/docs/react/nextjs.md
  www/docusaurus.config.js
  www/src/css/custom.css
  www/src/pages/index.js
  www/src/pages/styles.module.css
Labels: 🚀 merge

#358 simplify types a little
  packages/react/src/createReactQueryHooks.tsx
Labels: 🚀 merge

#372 expose `createSSGHelpers().queryClient`
  packages/react/src/ssg.ts
Labels: 🚀 merge

#380 add some codesandbox links
  examples/next-hello-world/README.md
  examples/next-hello-world/sandbox.config.json
  examples/next-prisma-todomvc/README.md
  examples/next-ssg-chat/README.md
  examples/playground/README.md
  examples/standalone-server/README.md
  examples/standalone-server/sandbox.config.json
Labels: 🚀 merge

#387 make todomvc example run in codesandbox
  examples/next-prisma-todomvc/.gitignore
  examples/next-prisma-todomvc/README.md
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/pages/[filter].tsx
  examples/next-prisma-todomvc/prisma/_sqlite/schema.prisma
  examples/next-prisma-todomvc/sandbox.config.json
Labels: @trpc/react, 📚 documentation / examples, 🚀 merge

#389 todomvc docs
  examples/next-prisma-todomvc/README.md
  examples/next-prisma-todomvc/pages/[filter].tsx
Labels: 🚀 merge

#396 refactor(zod): update imports as v3 recommends
  examples/next-hello-world/pages/api/trpc/[trpc].ts
  examples/next-hello-world/pages/api/trpc/posts.ts
  examples/next-prisma-todomvc/pages/api/trpc/todoRouter.ts
  examples/next-ssg-chat/pages/api/trpc/[trpc].ts
  examples/playground/src/server.ts
  examples/standalone-server/src/server.ts
  packages/server/test/errors.test.ts
  packages/server/test/express.test.tsx
  packages/server/test/index.test.tsx
  packages/server/test/react.test.tsx
  packages/server/test/subscriptions.test.tsx
  packages/server/test/validators.test.ts
  www/docs/react/nextjs.md
  www/docs/server/procedures.md
Labels: 🚀 merge

#399 fix `Dict` export
  packages/server/src/types.ts
Labels: 🚀 merge

#393 add combined transformers
  README.md
  package.json
  packages/client/src/createTRPCClient.ts
  packages/react/src/ssg.ts
  packages/server/package.json
  packages/server/src/http.ts
  packages/server/src/transformer.ts
  packages/server/test/transformer.test.ts
  www/docs/server/data-transformers.md
  yarn.lock
Labels: 🚀 merge

#406 Docs: add mutation example
  www/docs/react/queries-and-mutations.md
Labels: 🚀 merge

#410 fix docs typo
  www/docs/react/queries-and-mutations.md
Labels: 🚀 merge

#416 add prettier to eslint config
  .eslintrc
  babel.config.js
  examples/next-hello-world/jest-playwright.config.js
  examples/next-hello-world/jest.config.js
  examples/next-prisma-todomvc/jest-playwright.config.js
  examples/next-prisma-todomvc/jest.config.js
  examples/next-prisma-todomvc/next.config.js
  examples/next-prisma-todomvc/utils/trpc.ts
  examples/next-ssg-chat/jest-playwright.config.js
  examples/next-ssg-chat/jest.config.js
  examples/next-ssg-chat/pages/api/trpc/[trpc].ts
  examples/next-ssg-chat/pages/index.tsx
  examples/next-ssg-chat/utils/trpc.ts
  package.json
  packages/next/src/withTRPC.tsx
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/internals/context.tsx
  packages/server/jest.config.js
  packages/server/src/procedure.ts
  packages/server/src/router.ts
  packages/server/test/next.test.ts
  packages/server/test/react.test.tsx
  www/sidebars.js
  yarn.lock
Labels: 🚀 merge

#415 add guards for `Object.prototype`-props
  packages/server/src/router.ts
  packages/server/test/errors.test.ts
Labels: @trpc/server, 🐛 bug

#444 add codeql analysis
  .github/workflows/codeql-analysis.yml
Labels: 🚀 merge
