Repository trpc/trpc, pull requests merged in 2022-09, with the labels that each got.

#2614 add `@next` on all v10 install docs
  packages/client/README.md
  packages/next/README.md
  packages/react/README.md
  packages/server/README.md
  www/docs/main/quickstart.mdx
  www/docs/nextjs/introduction.md
  www/docs/reactjs/introduction.md
  www/docs/server/aws-lambda.md
  www/docs/server/express.md
  www/docs/server/fastify.md
  www/docs/server/fetch.md
  www/versioned_docs/version-9.x/nextjs/introduction.md
  www/versioned_docs/version-9.x/reactjs/introduction.md
Labels: @trpc/react, @trpc/server, @trpc/client, @trpc/next, 🕸 www

#2613 fix: procedure meta typing
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/test/initTRPC.test.ts
Labels: @trpc/server

#2617 feat: expose `createInputMiddleware`
  packages/server/src/core/index.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/server/src/deprecated/interop.ts
Labels: @trpc/server

#2602 unversion docs
  README.md
  www/docs/main/awesome-trpc.mdx
  www/docs/main/contributing.mdx
  www/docs/main/love.mdx
  www/docs/main/sponsors.mdx
  www/src/components/GithubSponsorButton.tsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.push.ts
  www/src/css/custom.css
  www/unversioned/_contributing.mdx
  www/unversioned/_love.mdx
  www/unversioned/_sponsors.mdx
  www/versioned_docs/version-9.x/main/contributing.md
  www/versioned_docs/version-9.x/main/contributing.mdx
  www/versioned_docs/version-9.x/main/love.mdx
  www/versioned_docs/version-9.x/main/sponsors.md
  www/versioned_docs/version-9.x/main/sponsors.mdx
Labels: 🕸 www

#2616 remove `proxy` from trpc/next
  .tmp/v10-docs.md
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-minimal-starter/src/pages/index.tsx
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-sqlite/src/pages/index.tsx
  examples/next-prisma-starter-sqlite/src/pages/post/[id].tsx
  examples/next-prisma-starter-sqlite/src/server/routers/post.test.ts
  examples/next-prisma-starter-sqlite/src/utils/trpc.ts
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/README.md
  packages/next/package.json
  packages/next/src/setupNext.tsx
  packages/react/package.json
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/src/index.ts
  packages/react/src/shared/index.ts
  packages/react/src/shared/proxy/decorationProxy.ts
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/server/test/abortQuery.test.ts
  rollup.config.ts
  www/docs/client/header.md
  www/docs/nextjs/introduction.md
  www/docs/nextjs/ssg.md
  www/docs/reactjs/introduction.md
  www/docs/reactjs/invalidateQueries.md
  www/docs/reactjs/ssg-helpers.md
  www/docs/reactjs/useInfiniteQuery.md
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQuery.md
  www/docs/server/error-formatting.md
  www/package.json
Labels: @trpc/react, @trpc/server, @trpc/next, 🕸 www

#2619 fix: suppress React Query errors in tests
  packages/server/test/___testHelpers.ts
  packages/server/test/__queryClient.ts
  packages/server/test/interop/react/__testHelpers.tsx
  packages/server/test/interop/react/formatError.test.tsx
  packages/server/test/interop/react/infiniteQuery.test.tsx
  packages/server/test/interop/react/invalidateQueries.test.tsx
  packages/server/test/interop/react/prefetchQuery.test.tsx
  packages/server/test/interop/react/setInfiniteQueryData.test.tsx
  packages/server/test/interop/react/setQueryData.test.tsx
  packages/server/test/interop/react/useMutation.test.tsx
  packages/server/test/interop/react/useQuery.test.tsx
  packages/server/test/interop/react/useSubscription.test.tsx
  packages/server/test/interop/regression/issue-990-initialData.test.tsx
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/interop-basic.test.tsx
Labels: @trpc/server

#2626 fix(docs) typo on initTRPC context call
  www/docs/server/context.md
Labels: 🕸 www

#2630 fix typo in express adapter
  www/docs/server/express.md
Labels: 🕸 www

#2629 Typo
  www/versioned_docs/version-9.x/server/error-formatting.md
Labels: 🕸 www

#2631 Fix typos in server docs
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/middlewares.md
Labels: 🕸 www

#2624 fix: make v10 calls exclusive to v10 procedures
  .github/workflows/examples.yml
  .vscode/settings.json
  examples/.interop/next-minimal-starter-migration/.eslintrc.js
  examples/.interop/next-minimal-starter-migration/next-env.d.ts
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter-migration/src/pages/_app.tsx
  examples/.interop/next-minimal-starter-migration/src/pages/api/trpc/[trpc].ts
  examples/.interop/next-minimal-starter-migration/src/pages/index.tsx
  examples/.interop/next-minimal-starter-migration/src/utils/trpc.ts
  examples/.interop/next-minimal-starter-migration/tsconfig.json
  packages/client/src/createTRPCClientProxy.ts
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/server/src/deprecated/interop.ts
  packages/server/src/shared/index.ts
  packages/server/test/react/interop-basic.test.tsx
Labels: @trpc/react, @trpc/server, @trpc/client

#2628 make react query cancellation configurable
  packages/client/src/internals/TRPCClient.ts
  packages/next/src/withTRPC.tsx
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/internals/context.tsx
Labels: @trpc/react, @trpc/client, @trpc/next

#2633 fix: v9 to v10 ts perf
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/server/test/react/interopBasic.test.tsx
  packages/server/test/react/interopBig.test.tsx
  packages/server/test/react/interopBigCompiled.test.tsx
  scripts/generateBigBoi.ts
  scripts/generateBigLegacyRouter.ts
  www/package.json
Labels: @trpc/react, @trpc/server

#2635 improve dx for legacy/interop
  examples/.interop/next-minimal-starter-migration/src/utils/trpc.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/react/src/createTRPCReact.tsx
  packages/react/src/index.ts
  packages/react/src/internals/createHooksInternal.tsx
  packages/react/src/interop.ts
  packages/react/src/shared/index.ts
  packages/react/src/shared/proxy/decorationProxy.ts
  packages/server/test/interop/react/__testHelpers.tsx
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/interopBasic.test.tsx
  packages/server/test/react/interopBig.test.tsx
  packages/server/test/react/interopBigCompiled.test.tsx
Labels: @trpc/react, @trpc/server, @trpc/client

#2636 simplify `@trpc/react` output
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createTRPCReact.tsx
  packages/react/src/interop.ts
  packages/server/package.json
  www/package.json
Labels: @trpc/react

#2637 refactor(@trpc/next): rename `setupTRPC` -> `createTRPCNext`
  .tmp/v10-docs.md
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-minimal-starter/src/utils/trpc.ts
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-sqlite/src/utils/trpc.ts
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/src/utils/trpc.ts
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/src/utils/trpc.ts
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/README.md
  packages/next/package.json
  packages/next/src/createTRPCNext.tsx
  packages/next/src/index.ts
  packages/react/package.json
  packages/react/src/createTRPCReact.tsx
  packages/react/src/interop.ts
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/index.ts
  packages/react/src/shared/proxy/decorationProxy.ts
  packages/server/package.json
  packages/server/test/interop/react/__testHelpers.tsx
  www/docs/client/header.md
  www/docs/client/links.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
  www/docs/nextjs/ssr.md
  www/docs/server/caching.md
  www/docs/server/data-transformers.md
  www/package.json
Labels: @trpc/react, @trpc/server, @trpc/next, 🕸 www

#2640 fix `createTRPCReact` types and expose context props
  .vscode/settings.json
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/next/src/createTRPCNext.tsx
  packages/react/package.json
  packages/react/src/createTRPCReact.tsx
  packages/react/src/internals/context.tsx
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/server/test/___testHelpers.ts
  packages/server/test/react/createClient.test.tsx
  packages/server/test/react/useContext.test.tsx
  www/package.json
Labels: @trpc/react, @trpc/server, @trpc/next

#2642 remove some typecasts in client
  packages/client/src/internals/TRPCClient.ts
Labels: @trpc/client

#2647 adds docs for abortOnUnmount
  www/docs/client/aborting-procedures.md
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#2649 docs: update fastify docs to remove deprecated listen
  www/docs/server/fastify.md
  www/versioned_docs/version-9.x/server/fastify.md
Labels: 🕸 www

#2600 refactor(server): removes teardown option
  examples/.interop/next-prisma-todomvc/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-todomvc/src/pages/api/trpc/[trpc].ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/types.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: @trpc/server, 🕸 www

#2657 docs/jlalmes-landing-ui
  .vscode/settings.json
  README.md
  www/package.json
  www/src/components/Button.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/components/GithubStarsButton.tsx
  www/src/components/TopSponsors.tsx
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
  www/src/components/TwitterWall/script.ts
  www/src/components/TwitterWall/tweets.ts
  www/src/components/sponsors/script.output.ts
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/tailwind.config.js
  www/tsconfig.json
  www/unversioned/_sponsors.mdx
  yarn.lock
Labels: 🕸 www

#2662 migration guide improvements
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/server/merging-routers.md
  www/docs/server/metadata.md
  www/docs/server/procedures.md
  www/docs/server/router.md
  www/sidebars.js
Labels: 🕸 www

#2656 feat: propagate websocket close code to close listener
  packages/client/src/links/wsLink.ts
Labels: @trpc/client

#2664 fix sync issue with theme
  www/docusaurus.config.js
  www/docusaurus.preferredTheme.js
  www/package.json
  yarn.lock
Labels: 🕸 www

#2668 [www] features expanded
  www/src/components/Features.tsx
Labels: 🕸 www

#2661 feat(www): revamps twitter wall spacing to be more consistent
  www/package.json
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
  www/src/components/TwitterWall/script.ts
  www/tailwind.config.js
  yarn.lock
Labels: 🕸 www

#2673 feat: tighter buttons on mobile
  www/src/components/Button.tsx
Labels: 🕸 www

#2670 add next-minimal stackblitz-embed
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-minimal-starter/src/pages/index.tsx
  examples/next-minimal-starter/src/utils/trpc.ts
  www/src/components/Button.tsx
  www/src/components/GithubStarsButton.tsx
  www/src/components/SectionTitle.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: 🕸 www

#2676 fix: localstorage version
  www/src/pages/index.tsx
Labels: 🕸 www

#2677 docs: updating ssr docs
  examples/express-trpc-shield/README.md
  examples/next-prisma-starter/src/utils/trpc.ts
  packages/client/src/internals/TRPCClient.ts
  www/docs/client/header.md
  www/docs/nextjs/ssr.md
  www/versioned_docs/version-9.x/nextjs/ssr.md
Labels: @trpc/client, 🕸 www

#2680 fix: sandbox iframe focus
  www/src/pages/index.tsx
Labels: 🕸 www

#2686 perf: Remove OmitNeverKeys extra computations
  examples/next-prisma-starter/src/utils/trpc.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/react/src/createTRPCReact.tsx
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/procedure.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/types.ts
  www/docs/nextjs/ssr.md
  www/versioned_docs/version-9.x/nextjs/ssr.md
Labels: @trpc/react, @trpc/server, @trpc/client, 🕸 www

#2691 tRPC v10 (w/ Fetch Adapter) + SvelteKit example
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#2692 www/quick-ui-wins
  www/src/components/Button.tsx
  www/src/components/Features.tsx
  www/src/components/GithubStarsButton.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: 🕸 www

#2696 [docs/www] Small fix to context docs example code
  www/docs/server/context.md
Labels: 🕸 www

#2695 feat(www): adds quick introduction section
  www/docs/landing-intro/Step1.md
  www/docs/landing-intro/Step2.md
  www/docs/landing-intro/Step3.md
  www/src/components/QuickIntro.tsx
  www/src/pages/index.tsx
  www/types.d.ts
  yarn.lock
Labels: 🕸 www

#2698 fix createTRPCNext types
  packages/next/src/withTRPC.tsx
Labels: @trpc/next

#2699 www: add border & shadow around `QuickIntro`
  www/docs/landing-intro/Step1.md
  www/src/components/Button.tsx
  www/src/components/QuickIntro.tsx
Labels: 🕸 www

#2701 separate section and section content?
  www/src/components/QuickIntro.tsx
  www/src/pages/index.tsx
Labels: 🕸 www

#2704 fix(www): use version from context
  www/src/pages/index.tsx
Labels: 🕸 www

#2705 feat(www): query param to specify version
  www/src/pages/index.tsx
Labels: 🕸 www

#2716 turbo types
  packages/client/src/TRPCClientError.ts
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCClient.ts
  packages/react/src/createTRPCReact.tsx
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/react/src/ssg/ssgProxy.ts
  packages/server/src/core/index.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/shared/index.ts
  packages/server/src/types.ts
  scripts/generateBigBoi.ts
  scripts/generateMergeRouters.ts
Labels: @trpc/react, @trpc/server, @trpc/client

#2720 [docs] Add missing opening bracket
  www/docs/server/metadata.md
Labels: 🕸 www

#2719 update some react docs
  www/docs/reactjs/introduction.md
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQuery.md
  www/src/css/custom.css
Labels: 🕸 www

#2727 Fix import typo introduction.md
  www/versioned_docs/version-9.x/reactjs/introduction.md
Labels: 🕸 www

#2725 fix: typo for migration docs
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#2729 refactor: remove client stuff
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCClient.ts
  packages/server/test/interop/adapters/fetch.test.ts
  packages/server/test/interop/dataloader.test.ts
  packages/server/test/interop/headers.test.tsx
  packages/server/test/interop/inference.test.ts
  packages/server/test/interop/links.test.ts
  packages/server/test/react/interopBigCompiled.test.tsx
Labels: @trpc/server, @trpc/client

#2734 fix(www): update docs regarding client initialization
  www/docs/client/cors.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
  www/docs/nextjs/ssr.md
  www/docs/reactjs/introduction.md
  www/docs/server/caching.md
Labels: 🕸 www

#2732 chore: added tRPC devtools extension to awesome collection
  www/docs/main/awesome-trpc.mdx
  www/versioned_docs/version-9.x/main/awesome-trpc.mdx
Labels: 🕸 www

#2742 add pagination to next.js example
  examples/next-prisma-starter/prisma/migrations/20220918091608_pagination/migration.sql
  examples/next-prisma-starter/prisma/migrations/20220918134120_revert/migration.sql
  examples/next-prisma-starter/prisma/schema.prisma
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-starter/src/utils/trpc.ts
  www/vercel.json
Labels: 🕸 www

#2746 refactor(www): more consistent and minimal design
  www/docs/landing-intro/Step3.md
  www/src/components/Features.tsx
  www/src/components/Preview.tsx
  www/src/components/QuickIntro.tsx
  www/src/components/SectionTitle.tsx
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: ♻️ autoupdate, 🕸 www

#2748 add old blog post
  www/blog/2021-03-03-hello-world.md
  www/blog/2021-05-05-hello-world.md
Labels: 🕸 www

#2743 feat(www): make v10 the default view
  www/docusaurus.config.js
  www/global.d.ts
  www/src/components/Preview.tsx
  www/src/components/QuickIntro.tsx
  www/src/components/SectionTitle.tsx
  www/src/components/TopSponsors.tsx
  www/src/components/useVersion.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/src/theme/DocVersionBanner/index.tsx
  www/vercel.json
Labels: ♻️ autoupdate, 🕸 www

#2753 chore: fix typo in QuickIntro
  www/src/components/QuickIntro.tsx
Labels: 🕸 www

#2755 feat(www): nicer sponsor button on landing page
  README.md
  www/src/components/GithubSponsorButton.tsx
  www/src/components/sponsors/script.output.ts
  www/src/pages/index.tsx
  www/unversioned/_contributing.mdx
  www/unversioned/_sponsors.mdx
Labels: ♻️ autoupdate, 🕸 www

#2762 [docs/wwww] reword ssr for v10
  www/docs/nextjs/ssg-helpers.md
  www/docs/nextjs/ssr.md
  www/sidebars.js
  www/versioned_docs/version-9.x/nextjs/ssg-helpers.md
  www/versioned_sidebars/version-9.x-sidebars.json
Labels: 🕸 www

#2766 fix(www): fix mobile spacing
  www/src/components/Features.tsx
  www/src/components/TwitterWall/index.tsx
  www/src/pages/index.tsx
Labels: 🕸 www

#2767 chore: eslint rules
  .eslintrc
  examples/.interop/next-minimal-starter-migration/.eslintrc
  examples/.interop/next-minimal-starter-migration/.eslintrc.js
  examples/.interop/next-minimal-starter/.eslintrc
  examples/.interop/next-minimal-starter/.eslintrc.js
  examples/.interop/next-prisma-starter-websockets/src/server/routers/post.ts
  examples/next-big-router/.eslintrc
  examples/next-big-router/.eslintrc.js
  examples/next-minimal-starter/.eslintrc
  examples/next-minimal-starter/.eslintrc.js
  examples/next-prisma-starter-websockets/src/server/routers/post.ts
  packages/client/src/links/splitLink.ts
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/adapters/aws-lambda/utils.ts
  packages/server/src/adapters/lambda/index.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/config.ts
  packages/server/src/core/internals/getParseFn.ts
  packages/server/src/core/internals/mergeWithoutOverrides.ts
  packages/server/src/core/internals/omitPrototype.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/server/src/core/types.ts
  packages/server/src/deprecated/internals/middlewares.ts
  packages/server/src/deprecated/internals/procedure.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/error/formatter.ts
  packages/server/src/http/internals/getHTTPStatusCode.ts
  packages/server/src/internals/invert.ts
  packages/server/src/observable/internals/identity.ts
  packages/server/src/observable/internals/pipe.ts
  packages/server/src/observable/types.ts
  packages/server/src/rpc/codes.ts
  packages/server/src/rpc/internals/invert.ts
  packages/server/src/types.ts
Labels: @trpc/react, @trpc/server, @trpc/client

#2771 fix(example): fix websocket build
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/README.md
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  packages/next/package.json
  packages/next/src/withTRPC.tsx
  packages/react/package.json
  packages/server/package.json
  yarn.lock
Labels: ♻️ autoupdate

#2775 feat(docs): readme tweaks
  README.md
  www/docusaurus.config.js
Labels: ♻️ autoupdate, 🕸 www

#2758 bug: utils.setData updaterFn has implicit any
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/internals/context.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  yarn.lock
Labels: @trpc/react, ♻️ autoupdate

#2562 Fix subtle PromiseLike errors with `ProxyPromiseGuard`
  packages/client/src/createTRPCClientProxy.ts
  packages/server/src/core/router.ts
  packages/server/src/shared/createProxy/index.ts
  packages/server/test/react/interopBasic.test.tsx
  packages/server/test/reservedWords.test.ts
Labels: @trpc/server, @trpc/client

#2785 fix: upgrade to typescript 4.8 & fix type errors
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter-migration/src/pages/api/trpc/[trpc].ts
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  package.json
  packages/server/package.json
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/deprecated/internals/callProcedure.ts
  packages/server/src/deprecated/router.ts
  packages/server/test/___testHelpers.ts
  packages/server/test/interop/links.test.ts
  packages/server/test/interop/middleware.test.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/package.json
  yarn.lock
Labels: 🐛 bug, @trpc/server, 🕸 www

#2784 feat(server): adds TOO_MANY_REQUESTS error code
  packages/server/src/http/internals/getHTTPStatusCode.ts
  packages/server/src/rpc/codes.ts
  www/docs/server/error-handling.md
Labels: @trpc/server, 🕸 www

#2790 docs: fix missing import in Next.js docs
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#2791 export DecorateProcedure
  packages/react/src/createTRPCReact.tsx
  packages/react/src/index.ts
  packages/react/src/shared/index.ts
Labels: @trpc/react, ♻️ autoupdate

#2793 fix peer deps
  .npmrc
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  pnpm-lock.yaml
  www/.npmrc
  www/package.json
Labels: 🚧 wip

#2792 fix(www): use pnpm in README commands
  www/README.md
Labels: 🕸 www

#2787 feat(www): social icons
  www/docusaurus.config.js
  www/src/css/custom.css
Labels: 🕸 www

#2536 improve dx for type inference
  packages/server/src/core/types.ts
  www/docs/server/infer-types.md
Labels: @trpc/server, blocked, ♻️ autoupdate, 🕸 www

#2801 remove unnecessary no hoist
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#2803 chore(www): update tweet wall
  www/src/components/TwitterWall/script.output.ts
Labels: ♻️ autoupdate, 🕸 www

#2805 More professional banner phrasing.
  www/src/theme/DocVersionBanner/index.tsx
Labels: 🕸 www

#2811 docs(ssg-helpers): Improve SSG helpers with `prefetch` vs. `fetch` and real context creation
  www/docs/nextjs/ssg-helpers.md
Labels: 🕸 www

#2739 fix(www): nextjs usage config markdown
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#2816 v10 migration guide cleanup
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/server/infer-types.md
  www/src/css/custom.css
Labels: 🕸 www

#2827 fix `createCaller` inference for interop
  packages/server/src/core/router.ts
  packages/server/test/regression/issue-2824-createCaller.test.ts
Labels: @trpc/server

#2826 Changed 'customize' to 'customized'(Typo fix)
  www/versioned_docs/version-9.x/client/header.md
Labels: 🕸 www

#2817 added create-jd-app to awesome-trpc
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#2821 add repro link
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Labels: ♻️ autoupdate

#2823 removes access to queryclient via context
  packages/next/src/createTRPCNext.tsx
  packages/react/src/internals/context.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
Labels: @trpc/react, ♻️ autoupdate, @trpc/next

#2839 add test for zod default
  packages/server/test/input.test.ts
Labels: @trpc/server

#2846 fix: proxies & promises
  packages/next/src/createTRPCNext.tsx
  packages/react/src/createTRPCReact.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/react/src/ssg/ssgProxy.ts
  packages/server/src/shared/createProxy/index.ts
  packages/server/test/regression/issue-2842-createSSGHelpers-promise.test.ts
Labels: @trpc/react, @trpc/server, @trpc/next

#2857 Update error-handling.md
  www/docs/server/error-handling.md
Labels: 🕸 www

#2848 docs(awesome-trpc): add `astro-trpc` package
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www
