Repository trpc/trpc, pull requests merged in 2022-11, with the labels that each got.

#3100 docs: Doc version banner for Release Candidate
  www/src/theme/DocVersionBanner/index.tsx
Labels: 🕸 www

#3099 fix(typo): rename getMessageFromUnkownError to getMessageFromUnknownE…
  packages/server/src/error/TRPCError.ts
  packages/server/src/error/utils.ts
  packages/server/test/interop/errors.test.ts
Labels: @trpc/server

#3098 fix: pass ReactQueryContext to useQueryClient in useMutation
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
Labels: @trpc/react-query

#3108 add client proxy to react-query utils
  packages/client/src/createTRPCClientProxy.ts
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/tests/server/react/createClient.test.tsx
  packages/tests/server/react/useContext.test.tsx
  www/docs/reactjs/useContext.mdx
Labels: @trpc/client, ♻️ autoupdate, 🕸 www, @trpc/react-query

#3105 improve initTRPC test coverage
  packages/tests/server/initTRPC.test.ts
Labels: ♻️ autoupdate

#3124 fix types for invalidating routers
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/react/invalidateRouters.test.tsx
  packages/tests/server/react/useContext.test.tsx
  packages/tests/server/regression/issue-2942-useInfiniteQuery-setData.test.tsx
  www/docs/reactjs/useContext.mdx
  www/docs/reactjs/useInfiniteQuery.md
Labels: 🕸 www, @trpc/react-query

#3126 improve context swapping docs
  www/docs/server/middlewares.md
Labels: ♻️ autoupdate, 🕸 www

#3133 test: improve core/router ut coverage.
  packages/server/src/core/router.ts
  packages/tests/server/caller.test.ts
  packages/tests/server/router.test.ts
Labels: @trpc/server, ♻️ autoupdate

#3138 fix: rm lint warning
  packages/tests/server/react/useContext.test.tsx
Labels: ♻️ autoupdate

#3137 add experimental `useSuspenseQuery()`
  packages/next/src/createTRPCNext.tsx
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/interop.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/proxy/decorationProxy.ts
  packages/tests/server/react/__reactHelpers.tsx
  packages/tests/server/react/useQuery.test.tsx
  www/docs/reactjs/suspense.md
Labels: ♻️ autoupdate, @trpc/next, 🕸 www, @trpc/react-query

#3154 improve some docs
  www/docs/reactjs/suspense.md
  www/docs/server/procedures.md
Labels: 🕸 www

#3140 docs: add trpc-koa-adapter
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3160 Touchups for home page.
  www/src/components/Features.tsx
  www/src/components/QuickIntro.tsx
  www/src/pages/index.tsx
Labels: 🕸 www

#3161 Docs intro: Minor nitpicks and cleanup.
  www/docs/main/introduction.mdx
Labels: ♻️ autoupdate, 🕸 www

#3162 More clarity for quickstart.
  packages/client/README.md
  packages/next/README.md
  packages/react-query/README.md
  packages/server/README.md
  www/docs/main/quickstart.mdx
  www/docs/nextjs/introduction.md
  www/docs/reactjs/introduction.md
  www/docs/server/adapter/aws-lambda.md
  www/docs/server/adapter/express.md
  www/docs/server/adapter/fastify.md
  www/docs/server/adapter/fetch.md
  www/src/css/custom.css
Labels: @trpc/server, @trpc/client, ♻️ autoupdate, @trpc/next, 🕸 www, @trpc/react-query

#3168 www: some v10 prep
  README.md
  www/docs/client/links/index.md
  www/docs/client/links/wsLink.md
  www/docs/nextjs/introduction.md
  www/docusaurus.config.js
  www/sidebars.js
  www/src/components/sponsors/script.output.ts
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/src/theme/DocVersionBanner/index.tsx
  www/unversioned/_sponsors.mdx
  www/vercel.json
Labels: 🕸 www

#3171 fix(types): export AnyRootConfig from internals
  packages/server/src/internals.ts
Labels: @trpc/server

#3170 feat: Add type to react-query query key - Attempt round 2!
  packages/react-query/src/internals/getArrayQueryKey.test.ts
  packages/react-query/src/internals/getArrayQueryKey.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/ssg/ssg.ts
  packages/tests/server/interop/react/dehydrate.test.tsx
  packages/tests/server/react/useContext.test.tsx
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: ♻️ autoupdate, 🕸 www, @trpc/react-query

#3175 docs: remove unused const from example
  www/docs/nextjs/ssr.md
Labels: 🕸 www

#3184 Simplify and clean up Next.js usage page.
  www/docs/nextjs/introduction.mdx
Labels: 🕸 www

#3197 Clarity for Usage with React page.
  www/docs/nextjs/introduction.mdx
  www/docs/reactjs/introduction.mdx
Labels: 🕸 www

#3200 Content sliders.
  www/docs/main/awesome-trpc.mdx
  www/src/components/ContentSlider.tsx
Labels: 🕸 www

#3201 Clarity for router defining doc.
  www/docs/server/router.md
Labels: ♻️ autoupdate, 🕸 www

#3208 add media page
  www/docs/main/introduction.mdx
  www/src/pages/media.tsx
  www/src/theme/Navbar/Logo/index.js
  www/static/img/logo-no-text.svg
  www/static/img/logo-text-black.svg
  www/static/img/logo-text-white.svg
  www/static/img/logo-text.svg
  www/versioned_docs/version-9.x/main/introduction.mdx
Labels: ♻️ autoupdate, 🕸 www

#3183 Iterate on layout.
  www/docs/main/example-apps.mdx
  www/docs/main/quickstart.mdx
Labels: ♻️ autoupdate, 🕸 www

#3214 fix logo text
  www/docs/main/introduction.mdx
Labels: 🕸 www

#3218 tweak media page
  www/src/theme/Navbar/Logo/index.js
Labels: 🕸 www

#3219 Fix Shoutout double up in V10 Blog Post
  www/blog/2022-11-21-announcing-trpc-10.mdx
Labels: 🕸 www

#3125 fix versions in `packages/tests`
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/main.yml
  package.json
  packages/tests/package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#3240 www: update next-minimal template iframe link
  www/src/pages/index.tsx
Labels: 🕸 www

#3253 docs: add tip about (de)serialization of complex objects using superjson
  www/docs/main/quickstart.mdx
Labels: 🕸 www

#3238 test: porting v10 for `adapters/awsLambda`
  packages/tests/server/adapters/awsLambda.test.tsx
Labels: ♻️ autoupdate

#3242 docs: replace zART with create-t3-turbo and move ct3a to starting points
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3237 test: port `validators.test.ts` tests to v10
  packages/tests/server/validators.test.ts
Labels: ♻️ autoupdate

#3243 fix(www): collapsible sidebar and breadcrumb cant go to new page (#3230)
  www/sidebars.js
Labels: ♻️ autoupdate, 🕸 www

#3262 test: port transformer tests for v10
  packages/tests/server/transformer.test.ts
Labels: ♻️ autoupdate

#3263 chore(www): sidebar tweaks
  pnpm-lock.yaml
  www/package.json
  www/sidebars.js
Labels: ♻️ autoupdate, 🕸 www

#3261 feat: automatically serialize JSON to equivalent type
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCClient.ts
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/react-query/src/ssg/ssgProxy.ts
  packages/server/src/core/types.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/shared/index.ts
  packages/server/src/shared/internal/serialize.ts
  packages/server/src/shared/jsonify.ts
  packages/server/src/types.ts
  packages/tests/server/interop/index.test.tsx
  packages/tests/server/jsonify.test.ts
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/regression/issue-2942-useInfiniteQuery-setData.test.tsx
  www/docs/main/quickstart.mdx
Labels: @trpc/server, @trpc/client, 🕸 www, @trpc/react-query

#3271 test: port inference, links, outputParser, withTRPC to v10
  packages/tests/server/inference.test.ts
  packages/tests/server/inferenceUtils.ts
  packages/tests/server/links.test.ts
  packages/tests/server/outputParser.test.ts
  packages/tests/server/react/withTRPC.test.tsx
Labels: ♻️ autoupdate

#3274 fix: versions in test package
  packages/tests/package.json
Labels: ♻️ autoupdate

#3275 Make CI checks to run on all pull requests
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/subtree.yml
Labels: ♻️ autoupdate

#3248 docs: minor fixes
  www/docs/client/aborting-procedures.md
  www/docs/client/cors.md
  www/docs/client/header.md
  www/docs/client/links/index.md
  www/docs/client/links/loggerLink.md
  www/docs/client/links/splitLink.mdx
  www/docs/client/links/wsLink.md
  www/docs/client/vanilla.md
  www/docs/main/introduction.mdx
  www/docs/main/quickstart.mdx
  www/docs/nextjs/introduction.mdx
  www/docs/reactjs/introduction.mdx
  www/docs/server/adapter/aws-lambda.md
  www/docs/server/adapter/fastify.md
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/context.md
  www/docs/server/data-transformers.md
  www/docs/server/error-handling.md
  www/docs/server/middlewares.md
  www/docs/server/output-validation.md
  www/docs/server/procedures.md
  www/docs/server/router.md
  www/docs/server/server-side-calls.md
Labels: ♻️ autoupdate, 🕸 www

#2783 fix: resubscribe on reconnect
  packages/client/src/links/wsLink.ts
Labels: @trpc/client, ♻️ autoupdate

#3267 Update yarn install documentation
  packages/next/README.md
Labels: ♻️ autoupdate, @trpc/next

#3147 docs: add iron-session to awesome-trpc collection
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3264 hide never values in intellisense for jsonify
  packages/server/src/shared/internal/serialize.ts
Labels: @trpc/server, ♻️ autoupdate

#2986 add SOA example
  .github/workflows/examples.yml
  examples/soa/README.md
  examples/soa/client/client.ts
  examples/soa/client/index.ts
  examples/soa/faux-gateway/index.ts
  examples/soa/package.json
  examples/soa/server-a/index.ts
  examples/soa/server-a/router.ts
  examples/soa/server-b/index.ts
  examples/soa/server-b/router.ts
  examples/soa/server-lib/index.ts
  examples/soa/tsconfig.json
  pnpm-lock.yaml
  www/vercel.json
Labels: ♻️ autoupdate

#3278 docs: update sponsor link
  README.md
  www/docusaurus.config.js
  www/src/components/GithubSponsorButton.tsx
  www/src/components/sponsors/TopSponsors.tsx
  www/src/pages/index.tsx
  www/unversioned/_sponsors.mdx
Labels: ♻️ autoupdate, 🕸 www

#3281 fix soa example build
  examples/soa/package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#3280 chore: rm v9 iframe from homepage
  www/src/pages/index.tsx
Labels: ♻️ autoupdate, 🕸 www

#3226 docs: ✏️ SIWE Example Application
  www/docs/main/awesome-trpc.mdx
  www/docs/main/example-apps.mdx
Labels: ♻️ autoupdate, 🕸 www

#3291 www: add canonical urls for duplicated pages
  www/docs/main/awesome-trpc.mdx
  www/unversioned/_contributing.mdx
  www/unversioned/_love.mdx
  www/unversioned/_sponsors.mdx
Labels: ♻️ autoupdate, 🕸 www

#3142 feat: add `reset()` to utils proxy
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/tests/server/react/useContext.test.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#3296 fix: rm `charset`
  www/src/pages/index.tsx
Labels: ♻️ autoupdate, 🕸 www

#3304 fix: `interop()` types not taking transformers into account
  packages/client/src/internals/TRPCClient.ts
  packages/tests/server/interop/regression/issue-3303-transformer.test.ts
Labels: @trpc/client

#3299 chore: tweak `getPostBody`
  packages/server/src/adapters/node-http/internals/getPostBody.ts
Labels: @trpc/server, ♻️ autoupdate

#3301 docs: grammar fixes
  README.md
  www/docs/further/further-reading.md
  www/docs/further/rpc.md
  www/docs/further/subscriptions.md
  www/docs/main/awesome-trpc.mdx
  www/docs/main/edge-runtimes.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/ssg-helpers.md
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/reactjs/useContext.mdx
  www/docs/reactjs/useQuery.md
Labels: ♻️ autoupdate, 🕸 www

#3294 feat: better handling for bad responses
  packages/client/src/links/internals/transformResult.ts
  packages/tests/server/regression/issue-3085-bad-responses.test.ts
Labels: @trpc/client, ♻️ autoupdate

#3290 test: add remaining tests to v10
  packages/client/src/createTRPCClientProxy.ts
  packages/react-query/src/createTRPCReact.tsx
  packages/tests/server/clientInternals.test.ts
  packages/tests/server/dataloader.test.ts
  packages/tests/server/errors.test.ts
  packages/tests/server/index.test.ts
Labels: @trpc/client, ♻️ autoupdate, @trpc/react-query

#3315 fix: cloudflare-workers & vercel-edge-runtime dev-test and run tests in CI
  .github/workflows/examples.yml
  examples/cloudflare-workers/package.json
  examples/cloudflare-workers/src/client.ts
  examples/cloudflare-workers/src/index.ts
  examples/vercel-edge-runtime/package.json
  examples/vercel-edge-runtime/src/client.ts
  www/docs/server/adapter/fetch.mdx
Labels: ♻️ autoupdate, 🕸 www
