Repository trpc/trpc, pull requests merged in 2022-02, with the labels that each got.

#1511 feat: Fastify adapter
  examples/fastify-server/.gitignore
  examples/fastify-server/README.md
  examples/fastify-server/package.json
  examples/fastify-server/sandbox.config.json
  examples/fastify-server/src/client/client.ts
  examples/fastify-server/src/client/index.ts
  examples/fastify-server/src/client/polyfill.ts
  examples/fastify-server/src/config.ts
  examples/fastify-server/src/server/index.ts
  examples/fastify-server/src/server/router/context.ts
  examples/fastify-server/src/server/router/createRouter.ts
  examples/fastify-server/src/server/router/index.ts
  examples/fastify-server/src/server/router/routers/api.ts
  examples/fastify-server/src/server/router/routers/posts.ts
  examples/fastify-server/src/server/router/routers/sub.ts
  examples/fastify-server/src/server/server.ts
  examples/fastify-server/tsconfig.json
  packages/server/adapters/fastify/package.json
  packages/server/package.json
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fastify/fastifyTRPCPlugin.ts
  packages/server/src/adapters/fastify/index.ts
  packages/server/test/adapters/fastify-deprecated.test.tsx
  packages/server/test/adapters/fastify.test.ts
  packages/server/test/adapters/fastify.test.tsx
  www/docs/server/fastify.md
  www/sidebars.js
  yarn.lock
Labels: 🚀 merge, ♻️ autoupdate

#1528 add fastify test to ci
  .github/workflows/examples.yml
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/fastify-server/src/client/index.ts
  examples/fastify-server/src/server/server.ts
  examples/standalone-server/package.json
Labels: 🙋‍♂️ help wanted

#1535 docs: add imports
  www/docs/server/context.md
Labels: ♻️ autoupdate

#1544 Replace deprecated String.prototype.substr()
  examples/next-prisma-starter-websockets/test/playwright.test.ts
  examples/next-prisma-todomvc/test/playwright.test.ts
  packages/server/src/adapters/express.ts
  packages/server/src/adapters/standalone.ts
Labels: 🚀 merge, ♻️ autoupdate

#1533 improve README
  README.md
  www/static/img/logo-text-horizontal.png
Labels: 🚀 merge, ♻️ autoupdate

#1546 fixes more typos
  README.md
  examples/next-prisma-starter-websockets/README.md
  examples/next-prisma-starter/README.md
  examples/next-prisma-todomvc/README.md
  www/docs/main/example-apps.md
  www/docs/nextjs/starter-projects.md
Labels: ♻️ autoupdate

#1530 Feature/infinite query helpers
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/internals/context.tsx
  packages/server/test/react.test.tsx
  www/docs/react/useInfiniteQuery.md
Labels: 🚀 merge, ♻️ autoupdate

#1529 docs: make sure users anable the strict mode (for zod)
  www/docs/nextjs/nextjs.md
  www/docs/react/react-intro.md
Labels: ♻️ autoupdate

#1532 Vectorize logos
  README.md
  www/docs/main/introduction.md
  www/docusaurus.config.js
  www/static/img/logo-no-text.png
  www/static/img/logo-no-text.svg
  www/static/img/logo-text-horizontal.png
  www/static/img/logo-text.png
  www/static/img/logo-text.svg
Labels: ♻️ autoupdate

#1556 docs: update react introduction
  www/docs/react/react-intro.md
Labels: ♻️ autoupdate

#1560 refactor(examples) use playwright test runner
  .github/workflows/examples-node12.yml
  .github/workflows/examples.yml
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/.github/workflows/main.yml
  examples/next-prisma-starter/.gitignore
  examples/next-prisma-starter/jest.playwright.config.ts
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/playwright.config.ts
  examples/next-prisma-starter/playwright/smoke.test.ts
  examples/next-prisma-starter/tsconfig.json
  examples/next-prisma-todomvc/package.json
  package.json
  yarn.lock
Labels: ♻️ autoupdate
