Repository trpc/trpc, pull requests merged in 2022-01, with the labels that each got.

#1379 Add "Awesome tRPC"-section on website
  www/docs/further/awesome-trpc.mdx
  www/sidebars.js
Labels: ♻️ autoupdate

#1386 Make `invalidateQueries()` to align with `react-query`
  packages/react/src/internals/context.tsx
  packages/server/test/react.test.tsx
Labels: ♻️ autoupdate, 🙏 review please

#1455 fix `withTRPC()` response headers
  packages/next/src/withTRPC.tsx
Labels: 🐛 bug, @trpc/next

#1470 maxBatchSize docs
  www/docs/client/links.md
Labels: ♻️ autoupdate
