Repository trpc/trpc, pull requests merged in 2022-08, with the labels that each got.

#2165 chore: upgrade aws-lamda-gateway to v10
  examples/lambda-api-gateway/.gitignore
  examples/lambda-api-gateway/README.md
  examples/lambda-api-gateway/package.json
  examples/lambda-api-gateway/serverless.yml
  examples/lambda-api-gateway/src/client.ts
  examples/lambda-api-gateway/src/payloadFormatVersionClient.ts
  examples/lambda-api-gateway/src/server.ts
  examples/lambda-api-gateway/tsconfig.json
  packages/server/adapters/aws-lambda/index.js
  packages/server/package.json
  packages/server/rollup.config.js
  yarn.lock
Labels: 👋 free for all

#2397 Expose internals for new adapters/links
  packages/client/src/core/TRPCAbortError.ts
  packages/client/src/core/index.ts
  packages/client/src/core/transformRPCResponse.ts
  packages/client/src/index.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/server/src/TRPCError.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/core/callProcedure.ts
  packages/server/src/core/errors.ts
  packages/server/src/core/index.ts
  packages/server/src/core/transformTRPCResponse.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/index.ts
  packages/server/src/internals/procedure.ts
  packages/server/src/subscription.ts
  packages/server/test/errors.test.ts
Labels: @trpc/server, @trpc/client, 🕸 www

#2400 fix wss example type error
  examples/next-prisma-starter-websockets/src/pages/api/auth/[...nextauth].ts
Labels: 📚 documentation / examples, 🕸 www

#2399 Fix error code conditional
  www/docs/server/error-formatting.md
Labels: 📚 documentation / examples, 🕸 www

#2401 Added Remix adapter to awesome tRPC
  www/docs/main/awesome-trpc.mdx
Labels: 📚 documentation / examples, 🕸 www

#2404 feat(www): adjusts spacing and colors of landing page
  www/src/components/Features.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: 🕸 www

#2403 feat(www): restyles navbar
  www/docusaurus.config.js
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: 🕸 www

#2409 www(tweet wall): update script and pull latest
  www/.gitignore
  www/package.json
  www/src/components/TwitterWall/script.ts
  www/src/components/TwitterWall/tweets.ts
  www/yarn.lock
Labels: 🕸 www

#2411 Update SST branding + website
  www/docs/main/awesome-trpc.mdx
Labels: 📚 documentation / examples, 🕸 www

#2402 refactor observable chain to transform in links
  .eslintrc
  .github/workflows/main.yml
  .vscode/settings.json
  packages/client/src/TRPCClientError.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/links/dedupeLink.test.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/internals/createChain.test.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/links/internals/transformOperationResult.ts
  packages/client/src/links/internals/transformResult.ts
  packages/client/src/links/loggerLink.ts
  packages/client/src/links/retryLink.ts
  packages/client/src/links/types.ts
  packages/client/src/links/wsLink.ts
  packages/server/src/rpc/envelopes.ts
  packages/server/test/interop/links.test.ts
Labels: @trpc/server, @trpc/client, 🕸 www

#2408 restrict old and new procedures to their respective clients
  .eslintrc
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/.interop/standalone-server/src/server.ts
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-sqlite/src/pages/index.tsx
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  examples/standalone-server/src/client.ts
  examples/standalone-server/src/server.ts
  lerna.json
  packages/client/package.json
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCClient.ts
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/src/index.ts
  packages/server/package.json
  packages/server/src/core/index.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/router.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/types.ts
  packages/server/test/___testHelpers.ts
  packages/server/test/__reactHelpers.tsx
  packages/server/test/interop-basic.test.tsx
  packages/server/test/interop/headers.test.tsx
  packages/server/test/interop/index.test.tsx
  packages/server/test/interop/rawFetch.test.tsx
  packages/server/test/interop/react/__testHelpers.tsx
  packages/server/test/interop/regression/issue-990-initialData.test.tsx
  packages/server/test/interop/validators.test.ts
  packages/server/test/interop/websockets.test.ts
  packages/server/test/smoke.test.ts
  scripts/generateMergeRouters.ts
Labels: 📚 documentation / examples, @trpc/react, @trpc/server, @trpc/client, @trpc/next, 🕸 www

#2415 fix error inference
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/TRPCClientError.ts
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/bigBoi.test.tsx
  packages/server/test/react/errors.test.tsx
  packages/server/test/react/interop-basic.test.tsx
  packages/server/test/react/useContext.test.tsx
  packages/server/test/react/useMutation.test.tsx
  packages/server/test/react/useQuery.test.tsx
  packages/server/test/react/useSubscription.test.tsx
Labels: 📚 documentation / examples, @trpc/react, @trpc/server, @trpc/client, @trpc/next, 🕸 www

#2422 switch to swc and fix bundle warnings
  babel.config.js
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/.babelrc.json
  packages/server/package.json
  rollup.config.ts
  tsconfig.json
  yarn.lock
Labels: @trpc/react, @trpc/server, @trpc/client, @trpc/next, 🕸 www

#2385 simplify rollup setup
  .gitignore
  babel.config.js
  package.json
  packages/client/links/httpBatchLink/index.d.ts
  packages/client/links/httpBatchLink/index.js
  packages/client/links/httpLink/index.d.ts
  packages/client/links/httpLink/index.js
  packages/client/links/loggerLink/index.d.ts
  packages/client/links/loggerLink/index.js
  packages/client/links/splitLink/index.d.ts
  packages/client/links/splitLink/index.js
  packages/client/links/wsLink/index.d.ts
  packages/client/links/wsLink/index.js
  packages/client/package.json
  packages/client/rollup.config.js
  packages/next/LICENSE
  packages/next/package.json
  packages/next/rollup.config.js
  packages/react/LICENSE
  packages/react/README.md
  packages/react/package.json
  packages/react/rollup.config.js
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/ssg/index.d.ts
  packages/react/ssg/index.js
  packages/server/.babelrc.json
  packages/server/adapters/aws-lambda/index.d.ts
  packages/server/adapters/aws-lambda/index.js
  packages/server/adapters/express/index.d.ts
  packages/server/adapters/express/index.js
  packages/server/adapters/fastify/index.d.ts
  packages/server/adapters/fastify/index.js
  packages/server/adapters/fetch/index.d.ts
  packages/server/adapters/fetch/index.js
  packages/server/adapters/next/index.d.ts
  packages/server/adapters/next/index.js
  packages/server/adapters/node-http/index.d.ts
  packages/server/adapters/node-http/index.js
  packages/server/adapters/standalone/index.d.ts
  packages/server/adapters/standalone/index.js
  packages/server/adapters/ws/index.d.ts
  packages/server/adapters/ws/index.js
  packages/server/observable/index.d.ts
  packages/server/observable/index.js
  packages/server/package.json
  packages/server/rollup.config.js
  packages/server/rpc/index.d.ts
  packages/server/rpc/index.js
  packages/server/shared/index.d.ts
  packages/server/shared/index.js
  packages/server/subscription/index.d.ts
  packages/server/subscription/index.js
  packages/server/test/interop/websockets.test.ts
  packages/server/tsconfig.build.json
  rollup.config.ts
  scripts/entrypoints.ts
  scripts/rollup.js
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: @trpc/react, @trpc/server, @trpc/client, @trpc/next, 🕸 www

#2439 add trpc + fresh example to awesome list
  www/docs/main/awesome-trpc.mdx
Labels: 📚 documentation / examples, 🕸 www

#2438 fix nodemon wait-on scripts
  examples/.interop/express-server/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
Labels: 📚 documentation / examples, 🕸 www

#2444 docs: Added useTRPC() Vue 3 composable entry to awesome-trpc.mdx.
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#2452 Update migrate-from-v9-to-v10.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 📚 documentation / examples, 🕸 www

#2449 Update SSG helpers docs
  www/docs/reactjs/ssg-helpers.md
Labels: 🕸 www

#2423 Update aws-lambda.md
  www/docs/server/aws-lambda.md
Labels: 📚 documentation / examples, 🕸 www

#2454 add retries to flaky test
  packages/server/test/websockets.test.ts
Labels: @trpc/server

#2455 Next merge 2022 08 14
  .github/labeler.yml
  .github/pull_request_template.md
  examples/.interop/next-prisma-starter-websockets/src/pages/api/auth/[...nextauth].ts
  package.json
  www/docs/client/cors.md
  www/docs/main/awesome-trpc.mdx
  www/docs/reactjs/ssg-helpers.md
  www/docs/server/error-formatting.md
  yarn.lock
Labels: 🕸 www

#2456 Next merge 2022 08 14
  packages/server/test/interop/websockets.test.ts
Labels: @trpc/server

#2451 add proxy ssg helpers
  package.json
  packages/react/package.json
  packages/react/src/ssg/index.ts
  packages/react/src/ssg/ssg.ts
  packages/react/src/ssg/ssgProxy.ts
  packages/server/package.json
  packages/server/test/react/ssg.test.ts
  rollup.config.ts
  www/docs/nextjs/ssg.md
  www/docs/reactjs/ssg-helpers.md
  yarn.lock
Labels: @trpc/react, @trpc/server, 🕸 www

#2433 add Create caller docs
  www/docs/server/server-side-calls.md
  www/sidebars.js
Labels: 📚 documentation / examples, 🕸 www

#2425 feat: Move client context to trpc object
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/internals/TRPCClient.ts
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooks.tsx
  packages/server/package.json
  packages/server/test/interop/react/useMutation.test.tsx
  packages/server/test/interop/react/useQuery.test.tsx
  packages/server/test/interop/react/withTRPC.test.tsx
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/errors.test.tsx
  packages/server/test/react/trpc-options.test.tsx
  packages/server/test/react/useContext.test.tsx
  www/docs/client/links.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  yarn.lock
Labels: @trpc/react, @trpc/server, @trpc/client, 🕸 www

#2465 Documentation fix: useInfiniteQuery
  www/docs/reactjs/useInfiniteQuery.md
Labels: 🕸 www

#2467 fix `TRPCClient` type inference
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/TRPCClientError.ts
  packages/client/src/links/wsLink.ts
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/test/errorFormatting.test.ts
  www/docs/server/infer-types.md
Labels: @trpc/server, @trpc/client, 🕸 www

#2470 Next merge 2022 08 16
  .all-contributorsrc
  README.md
  www/docs/reactjs/useInfiniteQuery.md
  yarn.lock
Labels: 🕸 www

#2481 add shiki twoslash
  examples/.interop/next-prisma-starter-websockets/package.json
  lerna.json
  package.json
  www/docs/main/quickstart.mdx
  www/docusaurus.config.js
  www/package.json
  www/src/css/custom.css
  www/yarn.lock
  yarn.lock
Labels: 🕸 www

#2485 docs: Create Next.js custom App as function
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#2486 repo case for batch copy edge case
  packages/client/src/internals/dataLoader.ts
  packages/server/test/dataloader.test.ts
Labels: @trpc/server, @trpc/client

#2492 Update isTRPCClientError type guard example
  packages/server/test/errorFormatting.test.ts
  www/docs/server/infer-types.md
Labels: @trpc/server, 🕸 www

#2497 fix: typo
  www/docs/reactjs/ssg-helpers.md
Labels: 🕸 www

#2500 hide noisy shiki
  www/src/css/custom.css
Labels: 🕸 www

#2489 Next merge 2022 08 19
  .all-contributorsrc
  .github/workflows/subtree.yml
  README.md
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/docs/reactjs/ssg-helpers.md
  www/package.json
  yarn.lock
Labels: 🕸 www

#2509 Add tRPC (w/ Fetch Adapter) + SvelteKit example
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#2498 add ability to have multiple input parsers
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/types.ts
  packages/server/test/errorFormatting.test.ts
  packages/server/test/input.test.ts
  www/docs/server/router.md
  www/package.json
Labels: @trpc/server, 🕸 www

#2523 Update introduction.md
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#2522 fix: Handle WebSocket errors to avoid Node.js crashes
  packages/server/src/adapters/ws.ts
  packages/server/src/core/errors.ts
Labels: @trpc/server

#2475 feat: Client-side cancellation
  .gitignore
  examples/express-minimal/src/client.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/internals/fetchHelpers.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/react/src/createReactQueryHooks.tsx
  packages/server/src/core/procedure.ts
  packages/server/src/observable/internals/observableToPromise.ts
  packages/server/test/abortQuery.test.ts
  packages/server/test/interop/clientInternals.test.ts
  packages/server/test/interop/index.test.tsx
  packages/server/test/react/useContext.test.tsx
  packages/server/test/regression/2506HeadersThrowing.test.ts
  www/docs/client/aborting-procedures.md
  www/sidebars.js
Labels: @trpc/react, @trpc/server, @trpc/client, 🕸 www

#2526 Fix parsing input-less mutation on resolveHTTPResponse
  packages/server/src/http/resolveHTTPResponse.ts
Labels: @trpc/server

#2527 Next merge 2022 08 24
  .all-contributorsrc
  README.md
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  packages/server/src/adapters/ws.ts
  packages/server/src/error/utils.ts
  www/docs/main/sponsors.md
  www/docs/nextjs/introduction.md
  www/src/components/sponsors/script.output.ts
  yarn.lock
Labels: @trpc/server, 🕸 www

#2505 docs: migration guide
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docusaurus.config.js
  www/min-light-with-diff.json
  www/src/css/custom.css
Labels: 🕸 www

#2533 migration guide
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#2476 add deprecation warnings
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  examples/next-prisma-todomvc/src/server/createRouter.ts
  examples/next-prisma-todomvc/src/server/routers/_app.ts
  examples/next-prisma-todomvc/src/server/routers/todo.ts
  examples/next-prisma-todomvc/src/server/trpc.ts
  examples/next-prisma-todomvc/src/utils/trpc.ts
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/next/package.json
  packages/react/README.md
  packages/react/package.json
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/src/ssg/index.ts
  packages/react/src/ssg/ssg.ts
  packages/react/src/ssg/ssgProxy.ts
  packages/server/package.json
  packages/server/test/regression/2506HeadersThrowing.test.ts
  www/docs/client/header.md
  www/docs/client/vanilla.md
  www/docs/nextjs/introduction.md
  www/docs/reactjs/introduction.md
  www/docs/reactjs/ssg-helpers.md
  www/docs/server/data-transformers.md
  www/package.json
Labels: @trpc/react, @trpc/server, @trpc/client, 🕸 www

#2538 Update awesome-trpc.mdx
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#2543 Style: margin below version badge.
  www/src/css/custom.css
Labels: 🕸 www

#2539 docs runthrough
  www/docs/main/quickstart.mdx
  www/docs/nextjs/introduction.md
  www/docs/reactjs/introduction.md
Labels: 🕸 www

#2535 Update next branch docs with links to resources about v10
  README.md
  examples/next-prisma-starter-sqlite/README.md
  www/docs/main/introduction.mdx
  www/docusaurus.config.js
  www/versioned_docs/version-9.x/main/introduction.mdx
Labels: 🕸 www

#2544 update gif
  README.md
  packages/client/README.md
  packages/next/README.md
  packages/react/README.md
  packages/server/README.md
  www/src/pages/index.tsx
Labels: @trpc/react, @trpc/server, @trpc/client, @trpc/next, 🕸 www

#2545 update v9 docs according to `main`
  www/docs/main/awesome-trpc.mdx
  www/src/components/sponsors/script.push.ts
  www/versioned_docs/version-9.x/client/cors.md
  www/versioned_docs/version-9.x/further/rpc.md
  www/versioned_docs/version-9.x/main/awesome-trpc.mdx
  www/versioned_docs/version-9.x/main/quickstart.mdx
  www/versioned_docs/version-9.x/main/sponsors.md
  www/versioned_docs/version-9.x/nextjs/introduction.md
  www/versioned_docs/version-9.x/reactjs/ssg-helpers.md
  www/versioned_docs/version-9.x/reactjs/useInfiniteQuery.md
  www/versioned_docs/version-9.x/reactjs/useMutation.md
  www/versioned_docs/version-9.x/server/caching.md
Labels: 🕸 www

#2547 fix v9 docs
  .gitignore
  .tmp/v10-docs.md
  README.md
  www/.gitignore
  www/docs/main/awesome-trpc.mdx
  www/docs/main/example-apps.md
  www/docs/main/quickstart.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/reactjs/introduction.md
  www/docs/server/express.md
  www/docs/server/fastify.md
  www/docs/server/fetch.md
  www/docs/server/output-validation.md
  www/docusaurus.config.js
  www/package.json
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/vercel.json
  www/versioned_docs/version-9.x/main/quickstart.mdx
  www/versioned_docs/version-9.x/nextjs/introduction.md
  www/versioned_docs/version-9.x/nextjs/ssg.md
  www/versioned_docs/version-9.x/nextjs/ssr.md
  www/versioned_docs/version-9.x/reactjs/introduction.md
  www/versioned_docs/version-9.x/server/express.md
  www/versioned_docs/version-9.x/server/fastify.md
  www/versions.json
  yarn.lock
Labels: 🕸 www

#2555 Fix bad syntax in migration documentation
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#2563 fix: @trpc/client has undefined global #2529 (globalThis only)
  packages/client/src/getFetch.ts
  packages/client/src/internals/fetchHelpers.ts
Labels: @trpc/client

#2561 Fix typo in core/router.ts
  packages/server/src/core/router.ts
Labels: @trpc/server

#2560 Add `inferRouterProxyClient` type to `@trpc/client`
  packages/client/src/createTRPCClientProxy.ts
Labels: @trpc/client

#2565 chore: add react-query instead of @tanstack/react-query
  www/versioned_docs/version-9.x/nextjs/introduction.md
Labels: 🕸 www

#2573 Next merge 2022 08 28
  README.md
  packages/client/README.md
  packages/next/README.md
  packages/react/README.md
  packages/server/README.md
  www/docs/main/awesome-trpc.mdx
  www/src/pages/index.tsx
Labels: @trpc/react, @trpc/server, @trpc/client, @trpc/next, 🕸 www

#2548 add test for #2540
  packages/server/test/regression/issue-2540-undefined-mutation.test.ts
Labels: @trpc/server

#2564 feat(www): implements new landing page header with new GIF for v10
  www/src/components/Features.tsx
  www/src/components/Preview.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/src/pages/styles.module.css
Labels: 🕸 www

#2577 feat(www): changes previews from GIF to mp4
  www/src/components/Preview.tsx
Labels: 🕸 www

#2578 fix: v10 subscription `onData` typing (raw client)
  packages/client/src/createTRPCClientProxy.ts
  packages/server/test/react/useSubscription.test.tsx
  packages/server/test/smoke.test.ts
Labels: @trpc/server, @trpc/client

#2542 simplify interop
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/links/types.ts
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/adapters/ws.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/deprecated/internals/procedure.ts
  packages/server/src/error/TRPCError.ts
  packages/server/src/error/utils.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/rpc/envelopes.ts
  packages/server/src/subscription.ts
  www/package.json
Labels: @trpc/server, @trpc/client

#2584 fix so we can link to `trpc.io/docs/v10`
  www/vercel.json
Labels: 🕸 www

#2421 add minimal example
  examples/minimal/README.md
  examples/minimal/client/index.ts
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/index.ts
  examples/minimal/server/package.json
  examples/minimal/tsconfig.json
  package.json
  www/docs/main/example-apps.md
  yarn.lock
Labels: 🕸 www

#2585 Remove patch relics
  packages/client/src/links/internals/httpUtils.ts
  packages/server/src/http/resolveHTTPResponse.ts
Labels: @trpc/server, @trpc/client

#2587 Update ssg-helper: remove await from createProxySSGHelpers
  www/docs/reactjs/ssg-helpers.md
Labels: 🕸 www

#2591 feat(www): adds playsInline to mp4 previews
  www/src/components/Preview.tsx
Labels: 🕸 www
