Repository trpc/trpc, pull requests merged in 2022-12, with the labels that each got.

#3321 Update procedures.md
  www/docs/server/procedures.md
Labels: ♻️ autoupdate, 🕸 www

#3323 fix: type inference fails when not using a transformer
  packages/server/src/core/types.ts
  packages/tests/server/regression/serializable-inference.test.tsx
Labels: @trpc/server, ♻️ autoupdate

#3328 fix: broken package readme images
  packages/client/README.md
  packages/next/README.md
  packages/react-query/README.md
  packages/server/README.md
Labels: @trpc/server, @trpc/client, @trpc/next, @trpc/react-query

#3344 Update awesome-trpc.mdx - Added Step CI
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3367 Fix TS erroring on type AWSLambdaCreateContextFn
  packages/server/src/adapters/aws-lambda/index.ts
Labels: @trpc/server, ♻️ autoupdate

#3371 chore: fix navbar overflow
  www/docusaurus.config.js
  www/src/css/custom.css
Labels: ♻️ autoupdate, 🕸 www

#3354 www: add video poster, preload, & lazy load iframes
  www/docs/main/introduction.mdx
  www/src/components/Preview.tsx
  www/src/pages/index.tsx
  www/versioned_docs/version-9.x/main/introduction.mdx
Labels: ♻️ autoupdate, 🕸 www

#3365 chore: stricter checks for tRPC-like responses
  packages/client/src/links/internals/transformResult.ts
  packages/tests/server/regression/issue-3085-bad-responses.test.ts
  packages/tests/server/regression/issue-3359-http-status-413-payload-too-large.test.ts
Labels: @trpc/client, ♻️ autoupdate

#3373 www: make sponsor bubbles nicer
  www/src/components/sponsors/SponsorBubbles.jsx
Labels: ♻️ autoupdate, 🕸 www

#3376 docs: rm v9 examples from awesome-trpc
  www/docs/main/awesome-trpc.mdx
  www/docs/main/example-apps.mdx
Labels: ♻️ autoupdate, 🕸 www

#3377 chore: rm hacks on website for v9/v10 switch
  www/src/components/Preview.tsx
  www/src/components/useVersion.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: ♻️ autoupdate, 🕸 www

#3378 www: add little transition to "try it out"-area
  www/src/pages/index.tsx
Labels: ♻️ autoupdate, 🕸 www

#3298 feat(reactQuery): add inference helpers for query/mutation parameters
  packages/react-query/src/index.ts
  packages/react-query/src/utils/inferReactQueryProcedure.ts
  packages/tests/server/react/useMutation.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  www/docs/server/infer-types.md
Labels: ♻️ autoupdate, 🕸 www, @trpc/react-query

#3387 www: Change logo font
  www/src/pages/media.tsx
  www/static/img/logo-text-black.svg
  www/static/img/logo-text-white.svg
Labels: ♻️ autoupdate, 🕸 www

#3398 docs: default to `ssr: false` in Next.js docs
  www/docs/nextjs/introduction.mdx
Labels: ♻️ autoupdate, 🕸 www

#3397 chore: rm unused asset
  images/render.svg
Labels: ♻️ autoupdate

#3394 Add missing bracket in HTTP methods table
  www/docs/further/rpc.md
Labels: ♻️ autoupdate, 🕸 www

#3305 feat: add `useQueries`-support
  packages/next/src/createTRPCNext.tsx
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/getArrayQueryKey.ts
  packages/react-query/src/internals/useQueries.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/index.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/tests/server/___packages.ts
  packages/tests/server/react/useQueries.test.tsx
  packages/tests/server/react/withTRPC.test.tsx
Labels: ♻️ autoupdate, @trpc/next, @trpc/react-query

#3382 feat(www): add og images on docs & blog posts
  .vscode/settings.json
  lerna.json
  packages/tests/server/react/errors.test.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/README.md
  www/og-image/.gitignore
  www/og-image/README.md
  www/og-image/next-env.d.ts
  www/og-image/next.config.js
  www/og-image/package.json
  www/og-image/pages/api/_ref/dynamic-image.tsx
  www/og-image/pages/api/_ref/emoji.tsx
  www/og-image/pages/api/_ref/image-svg.tsx
  www/og-image/pages/api/_ref/language.tsx
  www/og-image/pages/api/_ref/param.tsx
  www/og-image/pages/api/_ref/static.tsx
  www/og-image/pages/api/_ref/tailwind.tsx
  www/og-image/pages/api/_ref/vercel.tsx
  www/og-image/pages/api/blog.tsx
  www/og-image/pages/api/docs.tsx
  www/og-image/pages/index.tsx
  www/og-image/public/favicon.ico
  www/og-image/public/pattern.svg
  www/og-image/tsconfig.json
  www/og-image/utils/zodParams.ts
  www/package.json
  www/src/pages/index.tsx
  www/src/theme/BlogPostPage/Metadata/index.tsx
  www/src/theme/DocItem/Metadata/index.tsx
  www/src/utils/searchParams.ts
Labels: 🕸 www

#3403 chore(www): split up awesome-trpc in sections
  www/docs/main/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#3401 chore(www): add powered by vercel logo
  www/docusaurus.config.js
  www/src/css/custom.css
  www/static/img/powered-by-vercel.svg
Labels: 🕸 www

#3402 feat(www): make og images work on preview links
  pnpm-lock.yaml
  www/README.md
  www/docusaurus.config.js
  www/og-image/README.md
  www/og-image/pages/api/blog.tsx
  www/og-image/pages/api/docs.tsx
  www/og-image/utils/zodParams.ts
  www/package.json
  www/src/theme/BlogPostPage/Metadata/index.tsx
  www/src/theme/DocItem/Metadata/index.tsx
  www/src/utils/env.js
  www/src/utils/useEnv.ts
Labels: 🕸 www

#3407 attempt on fixing prisma lint error
  examples/.interop/next-prisma-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#3406 feat(www): custom fonts in og-images + landing og dark mode
  www/docusaurus.config.js
  www/og-image/pages/api/blog.tsx
  www/og-image/pages/api/docs.tsx
  www/og-image/pages/api/font.ts
  www/og-image/pages/api/landing.tsx
  www/og-image/pages/index.tsx
  www/og-image/utils/fetchFont.ts
  www/og-image/utils/zodParams.ts
  www/src/utils/env.js
Labels: ♻️ autoupdate, 🕸 www

#3410 feat(www): show full tweets
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
  www/src/components/TwitterWall/script.ts
Labels: ♻️ autoupdate, 🕸 www

#3413 chore(www): twitter wall tweaks
  www/src/components/TwitterWall/index.tsx
Labels: 🕸 www

#3416 chore(www): rm dupe metadata
  www/og-image/utils/fetchFont.ts
  www/og-image/utils/zodParams.ts
  www/src/theme/BlogPostPage/Metadata/index.tsx
  www/src/theme/DocItem/Metadata/index.tsx
Labels: ♻️ autoupdate, 🕸 www

#3420 chore(www): fix sponsor sizing
  README.md
  www/src/components/sponsors/.gitignore
  www/src/components/sponsors/SponsorBubbles.jsx
  www/src/components/sponsors/TopSponsors.tsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/src/components/sponsors/script.raw.ts
  www/src/components/sponsors/script.types.ts
  www/src/components/sponsors/utils.ts
  www/unversioned/_sponsors.mdx
Labels: ♻️ autoupdate, 🕸 www

#3422 chore(www): tweak word truncation & docs tweaks
  www/docs/main/example-apps.mdx
  www/docs/main/quickstart.mdx
  www/docs/nextjs/introduction.mdx
  www/docs/nextjs/ssr.md
  www/docs/reactjs/introduction.mdx
  www/docs/reactjs/suspense.md
  www/docs/reactjs/useContext.mdx
  www/docs/server/adapter/fastify.md
  www/docs/server/caching.md
  www/docs/server/middlewares.md
  www/og-image/pages/index.tsx
  www/og-image/utils/zodParams.ts
Labels: ♻️ autoupdate, 🕸 www

#3424 fix(www): max-width on svg
  www/docs/main/introduction.mdx
Labels: ♻️ autoupdate, 🕸 www

#3426 feat(www): adjust sizing, add stats
  www/docusaurus.config.js
  www/og-image/.gitignore
  www/og-image/next.config.js
  www/og-image/pages/api/landing.tsx
  www/og-image/utils/env.js
Labels: 🕸 www

#3430 Fix path to next-prisma-websockets-starter
  www/docs/main/example-apps.mdx
Labels: 🕸 www

#3431 fix(docs): change typo`initTRPC()` to `initTRPC`
  www/docs/server/router.md
Labels: 🕸 www

#3432 fix(www): og-image url gets cached
  www/src/utils/env.js
Labels: 🕸 www

#3433 chore(www): tweak twitter wall
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
Labels: 🕸 www

#3419 feat(www): adds documentation for useQueries hook
  packages/react-query/README.md
  www/docs/nextjs/introduction.mdx
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQueries.md
  www/docs/reactjs/useQuery.md
  www/sidebars.js
  www/vercel.json
Labels: ♻️ autoupdate, 🕸 www, @trpc/react-query

#3440 fix(docs): clarify `cursor`-type in `useInfiniteQuery`
  www/docs/reactjs/useInfiniteQuery.md
Labels: 🕸 www

#3408 fix: examples directory for next-prisma-websockets-starter
  www/docs/main/example-apps.mdx
Labels: ♻️ autoupdate, 🕸 www

#3442 readme: add dark mode image
  README.md
Labels: ♻️ autoupdate

#3459 feat(server): ability to have `context` & `meta` as `interface`s
  packages/server/src/core/internals/config.ts
  packages/tests/server/regression/issue-3453-meta-interface.test.ts
  packages/tests/server/responseMeta.test.ts
Labels: @trpc/server

#3331 docs: Clarify context usage and mention inner/outer context concept
  www/docs/nextjs/ssg-helpers.md
  www/docs/server/context.md
Labels: ♻️ autoupdate, 🕸 www

#3462 fix(server): use `object` instead of `{}`
  packages/server/src/core/internals/config.ts
  packages/tests/server/regression/issue-3453-meta-interface.test.ts
Labels: @trpc/server

#3463 chore: bump all lint packages
  examples/.interop/next-prisma-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-websockets-starter/package.json
  package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#3289 feat: require transformers on frontend & backend when present
  packages/client/src/createTRPCClient.ts
  packages/client/src/internals/TRPCClient.ts
  packages/server/src/core/initTRPC.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/initTRPC.test.ts
  packages/tests/server/interop/__legacyRouterToServerAndClient.ts
  packages/tests/server/transformer.test.ts
Labels: @trpc/server, @trpc/client, ♻️ autoupdate

#3464 chore(lint): re-enable `@typescript-eslint/ban-types`
  .eslintrc
  packages/react-query/src/createTRPCReact.tsx
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/router.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/shared/internal/serialize.ts
  packages/server/src/types.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/children.test.ts
  packages/tests/server/index.test.ts
  packages/tests/server/inferenceUtils.ts
  packages/tests/server/initTRPC.test.ts
  packages/tests/server/interop/index.test.tsx
  packages/tests/server/interop/react/__testHelpers.tsx
  packages/tests/server/interop/regression/issue-949-inferProcedureInput.test.ts
  packages/tests/server/jsonify.test.ts
  packages/tests/server/router.test.ts
Labels: @trpc/server, ♻️ autoupdate, @trpc/react-query

#3302 feat: expose querykey getter and fix some querykey stuff
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/internals/getArrayQueryKey.test.ts
  packages/react-query/src/internals/getArrayQueryKey.ts
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/shared/proxy/decorationProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/tests/server/interop/react/invalidateQueries.test.tsx
  packages/tests/server/react/getQueryKey.test.tsx
  packages/tests/server/react/invalidateQueries.test.tsx
  packages/tests/server/react/useContext.test.tsx
  packages/tests/server/regression/issue-3455-56-invalidate-queries.test.tsx
  www/docs/reactjs/useContext.mdx
Labels: ♻️ autoupdate, 🕸 www, @trpc/react-query

#3473 chore(www): add `?ref=trpc` to all sponsor urls
  README.md
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.raw.ts
  www/unversioned/_sponsors.mdx
Labels: 🕸 www

#3474 chore(example): don’t do migration if build fails
  examples/next-prisma-websockets-starter/package.json
Labels: ♻️ autoupdate

#3389 feat(client): add base client for integrations
  packages/client/src/createGenericTRPCClient.ts
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/index.ts
  packages/client/src/internals/GenericTRPCClient.ts
  packages/tests/server/createGenericClient.test.ts
Labels: @trpc/client

#3479 chore: fix types of `GenericTRPCClient`
  packages/client/src/createGenericTRPCClient.ts
  packages/client/src/internals/GenericTRPCClient.ts
Labels: @trpc/client

#3482 chore: enable typescript-eslint/recommended-requiring-type-checking
  .eslintrc
  .github/workflows/lint.yml
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  packages/next/src/createTRPCNext.tsx
  packages/next/src/withTRPC.tsx
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/context.tsx
  packages/server/src/adapters/standalone.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/internals/invert.ts
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/errors.test.ts
  packages/tests/server/interop/adapters/fastify.test.ts
  packages/tests/server/interop/errors.test.ts
  packages/tests/server/interop/links.test.ts
  packages/tests/server/interop/middleware.test.ts
  packages/tests/server/interop/react/__testHelpers.tsx
  packages/tests/server/links.test.ts
  packages/tests/server/react/__testHelpers.tsx
  packages/tests/server/react/invalidateRouters.test.tsx
  packages/tests/server/react/useContext.test.tsx
  scripts/postversion.ts
  tsconfig.eslint.json
Labels: @trpc/server, ♻️ autoupdate, @trpc/next, @trpc/react-query

#3492 Vite + Svelte + tRPC to awesome
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3493 vue3 example project
  www/docs/main/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#3487 chore: pruned some never-used code
  .github/workflows/lint.yml
  .ts-prunerc
  package.json
  packages/server/src/core/internals/mergeRouters.ts
  packages/server/src/core/internals/prefixObjectKeys.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/router.ts
  packages/server/src/deprecated/internals/callProcedure.ts
  packages/server/src/deprecated/router.ts
  packages/tests/server/inferenceUtils.ts
  pnpm-lock.yaml
Labels: @trpc/server, ♻️ autoupdate

#3498 feat(www): allow og url from other trpc subdomain
  www/og-image/pages/api/docs.tsx
  www/og-image/utils/zodParams.ts
Labels: ♻️ autoupdate, 🕸 www

#3499 fix(react-query): fix import from dist folder
  packages/react-query/src/utils/inferReactQueryProcedure.ts
Labels: @trpc/react-query

#3497 chore(client): swap `any`-types to `unknown` on untyped client
  packages/client/src/internals/TRPCUntypedClient.ts
  packages/tests/server/createGenericClient.test.ts
Labels: @trpc/client

#3503 chore: merge `main` -> `next`
  .github/workflows/lint.yml
  .ts-prunerc
  CONTRIBUTING.md
  package.json
  packages/react-query/src/utils/inferReactQueryProcedure.ts
  packages/server/src/core/internals/getParseFn.ts
  packages/server/src/core/internals/mergeRouters.ts
  packages/server/src/core/internals/prefixObjectKeys.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/router.ts
  packages/tests/server/inferenceUtils.ts
  pnpm-lock.yaml
  www/docs/main/awesome-trpc.mdx
  www/og-image/pages/api/docs.tsx
  www/og-image/utils/zodParams.ts
Labels: @trpc/server, 🕸 www, @trpc/react-query

#3495 feat: accept function param in `initTRPC.context`
  packages/server/src/core/initTRPC.ts
  packages/server/src/types.ts
  packages/tests/server/initTRPC.test.ts
  www/docs/server/context.md
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#3466 feat: handle reserved properties key collisions
  packages/next/src/createTRPCNext.tsx
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/react-query/src/ssg/ssgProxy.ts
  packages/server/src/types.ts
  packages/tests/server/react/__reactHelpers.tsx
  packages/tests/server/react/regression/issue-3461-reserved-properties.test.tsx
Labels: @trpc/server, ♻️ autoupdate, @trpc/next, @trpc/react-query

#3505 maybe fix(www): `globby is not a function`
  .prettierignore
  pnpm-lock.yaml
  www/package.json
Labels: ♻️ autoupdate

#3500 feat: added initialData overloads for useQuery
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/regression/issue-2996-defined-data.test.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#3508 chore: merge main -> next
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/regression/issue-2996-defined-data.test.tsx
Labels: @trpc/react-query

#3511 docs: add electron-trpc to awesome-trpc.mdx
  www/docs/main/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#3512 docs: center vercel's logo in footer
  README.md
Labels: ♻️ autoupdate

#3513 chore: nuke some deprecated stuff
  examples/next-prisma-websockets-starter/src/utils/trpc.ts
  packages/react-query/src/ssg/index.ts
  packages/react-query/src/ssg/ssg.ts
  packages/react-query/src/ssg/ssgProxy.ts
  packages/server/src/adapters/lambda/index.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/src/rpc/envelopes.ts
  packages/tests/server/children.test.ts
  packages/tests/server/react/useMutation.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  scripts/generateMergeRouters.ts
Labels: @trpc/server, @trpc/react-query

#3517 Trash/middleware pipe fork
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/middlewares.test.ts
Labels: @trpc/server

#3518 chore: rename + alias ssg-helpers
  .wip/changes.md
  packages/react-query/src/ssg/index.ts
  packages/react-query/src/ssg/ssg.ts
  packages/tests/server/react/ssg.test.ts
Labels: @trpc/react-query

#3515 docs: add missed import
  www/docs/server/middlewares.md
Labels: 🕸 www
