Repository trpc/trpc, pull requests merged in 2022-03, with the labels that each got.

#1567 docs: update error handling section
  www/docs/server/error-handling.md
Labels: ♻️ autoupdate

#1601 build(examples): use `cross-env` to run scripts that set env var
  examples/next-prisma-starter-websockets/package.json
  yarn.lock
Labels: ♻️ autoupdate

#1602 Better schema for starters
  examples/next-prisma-starter/prisma/migrations/20220307124425_non_unique_timestamps/migration.sql
  examples/next-prisma-starter/prisma/schema.prisma
Labels: ♻️ autoupdate

#1603 build(examples): move `@types/node-fetch` to dev dependencies
  examples/express-server/package.json
  examples/standalone-server/package.json
Labels: ♻️ autoupdate

#1608 docs: add more information about ssr and ssg helpers
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/reactjs/ssg-helpers.md
  www/sidebars.js
Labels: ♻️ autoupdate

#1604 `next-prisma-starter`: add integration test example
  examples/next-prisma-starter/jest.config.ts
  examples/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-starter/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-starter/src/server/context.ts
  examples/next-prisma-starter/src/server/lib/sum.test.ts
  examples/next-prisma-starter/src/server/lib/sum.ts
  examples/next-prisma-starter/src/server/routers/post.test.ts
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-starter/src/utils/trpc.ts
  examples/next-prisma-starter/tsconfig.json
  yarn.lock
Labels: ♻️ autoupdate

#1645 bug: SSR hydration with error doesn't set status `error`
  package.json
  packages/next/src/withTRPC.tsx
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/internals/context.tsx
  packages/server/test/react.test.tsx
Labels: 🐛 bug, 💸 Get paid!

#1654 Improve WebSocket example design
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter-websockets/postcss.config.js
  examples/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/next-prisma-starter-websockets/src/pages/index.tsx
  examples/next-prisma-starter-websockets/src/styles/global.css
  examples/next-prisma-starter-websockets/tailwind.config.js
  examples/next-prisma-starter-websockets/test/playwright.test.ts
  yarn.lock
Labels: ♻️ autoupdate

#1667 fix: `useMutation()` with `context:`
  packages/react/src/createReactQueryHooks.tsx
  packages/server/test/react.test.tsx
Labels: 🐛 bug, ♻️ autoupdate

#1673 add `.nvmrc`
  .nvmrc
Labels: ♻️ autoupdate

#1671 add `@typescript-eslint/no-floating-promises`
  .eslintrc
  examples/next-prisma-starter-websockets/.eslintrc
  examples/next-prisma-starter/.eslintrc
  examples/next-prisma-todomvc/.eslintrc
  examples/next-prisma-todomvc/tsconfig.json
  packages/server/src/adapters/express.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fastify/fastifyTRPCPlugin.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/subscription.ts
  tsconfig.eslint.json
Labels: ♻️ autoupdate

#1679 Dependabot/npm and yarn/next 12.1.0
  packages/server/src/adapters/next.ts
  yarn.lock
Labels: 🙋‍♂️ help wanted, ♻️ autoupdate, 💸 Get paid!

#1695 Prevent @server test memory leaks due to improper teardown.
  packages/server/test/_testHelpers.ts
  packages/server/test/websockets.test.ts
Labels: ♻️ autoupdate

#1713 Remove undefined HTTP headers from TRPCClient
  packages/client/src/internals/httpRequest.ts
  packages/server/test/headers.test.tsx
  packages/server/test/websockets.test.ts
Labels: ✨ enhancement
