Repository trpc/trpc, pull requests merged in 2022-10, with the labels that each got.

#2877 fix `next()` error inference
  packages/server/src/core/middleware.ts
  packages/server/test/regression/issue-2856-middleware-infer.test.ts
Labels: @trpc/server

#2878 fix type `TRPCClientError` with `cause`
  packages/client/src/TRPCClientError.ts
Labels: @trpc/client

#2845 fix: proxies and promises, take two
  packages/client/src/createTRPCClientProxy.ts
  packages/next/src/createTRPCNext.tsx
  packages/react/src/createTRPCReact.tsx
  packages/react/src/shared/proxy/decorationProxy.ts
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/react/src/ssg/ssgProxy.ts
  packages/server/src/core/router.ts
  packages/server/src/shared/createProxy/index.ts
Labels: @trpc/react, @trpc/server, @trpc/client, ♻️ autoupdate, @trpc/next

#2885 Custom overrides
  packages/react/src/createTRPCReact.tsx
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/types.ts
  packages/server/test/react/overrides.test.tsx
Labels: @trpc/react, @trpc/server

#2887 docs(error-formatting): Fix invalid TS code (dangling semicolon)
  www/docs/server/error-formatting.md
Labels: 🕸 www

#2890 reduce declaration size
  packages/server/src/core/index.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/internals.ts
Labels: @trpc/server

#2891 Add codemod to migration doc.
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: ♻️ autoupdate, 🕸 www

#2713 feat(react): Change to use Array Path for Tanstack Query Key and add invalidate() at router level
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/test/interop/react/invalidateQueries.test.tsx
  packages/server/test/react/invalidateRouters.test.tsx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/reactjs/invalidateQueries.md
Labels: @trpc/react, @trpc/server, 🕸 www

#2894 use callprocedure in ws adapter
  packages/server/src/adapters/ws.ts
Labels: @trpc/server

#2893 remove `assertNotBrowser`
  packages/react/src/ssg/ssg.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/assertNotBrowser.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/config.ts
  packages/server/src/deprecated/internals/procedure.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/http/index.ts
  packages/server/src/index.ts
Labels: @trpc/react, @trpc/server

#2897 docs: tweaks
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#2902 Update migrate-from-v9-to-v10.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#2908 fix(www): fix inversely named types
  www/docs/server/infer-types.md
Labels: 🕸 www

#2905 add workflow for locking closed issues
  .github/workflows/lock-issues.yml
Labels: ♻️ autoupdate

#2917 fix: meta is not necessarily defined
  packages/server/src/core/middleware.ts
  packages/server/test/meta.test.ts
  packages/server/test/middlewares.test.ts
Labels: @trpc/server, ♻️ autoupdate

#2916 fix: multiple input parser with optional params
  packages/server/src/types.ts
  packages/server/test/___testHelpers.ts
  packages/server/test/input.test.ts
  packages/server/test/regression/issue-2824-createCaller.test.ts
Labels: @trpc/server, ♻️ autoupdate

#2918 feat: add `trpc` prop to hooks' return
  packages/react/src/createTRPCReact.tsx
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/server/test/react/useMutation.test.tsx
  packages/server/test/react/useQuery.test.tsx
Labels: @trpc/react, @trpc/server

#2899 docs: improvements to the links docs
  packages/client/src/links/index.ts
  packages/server/test/interop/links.test.ts
  www/docs/client/links.md
  www/docs/client/links/httpBatchLink.md
  www/docs/client/links/httpLink.md
  www/docs/client/links/index.md
  www/docs/client/links/loggerLink.md
  www/docs/client/links/splitLink.md
  www/docs/client/links/wsLink.md
  www/docs/client/vanilla.md
  www/docs/further/subscriptions.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
  www/docs/server/caching.md
  www/sidebars.js
  www/static/img/links-diagram.svg
Labels: @trpc/server, @trpc/client, 🕸 www

#2912 export aws lambda utils
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/adapters/aws-lambda/utils.ts
Labels: @trpc/server, ♻️ autoupdate

#2920 rip out nodemon
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/standalone-server/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/minimal-react/package.json
  examples/minimal/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/standalone-server/package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#2895 import package mocks in test helpers
  packages/server/test/___testHelpers.ts
  packages/server/test/interop/react/__testHelpers.tsx
  packages/server/test/interop/react/withTRPC.test.tsx
Labels: @trpc/server, ♻️ autoupdate

#2597 [docs/www] tRPC explained from a REST API & Who is this for
  www/docs/main/introduction.mdx
Labels: 🕸 www

#2927 Export logger types
  packages/client/src/links/loggerLink.ts
Labels: @trpc/client, ♻️ autoupdate

#2938 Update quick start NPM command descriptions
  www/docs/main/quickstart.mdx
Labels: 🕸 www

#2941 www: minor homepage fixes
  www/docusaurus.config.js
  www/src/css/custom.css
Labels: 🕸 www

#2907 feat: rm `process.env` deps & refactor root config
  .eslintrc
  packages/client/src/TRPCClientError.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/config.ts
  packages/server/src/core/internals/mergeRouters.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/http/internals/types.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/internals/transformTRPCResponse.ts
  packages/server/src/internals/types.ts
  packages/server/test/abortQuery.test.ts
  packages/server/test/createClient.test.ts
  packages/server/test/initTRPC.test.ts
  packages/server/test/input.test.ts
  packages/server/test/interop/react/formatError.test.tsx
  packages/server/test/interop/react/invalidateQueries.test.tsx
  packages/server/test/interop/react/useSubscription.test.tsx
  packages/server/test/interop/websockets.test.ts
  packages/server/test/isDev.test.ts
  packages/server/test/react/interopBasic.test.tsx
  packages/server/test/smoke.test.ts
  scripts/generateMergeRouters.ts
  www/docs/server/router.md
Labels: @trpc/server, @trpc/client, 🕸 www

#2884 ability to pass in a custom query client
  packages/next/src/withTRPC.tsx
  packages/react/src/shared/index.ts
  packages/react/src/shared/queryClient.ts
  packages/react/src/ssg/ssg.ts
  www/docs/nextjs/introduction.md
Labels: @trpc/react, ♻️ autoupdate, @trpc/next, 🕸 www

#2943 fix `setInfiniteData`
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/test/react/useQuery.test.tsx
  packages/server/test/regression/issue-2942-useInfiniteQuery-setData.test.tsx
Labels: @trpc/react, @trpc/server

#2949 Update migrate-from-v9-to-v10.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#2954 docs: tidy up the sidebar
  README.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/reactjs/invalidateQueries.md
  www/docs/reactjs/query-invalidation.md
  www/docs/server/adapter/aws-lambda.md
  www/docs/server/adapter/express.md
  www/docs/server/adapter/fastify.md
  www/docs/server/adapter/fetch.md
  www/sidebars.js
  www/src/components/sponsors/script.output.ts
  www/unversioned/_contributing.mdx
  www/unversioned/_love.mdx
  www/unversioned/_sponsors.mdx
  www/vercel.json
  www/versioned_docs/version-9.x/reactjs/invalidateQueries.md
  www/versioned_sidebars/version-9.x-sidebars.json
Labels: 🕸 www

#2957 docs: skip exposing `t` + general docs improvements
  examples/cloudflare-workers/src/router.ts
  examples/express-minimal/src/router.ts
  examples/express-server/src/server.ts
  examples/fastify-server/src/server/router/index.ts
  examples/fastify-server/src/server/router/routers/api.ts
  examples/fastify-server/src/server/router/routers/posts.ts
  examples/fastify-server/src/server/router/routers/sub.ts
  examples/fastify-server/src/server/router/trpc.ts
  examples/lambda-api-gateway/src/server.ts
  examples/minimal-react/server/index.ts
  examples/minimal/server/index.ts
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-minimal-starter/src/server/trpc.ts
  examples/next-minimal-starter/tsconfig.json
  examples/next-prisma-starter-sqlite/src/server/routers/_app.ts
  examples/next-prisma-starter-sqlite/src/server/routers/health.ts
  examples/next-prisma-starter-sqlite/src/server/routers/post.ts
  examples/next-prisma-starter-sqlite/src/server/trpc.ts
  examples/next-prisma-starter-websockets/src/server/routers/_app.ts
  examples/next-prisma-starter-websockets/src/server/routers/post.ts
  examples/next-prisma-starter-websockets/src/server/trpc.ts
  examples/next-prisma-starter/src/server/routers/_app.ts
  examples/next-prisma-starter/src/server/routers/health.ts
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-starter/src/server/trpc.ts
  examples/next-prisma-todomvc/src/server/routers/_app.ts
  examples/next-prisma-todomvc/src/server/routers/todo.ts
  examples/next-prisma-todomvc/src/server/trpc.ts
  examples/standalone-server/src/server.ts
  pnpm-lock.yaml
  www/docs/client/aborting-procedures.md
  www/docs/landing-intro/Step1.md
  www/docs/landing-intro/Step3.md
  www/docs/main/quickstart.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
  www/docs/server/authorization.md
  www/docs/server/context.md
  www/docs/server/merging-routers.md
  www/docs/server/middlewares.md
  www/docs/server/procedures.md
  www/docs/server/router.md
  www/docs/server/server-side-calls.md
  www/package.json
Labels: 🕸 www

#2967 docs: consistent publicProcedure naming
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#2970 simplify type merging output
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/types.ts
  packages/server/test/input.test.ts
Labels: @trpc/server

#2974 docs: update docs & examples
  .github/workflows/examples.yml
  .github/workflows/subtree-next.yml
  .github/workflows/subtree.yml
  examples/next-minimal-starter/src/server/trpc.ts
  examples/next-prisma-starter-sqlite/.env
  examples/next-prisma-starter-sqlite/.eslintrc
  examples/next-prisma-starter-sqlite/.github/FUNDING.yml
  examples/next-prisma-starter-sqlite/.github/dependabot.yml
  examples/next-prisma-starter-sqlite/.github/workflows/main.yml
  examples/next-prisma-starter-sqlite/.gitignore
  examples/next-prisma-starter-sqlite/.stackblitzrc
  examples/next-prisma-starter-sqlite/.vscode/extensions.json
  examples/next-prisma-starter-sqlite/.vscode/settings.json
  examples/next-prisma-starter-sqlite/README.md
  examples/next-prisma-starter-sqlite/next-env.d.ts
  examples/next-prisma-starter-sqlite/next.config.js
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-sqlite/playwright.config.ts
  examples/next-prisma-starter-sqlite/playwright/smoke.test.ts
  examples/next-prisma-starter-sqlite/prisma/migrations/20220706070154_init/migration.sql
  examples/next-prisma-starter-sqlite/prisma/migrations/migration_lock.toml
  examples/next-prisma-starter-sqlite/prisma/schema.prisma
  examples/next-prisma-starter-sqlite/prisma/seed.ts
  examples/next-prisma-starter-sqlite/public/favicon.ico
  examples/next-prisma-starter-sqlite/public/vercel.svg
  examples/next-prisma-starter-sqlite/render.yaml
  examples/next-prisma-starter-sqlite/sandbox.config.json
  examples/next-prisma-starter-sqlite/src/components/DefaultLayout.tsx
  examples/next-prisma-starter-sqlite/src/pages/_app.tsx
  examples/next-prisma-starter-sqlite/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-starter-sqlite/src/pages/index.tsx
  examples/next-prisma-starter-sqlite/src/pages/post/[id].tsx
  examples/next-prisma-starter-sqlite/src/server/context.ts
  examples/next-prisma-starter-sqlite/src/server/env.js
  examples/next-prisma-starter-sqlite/src/server/routers/_app.ts
  examples/next-prisma-starter-sqlite/src/server/routers/health.ts
  examples/next-prisma-starter-sqlite/src/server/routers/post.test.ts
  examples/next-prisma-starter-sqlite/src/server/routers/post.ts
  examples/next-prisma-starter-sqlite/src/server/trpc.ts
  examples/next-prisma-starter-sqlite/src/utils/publicRuntimeConfig.ts
  examples/next-prisma-starter-sqlite/src/utils/trpc.ts
  examples/next-prisma-starter-sqlite/tsconfig.json
  examples/next-prisma-starter-sqlite/vitest.config.ts
  examples/next-prisma-starter-websockets/src/server/context.ts
  examples/next-prisma-starter-websockets/src/server/prisma.ts
  examples/next-prisma-starter-websockets/src/server/routers/_app.ts
  examples/next-prisma-starter-websockets/src/server/routers/post.ts
  examples/next-prisma-starter-websockets/src/server/trpc.ts
  examples/next-prisma-starter/src/server/routers/health.ts
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-starter/src/server/trpc.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#2978 small types cleanup
  packages/server/src/core/initTRPC.ts
Labels: @trpc/server, ♻️ autoupdate

#2977 fix: apply array query key normalization in SSG helpers
  packages/react/src/internals/getArrayQueryKey.test.ts
  packages/react/src/internals/getArrayQueryKey.ts
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/ssg/ssg.ts
  packages/server/test/interop/react/dehydrate.test.tsx
Labels: @trpc/react, @trpc/server, ♻️ autoupdate

#2982 chore(examples): add ssg e2e example
  .github/workflows/examples.yml
  examples/.test/ssg/.eslintrc
  examples/.test/ssg/README.md
  examples/.test/ssg/next-env.d.ts
  examples/.test/ssg/package.json
  examples/.test/ssg/playwright.config.ts
  examples/.test/ssg/src/pages/_app.tsx
  examples/.test/ssg/src/pages/api/trpc/[trpc].ts
  examples/.test/ssg/src/pages/index.tsx
  examples/.test/ssg/src/server/routers/_app.ts
  examples/.test/ssg/src/server/trpc.ts
  examples/.test/ssg/src/utils/trpc.ts
  examples/.test/ssg/test/smoke.test.ts
  examples/.test/ssg/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/docs/nextjs/ssg-helpers.md
Labels: 🕸 www

#2990 docs: added improvements to splitLink docs
  www/docs/client/links/splitLink.mdx
  www/static/img/split-link-diagram.svg
Labels: 🕸 www

#3003 Added `trpc-chrome` to Awesome tRPC.
  examples/trpc-chrome/README.md
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#2999 fix(router): allow naming of inferred type
  packages/server/src/internals.ts
Labels: @trpc/server

#3006 fix: bad link
  www/docs/server/caching.md
Labels: ♻️ autoupdate, 🕸 www

#3005 use inference helpers in example project
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-starter/src/utils/trpc.ts
Labels: ♻️ autoupdate

#3007 fix(react): allow naming of inferred type
  packages/react/src/index.ts
Labels: @trpc/react

#3017 docs: Update useInfiniteQuery.md
  www/docs/reactjs/useInfiniteQuery.md
Labels: 🕸 www

#3021 Fix _app import path
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#3018 add my solid projects to awesome-trpc collection
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3025 Add Zod to installation deps list in NextJs introduction
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#3027 Update migrate-from-v9-to-v10.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#3009 docs: add server code to cors page
  www/docs/client/cors.md
Labels: 🕸 www

#3020 docs: adds useContext docs
  packages/react-query/src/internals/context.tsx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/reactjs/query-invalidation.md
  www/docs/reactjs/useContext.mdx
  www/sidebars.js
  www/vercel.json
Labels: 🕸 www

#3034 fix: params are not defined
  www/docs/server/authorization.md
Labels: 🕸 www

#3035 fix import in ssg docs
  www/docs/nextjs/ssg.md
Labels: 🕸 www

#3037 feat: add unstable_overrides to next
  packages/next/src/createTRPCNext.tsx
  packages/next/src/withTRPC.tsx
  packages/react-query/src/interop.ts
  packages/react-query/src/shared/index.ts
  www/docs/nextjs/introduction.md
Labels: @trpc/next, 🕸 www, @trpc/react-query

#3038 chrore: tweak `unstable_overrides` implementation
  packages/next/src/createTRPCNext.tsx
  packages/next/src/withTRPC.tsx
  www/docs/nextjs/introduction.md
Labels: @trpc/next, 🕸 www

#3040 Fix: Detect and support APIGatewayProxyEvent isBase64Encoded
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/test/adapters/awsLambda.test.tsx
  packages/server/test/adapters/lambda.utils.ts
Labels: @trpc/server

#3039 docs: clarifying useContext helpers vs raw queryClient
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/reactjs/useContext.mdx
Labels: ♻️ autoupdate, 🕸 www

#3045 feat: expose http status code helpers
  packages/next/src/withTRPC.tsx
  packages/server/package.json
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/core/router.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/http/getHTTPStatusCode.ts
  packages/server/src/http/index.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/index.ts
  rollup.config.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/server/error-handling.md
Labels: @trpc/server, @trpc/next, 🕸 www

#3059 docs: general corrections
  www/docs/client/header.md
  www/docs/further/further-reading.md
  www/docs/further/rpc.md
  www/docs/further/subscriptions.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/reactjs/introduction.md
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/server-side-calls.md
Labels: 🕸 www

#3046 www: modified navbar active link classes
  www/src/css/custom.css
Labels: 🕸 www

#3061 fix: use optional chaining for `process.env`
  examples/next-prisma-starter-websockets/src/server/context.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/config.ts
  packages/server/src/deprecated/router.ts
Labels: @trpc/server

#3062 fix typo
  www/docs/server/authorization.md
Labels: 🕸 www

#3060 fix(www): broken link to minimal example in the v10 docs
  .github/pull_request_template.md
  www/docs/main/example-apps.md
Labels: 🕸 www

#3063 merge input parsers
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/types.ts
  packages/server/test/input.test.ts
Labels: @trpc/server, ♻️ autoupdate

#3076 Update useMutation.md
  www/docs/reactjs/useMutation.md
Labels: 🕸 www

#3083 docs: nextjs fixed url.
  www/docs/nextjs/introduction.md
Labels: 🕸 www

#3057 feat: splitting inference helpers
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-starter/src/utils/trpc.ts
  packages/server/src/core/types.ts
  packages/server/test/inferenceHelpers.test.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/server/infer-types.md
Labels: @trpc/server, 🕸 www

#3084 update client readme
  packages/client/README.md
Labels: @trpc/client

#3051 docs: Add example to Server Side Calls for Next.js API
  www/docs/server/error-handling.md
  www/docs/server/server-side-calls.md
Labels: ♻️ autoupdate, 🕸 www

#3049 ability to have multiple TRPC Providers
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/types.ts
  packages/server/test/react/multiple-trpc-providers.test.tsx
Labels: @trpc/server, ♻️ autoupdate, @trpc/react-query
