Repository trpc/trpc, pull requests merged in 2022-05, with the labels that each got.

#1920 use branded `string` type instead of `Symbol`
  packages/server/src/internals/middlewares.ts
Labels: ♻️ autoupdate

#1928 Websocket client stuck reconnecting after `.close()`
  packages/client/src/links/wsLink.ts
  packages/server/test/websockets.test.ts
Labels: 🐛 bug

#1930 Add `trpc-openapi` to Awesome tRPC
  examples/trpc-openapi/README.md
  www/docs/main/awesome-trpc.mdx
Labels: 📚 documentation / examples
