Repository trpc/trpc, pull requests merged in 2022-04, with the labels that each got.

#1717 fix: fastify adapter using fastify-plugin
  README.md
  examples/fastify-server/package.json
  examples/fastify-server/src/client/index.ts
  examples/fastify-server/src/server/server.ts
  packages/server/src/adapters/fastify/fastifyTRPCPlugin.ts
  packages/server/test/adapters/fastify.test.ts
  www/docs/main/example-apps.md
  www/docs/main/introduction.md
  www/docs/server/fastify.md
Labels: ♻️ autoupdate

#1699 Add output response parser
  packages/react/src/createReactQueryHooks.tsx
  packages/server/src/internals/procedure.ts
  packages/server/src/router.ts
  packages/server/test/inference.test.ts
  packages/server/test/outputParser.test.ts
  www/docs/server/output-validation.md
  www/sidebars.js
Labels: ✨ enhancement, ♻️ autoupdate

#1736 feat(server): route metadata
  packages/server/src/internals/middlewares.ts
  packages/server/src/internals/procedure.ts
  packages/server/src/router.ts
  packages/server/test/router-meta.test.ts
  packages/server/test/router.test.ts
  www/docs/server/metadata.md
  www/sidebars.js
Labels: @trpc/server, ♻️ autoupdate

#1753 `next-prisma-starter`: improve playwright tests
  examples/next-prisma-starter/playwright.config.ts
  examples/next-prisma-starter/playwright/smoke.test.ts
Labels: ♻️ autoupdate

#1764 Add CONFLICT code to TRPCError
  packages/server/src/http/internals/getHTTPStatusCode.ts
  packages/server/src/rpc/codes.ts
  www/docs/further/rpc.md
  www/docs/server/error-handling.md
Labels: ♻️ autoupdate

#1788 use playwright container
  .github/workflows/examples-node12.yml
  .github/workflows/examples.yml
Labels: ♻️ autoupdate

#1765 [Dev environment] Add support for node 16
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .nvmrc
  package.json
Labels: next-major/maybe

#1841 bump `@testing-library/*`
  package.json
  packages/server/package.json
  packages/server/test/websockets.test.ts
  yarn.lock
Labels: ♻️ autoupdate

#1838 move imports from react-query/hydration to react-query
  packages/next/src/withTRPC.tsx
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/ssg.ts
  packages/server/test/react.test.tsx
Labels: ♻️ autoupdate

#1834 fix middleware context swapping bug
  packages/server/src/internals/procedure.ts
  packages/server/src/internals/wrapCallSafe.ts
  packages/server/test/middleware.test.ts
Labels: ♻️ autoupdate, 💸 Get paid!
