Repository trpc/trpc, pull requests merged in 2022-07, with the labels that each got.

#2087 Fix api gateway path matching
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/test/adapters/awsLambda.test.tsx
  packages/server/test/adapters/lambda.test.tsx
  packages/server/test/adapters/lambda.utils.ts
Labels: 🙏 review please

#2224 feat(docs): add versioning
  www/docusaurus.config.js
  www/package.json
  www/versioned_docs/version-9.x/client/cors.md
  www/versioned_docs/version-9.x/client/header.md
  www/versioned_docs/version-9.x/client/links.md
  www/versioned_docs/version-9.x/client/vanilla.md
  www/versioned_docs/version-9.x/further/further-reading.md
  www/versioned_docs/version-9.x/further/rpc.md
  www/versioned_docs/version-9.x/further/subscriptions.md
  www/versioned_docs/version-9.x/main/awesome-trpc.mdx
  www/versioned_docs/version-9.x/main/contributing.md
  www/versioned_docs/version-9.x/main/example-apps.md
  www/versioned_docs/version-9.x/main/introduction.mdx
  www/versioned_docs/version-9.x/main/love.mdx
  www/versioned_docs/version-9.x/main/quickstart.mdx
  www/versioned_docs/version-9.x/main/sponsors.md
  www/versioned_docs/version-9.x/nextjs/introduction.md
  www/versioned_docs/version-9.x/nextjs/ssg.md
  www/versioned_docs/version-9.x/nextjs/ssr.md
  www/versioned_docs/version-9.x/nextjs/starter-projects.md
  www/versioned_docs/version-9.x/reactjs/introduction.md
  www/versioned_docs/version-9.x/reactjs/invalidateQueries.md
  www/versioned_docs/version-9.x/reactjs/ssg-helpers.md
  www/versioned_docs/version-9.x/reactjs/useInfiniteQuery.md
  www/versioned_docs/version-9.x/reactjs/useMutation.md
  www/versioned_docs/version-9.x/reactjs/useQuery.md
  www/versioned_docs/version-9.x/server/authorization.md
  www/versioned_docs/version-9.x/server/aws-lambda.md
  www/versioned_docs/version-9.x/server/caching.md
  www/versioned_docs/version-9.x/server/context.md
  www/versioned_docs/version-9.x/server/data-transformers.md
  www/versioned_docs/version-9.x/server/error-formatting.md
  www/versioned_docs/version-9.x/server/error-handling.md
  www/versioned_docs/version-9.x/server/express.md
  www/versioned_docs/version-9.x/server/fastify.md
  www/versioned_docs/version-9.x/server/infer-types.md
  www/versioned_docs/version-9.x/server/merging-routers.md
  www/versioned_docs/version-9.x/server/metadata.md
  www/versioned_docs/version-9.x/server/middlewares.md
  www/versioned_docs/version-9.x/server/output-validation.md
  www/versioned_docs/version-9.x/server/router.md
  www/versioned_sidebars/version-9.x-sidebars.json
  www/versions.json
  www/yarn.lock
Labels: 🙋‍♂️ help wanted, 👋 free for all

#2272 feat(www): uses new logo for favicon and navbar icon
  www/docusaurus.config.js
  www/static/img/favicon.ico
  www/static/img/logo.svg
  www/static/img/undraw_docusaurus_mountain.svg
  www/static/img/undraw_docusaurus_react.svg
  www/static/img/undraw_docusaurus_tree.svg
Labels: 🕸 www

#2294 feat(www): implements description section
  www/src/components/SectionTitle.tsx
  www/src/pages/index.tsx
Labels: 🕸 www

#2293 refactor(www): some small spacing adjustments & more flexible SectionTitle
  www/src/components/Features.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/components/SectionTitle.tsx
  www/src/pages/index.tsx
Labels: 🕸 www
