Repository trpc/trpc, pull requests merged in 2023-12, with the labels that each got.

#5156 fix(client): mark ws connection as connecting
  packages/client/src/links/wsLink.ts
  packages/tests/server/websockets.test.ts
Labels: @trpc/client, ♻️ autoupdate

#5152 fix(client): lazy mode disconnect race condition
  packages/client/src/links/wsLink.ts
  packages/tests/server/websockets.test.ts
  www/docs/client/links/wsLink.md
Labels: @trpc/client, ♻️ autoupdate, 🕸 www

#5160 chore: bump repo to use node 20
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/subtree.yml
  .nvmrc
  package.json
Labels: ♻️ autoupdate

#5173 chore(next/app-dir): make a union of `nextHttpLink` options
  packages/next/src/app-dir/links/nextHttp.ts
Labels: ♻️ autoupdate

#5192 chore(deps): update react to v18
  .wip/changes.md
  packages/next/package.json
  packages/react-query/package.json
Labels: @trpc/next

#5155 feat: Add React Query Utils helper
  packages/react-query/src/createTRPCQueryUtils.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/react-query/src/utils/createUtilityFunctions.ts
  packages/tests/server/react/__testHelpers.tsx
  packages/tests/server/react/createQueryUtils.test.ts
  www/docs/client/react/createTRPCQueryUtils.md
  www/sidebars.js
Labels: 🕸 www, @trpc/react-query

#3343 fix: broken SSR on certain libraries
  CONTRIBUTING.md
  packages/next/package.json
  packages/next/src/withTRPC.tsx
  pnpm-lock.yaml
Labels: @trpc/next

#5201 patch(`next`): rm `react-ssr-prepass` dependency
  CONTRIBUTING.md
  packages/next/package.json
  packages/next/src/withTRPC.tsx
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#5211 fix: Incorrect serialization of `IndexSignature` and `Record`
  packages/server/src/shared/internal/serialize.ts
  packages/tests/server/regression/issue-5197-output-with-index-signature-and-record.test.ts
Labels: ♻️ autoupdate, 🙏 review please

#5188 chore: refactors builders to use generic arguments rather than generic "options object"
  .github/workflows/diagnostics.yml
  .wip/changes.md
  packages/server/src/core/index.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/builderTypes.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/middlewares.test.ts
  packages/tests/server/outputParser.test.ts
  packages/tests/server/react/polymorphism.factory.tsx
  packages/tests/server/react/polymorphism.subtyped-factory.tsx
  packages/tests/server/regression/issue-5037-context-inference.test.ts
Labels: 🙏 review please

#5213 feat(server): deprecate `.createCaller()` in favor of `t.createCallerFactory()`
  examples/.experimental/next-formdata/src/server/trpc.ts
  examples/.test/internal-types-export/src/server.ts
  examples/.test/ssg/src/server/trpc.ts
  examples/next-edge-runtime/src/server/trpc.ts
  examples/next-minimal-starter/src/server/trpc.ts
  examples/next-prisma-starter/.github/workflows/main.yml
  examples/next-prisma-starter/src/server/routers/_app.ts
  examples/next-prisma-starter/src/server/routers/post.test.ts
  examples/next-prisma-starter/src/server/trpc.ts
  examples/next-prisma-websockets-starter/src/server/trpc.ts
  examples/soa/server-lib/index.ts
  package.json
  packages/server/src/core/index.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/router.ts
  packages/tests/server/createCaller.test.ts
  www/docs/server/context.md
  www/docs/server/server-side-calls.md
Labels: 🙏 review please

#5241 fix: cache artifcats in entrypoints generation script
  packages/client/entrypoints.script.ts
  packages/client/turbo.json
  packages/next/entrypoints.script.ts
  packages/next/turbo.json
  packages/react-query/entrypoints.script.ts
  packages/react-query/turbo.json
  packages/server/entrypoints.script.ts
  packages/server/turbo.json
  scripts/entrypoints.ts
  turbo.json
Labels: ♻️ autoupdate
