Repository trpc/trpc, pull requests merged in 2023-02, with the labels that each got.

#3711 chore: update copy on error
  packages/server/src/types.ts
Labels: @trpc/server

#3722 chore: hide entrypoint folders from file tree
  .vscode/settings.json
Labels: ♻️ autoupdate

#3631 feat(react-query): implement standalone getQueryKey
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/shared/proxy/decorationProxy.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/tests/server/react/getQueryKey.test.tsx
  www/docs/reactjs/getQueryKey.md
  www/docs/reactjs/useContext.mdx
  www/sidebars.js
Labels: 🕸 www, @trpc/react-query

#3709 chore: fixed the position of a misplaced comment
  packages/server/src/shared/internal/serialize.ts
Labels: @trpc/server

#3728 Next merge 2023 02 04
  .tool-versions
  .vscode/settings.json
  examples/.test/big-router-declaration/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/internals/getQueryKey.test.ts
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/proxy/decorationProxy.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/react-query/src/ssg/ssg.ts
  packages/server/package.json
  packages/server/src/shared/internal/serialize.ts
  packages/server/src/types.ts
  packages/tests/package.json
  packages/tests/server/react/getQueryKey.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  pnpm-lock.yaml
  www/docs/reactjs/getQueryKey.md
  www/docs/reactjs/useContext.mdx
  www/docs/reactjs/useInfiniteQuery.md
  www/docs/server/api-handler.md
  www/docs/server/procedures.md
  www/package.json
  www/sidebars.js
Labels: @trpc/server, 🕸 www, @trpc/react-query

#3735 docs: fix typos
  examples/fastify-server/README.md
  examples/next-prisma-websockets-starter/docker-compose.yaml
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/errors.test.ts
  packages/tests/server/inferenceUtils.ts
  packages/tests/server/interop/adapters/fastify.test.ts
  packages/tests/server/interop/errors.test.ts
  packages/tests/server/interop/links.test.ts
  packages/tests/server/interop/responseMeta.test.ts
  packages/tests/server/links.test.ts
  packages/tests/server/react/interopBigCompiled.test.tsx
  packages/tests/server/react/useContext.test.tsx
  packages/tests/server/responseMeta.test.ts
  packages/tests/server/transformer.test.ts
  scripts/entrypoints.ts
  www/blog/2022-11-21-announcing-trpc-10.mdx
  www/blog/2023-01-14-typescript-performance-lessons.md
  www/blog/2023-01-17-tinyrpc-client.mdx
  www/docs/further/faq.mdx
  www/docs/further/subscriptions.md
  www/docs/server/error-handling.md
  www/docs/server/infer-types.md
  www/src/components/TwitterWall/script.ts
  www/src/css/custom.css
  www/versioned_docs/version-9.x/further/subscriptions.md
  www/versioned_docs/version-9.x/main/quickstart.mdx
  www/versioned_docs/version-9.x/server/data-transformers.md
  www/versioned_docs/version-9.x/server/error-handling.md
  www/versioned_docs/version-9.x/server/output-validation.md
Labels: 🕸 www

#3720 feat: add request info on context options
  examples/next-prisma-websockets-starter/src/server/context.ts
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/adapters/aws-lambda/utils.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/fetch/types.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/http/internals/types.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/server/adapters/__router.ts
  packages/tests/server/adapters/awsLambda.test.tsx
  packages/tests/server/adapters/express.test.tsx
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/adapters/fetch.test.ts
Labels: @trpc/server

#3738 fix(www): eslint configuration
  .eslintrc
  .eslintrc.js
  examples/.interop/next-prisma-starter/.eslintrc
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
  www/package.json
  www/src/components/GithubStarsButton.tsx
  www/src/pages/media.tsx
  www/src/theme/BlogPostPage/Metadata/index.tsx
  www/src/theme/DocItem/Metadata/index.tsx
  www/tsconfig.json
Labels: 🕸 www

#3739 feat(www): changes codeblocks and website design for better consistency
  pnpm-lock.yaml
  www/docusaurus.config.js
  www/package.json
  www/src/components/ContentSlider.tsx
  www/src/components/Features.tsx
  www/src/components/Preview.tsx
  www/src/components/QuickIntro.tsx
  www/src/components/SectionTitle.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/tailwind.config.js
Labels: 🕸 www

#3742 docs: remove unused import in the usage with next.js documentation
  www/docs/nextjs/introduction.mdx
Labels: 🕸 www

#3646 feat(react-query): Generate polymorphic route/mutation/query interfaces from tRPC router
  packages/react-query/src/shared/index.ts
  packages/react-query/src/shared/polymorphism/index.ts
  packages/react-query/src/shared/polymorphism/mutationLike.ts
  packages/react-query/src/shared/polymorphism/queryLike.ts
  packages/react-query/src/shared/polymorphism/routerLike.ts
  packages/react-query/src/shared/polymorphism/utilsLike.ts
  packages/react-query/src/utils/inferReactQueryProcedure.ts
  packages/tests/server/react/polymorphism.factory.tsx
  packages/tests/server/react/polymorphism.subtyped-factory.tsx
  packages/tests/server/react/polymorphism.test.tsx
  www/docs/server/infer-types.md
Labels: 🕸 www, @trpc/react-query

#3743 minor plurality fix
  www/docs/server/procedures.md
Labels: 🕸 www

#3754 fix(www): fix bad redirect
  www/vercel.json
Labels: ♻️ autoupdate, 🕸 www

#3751 feat(www): makes codeblocks more readable on mobile
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: ♻️ autoupdate, 🕸 www

#3755 feat(server): recursively merge routers
  packages/server/package.json
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/mergeRouters.ts
  packages/server/src/internals.ts
  scripts/generateMergeRouters.ts
Labels: @trpc/server, ♻️ autoupdate

#3756 fix(mergeRouters): don't merge configs
  packages/server/src/core/internals/mergeRouters.ts
Labels: @trpc/server

#3757 feat(www): more modern design for the navbar search button
  www/src/css/custom.css
Labels: 🕸 www

#3758 docs(awesome-trpc): remove deprecated `astro-trpc` package
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3759 feat(www): creates better search modal design
  www/src/css/custom.css
Labels: 🕸 www

#3762 fix: add `Simplify<T>` to serialized output
  packages/server/src/shared/jsonify.ts
Labels: @trpc/server

#3746 fix: replace `AbortSignalEsque` with `AbortSignal` & remove `abort-controller` polyfill
  examples/express-server/package.json
  examples/express-server/src/client.ts
  examples/fastify-server/package.json
  examples/fastify-server/src/client/polyfill.ts
  examples/standalone-server/package.json
  examples/standalone-server/src/client.ts
  packages/client/package.json
  packages/client/src/internals/types.test.ts
  packages/client/src/internals/types.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/___testHelpers.ts
  packages/tests/server/adapters/express.test.tsx
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/interop/adapters/express.test.tsx
  packages/tests/server/interop/adapters/fastify.test.ts
  pnpm-lock.yaml
Labels: @trpc/client, ♻️ autoupdate

#3771 docs: sponsors update
  README.md
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/src/components/sponsors/script.raw.ts
  www/src/components/sponsors/script.types.ts
  www/unversioned/_sponsors.mdx
Labels: 🕸 www

#3761 feat(client): make createWsClient accept a getter function as url-parameter
  packages/client/src/links/wsLink.ts
Labels: @trpc/client

#3775 ci: fix deno test
  examples/deno-deploy/src/index.ts
Labels: ♻️ autoupdate

#3774 fix: export more internals for dts files generation
  packages/server/src/internals.ts
Labels: @trpc/server, ♻️ autoupdate

#3789 Internal types inference testing
  .github/workflows/examples.yml
  examples/.test/internal-types-export/.gitignore
  examples/.test/internal-types-export/README.md
  examples/.test/internal-types-export/package.json
  examples/.test/internal-types-export/src/client.ts
  examples/.test/internal-types-export/src/server.ts
  examples/.test/internal-types-export/tsconfig.json
  packages/server/src/internals.ts
  pnpm-lock.yaml
Labels: @trpc/server

#3782 feat: more strict typing for `ErrorFormatter` in `AnyRootConfig`
  packages/server/src/core/internals/config.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/server/adapters/__router.ts
  packages/tests/server/adapters/express.test.tsx
Labels: @trpc/server, ♻️ autoupdate

#3794 docs: fix some lower/uppercase stuff
  www/docs/server/router.md
Labels: 🕸 www

#3773 docs: fix invalid config in header.md
  www/versioned_docs/version-9.x/client/header.md
Labels: 🕸 www

#3820 chore: Next merge 2023 02 20
  .github/renovate.json
  .github/workflows/main.yml
  examples/cloudflare-workers/package.json
  examples/fastify-server/package.json
  examples/minimal-react/client/package.json
  examples/next-prisma-starter/package.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/next/package.json
  packages/server/package.json
  packages/server/tsconfig.json
  packages/tests/package.json
  packages/tests/server/transformer.test.ts
  packages/tests/vitest.config.ts
  pnpm-lock.yaml
  www/docs/server/data-transformers.md
  www/versioned_docs/version-9.x/client/header.md
  www/versioned_docs/version-9.x/server/data-transformers.md
Labels: @trpc/server, @trpc/client, 🕸 www

#3824 docs: update sponsors
  README.md
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: ♻️ autoupdate, 🕸 www

#3828 chore: next merge 2023-02-20
  .prettierignore
  README.md
  examples/fastify-server/src/server/server.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/abortQuery.test.ts
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/children.test.ts
  packages/tests/server/errors.test.ts
  packages/tests/server/headers.test.tsx
  packages/tests/server/index.test.ts
  packages/tests/server/links.test.ts
  packages/tests/server/outputParser.test.ts
  packages/tests/server/rawFetch.test.tsx
  packages/tests/server/react/dehydrate.test.tsx
  packages/tests/server/react/formatError.test.tsx
  packages/tests/server/react/infiniteQuery.test.tsx
  packages/tests/server/react/invalidateQueries.test.tsx
  packages/tests/server/react/mutationkey.test.tsx
  packages/tests/server/react/overrides.test.tsx
  packages/tests/server/react/polymorphism.test.tsx
  packages/tests/server/react/prefetchQuery.test.tsx
  packages/tests/server/react/regression/issue-1645-setErrorStatusSSR.test.tsx
  packages/tests/server/react/setInfiniteQueryData.test.tsx
  packages/tests/server/react/setQueryData.test.tsx
  packages/tests/server/react/useContext.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/regression/issue-2942-useInfiniteQuery-setData.test.tsx
  packages/tests/server/regression/issue-3085-bad-responses.test.ts
  packages/tests/server/regression/issue-3359-http-status-413-payload-too-large.test.ts
  packages/tests/server/responseMeta.test.ts
  packages/tests/server/routerMeta.test.ts
  packages/tests/server/smoke.test.ts
  packages/tests/server/transformer.test.ts
  packages/tests/server/validators.test.ts
  packages/tests/server/websockets.test.ts
  packages/tests/showcase/tinyrpc.test.ts
  packages/tests/vitest.config.ts
  pnpm-lock.yaml
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: 🕸 www

#3827 docs(awesome-trpc): added `sidebase` to awsome trpc
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3797 feat: add ability to have optionals when chaining input parsers
  packages/server/src/core/internals/procedureBuilder.ts
  packages/tests/server/input.test.ts
Labels: @trpc/server

#3837 docs: Export type `Context` for use in `initTRPC`
  www/docs/server/authorization.md
Labels: 🕸 www

#3831 fix: export even more internals for dts files generation
  examples/.test/internal-types-export/src/server.ts
  packages/server/src/core/index.ts
  packages/server/src/internals.ts
Labels: @trpc/server

#3846 Update quickstart.mdx
  www/docs/main/quickstart.mdx
Labels: 🕸 www

#3851 docs: add sponsor
  README.md
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: 🕸 www

#3862 chore(examples): move some examples to esm
  .github/workflows/examples.yml
  examples/cloudflare-workers/package.json
  examples/cloudflare-workers/src/client.ts
  examples/express-minimal/package.json
  examples/express-minimal/src/client.ts
  examples/express-minimal/tsconfig.json
  examples/express-server/package.json
  examples/express-server/src/client.ts
  examples/express-server/tsconfig.json
  examples/fastify-server/package.json
  examples/fastify-server/src/client/polyfill.ts
  examples/fastify-server/tsconfig.json
  examples/lambda-api-gateway/package.json
  examples/lambda-api-gateway/serverless.yml
  examples/lambda-api-gateway/src/client.ts
  examples/lambda-api-gateway/src/payloadFormatVersionClient.ts
  examples/lambda-api-gateway/tsconfig.json
  examples/next-prisma-websockets-starter/package.json
  examples/next-prisma-websockets-starter/src/server/wssDevServer.ts
  examples/soa/client/client.ts
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/standalone-server/src/client.ts
  examples/standalone-server/src/server.ts
  examples/standalone-server/tsconfig.json
  examples/vercel-edge-runtime/package.json
  examples/vercel-edge-runtime/src/client.ts
  packages/client/package.json
  packages/client/src/internals/types.test.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/___testHelpers.ts
  packages/tests/server/interop/rawFetch.test.tsx
  packages/tests/server/rawFetch.test.tsx
  pnpm-lock.yaml
  turbo.json
Labels: @trpc/client

#3853 docs: fix description of authorization example
  www/docs/server/middlewares.md
Labels: 🕸 www

#3865 docs: update link to Next.js docs
  www/docs/nextjs/ssg.md
Labels: 🕸 www

#3793 chore: remove prisma-sqlite junk
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  examples/.interop/next-prisma-starter/.env
  examples/.interop/next-prisma-starter/.github/workflows/main.yml
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-starter/prisma/_sqlite/schema.prisma
  examples/.test/big-router-declaration/package.json
  examples/.test/ssg/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/.github/workflows/main.yml
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/prisma/_sqlite/schema.prisma
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/prisma/_sqlite/schema.prisma
  examples/next-prisma-websockets-starter/.env
  examples/next-prisma-websockets-starter/.github/workflows/main.yml
  examples/next-prisma-websockets-starter/package.json
  examples/next-prisma-websockets-starter/prisma/_sqlite/schema.prisma
  package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/tests/package.json
  pnpm-lock.yaml
  scripts/addPrismaOverrides.ts
  turbo.json
  www/og-image/package.json
  www/package.json
Labels: ♻️ autoupdate

#3868 docs: clarify data transformer
  packages/server/src/transformer.ts
  www/docs/server/data-transformers.md
Labels: @trpc/server, 🕸 www

#3678 feat(docs): adds note about query client memo
  www/docs/reactjs/introduction.mdx
Labels: ♻️ autoupdate, 🕸 www

#3547 feat: add precise type to `predicate` in `invalidate`
  packages/react-query/src/internals/getArrayQueryKey.ts
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/tests/server/react/invalidateQueries.test.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#3821 fix: Remove procedureOpts from prefetchInifinite function signature
  packages/react-query/src/shared/proxy/utilsProxy.ts
Labels: ♻️ autoupdate, @trpc/react-query

#3860 fix: Rework how fetch and AC are accessed from global
  packages/client/src/getFetch.ts
  packages/client/src/internals/fetchHelpers.ts
  packages/client/src/internals/getAbortController.ts
  packages/client/src/internals/types.test.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/tests/server/clientInternals.test.ts
  packages/tests/server/interop/clientInternals.test.ts
Labels: @trpc/client, ♻️ autoupdate

#3799 docs: clarify usage of `createContext()`
  www/docs/server/context.md
Labels: ♻️ autoupdate, 🕸 www

#3872 docs: sync sponsors
  README.md
  www/src/components/sponsors/SponsorBubbles.jsx
  www/src/components/sponsors/TopSponsors.tsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: ♻️ autoupdate, 🕸 www

#3877 chore: break circular dependencies between internal files
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/interop.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/createRootHooks.tsx
  packages/react-query/src/shared/index.ts
  packages/react-query/src/shared/proxy/decorationProxy.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/deprecated/internals/procedure.ts
  packages/server/src/error/TRPCError.ts
  packages/server/src/error/utils.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/subscription.ts
Labels: @trpc/server, @trpc/react-query

#3883 Next merge 2023 02 27
  README.md
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/.github/workflows/main.yml
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/.github/workflows/main.yml
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/client/src/getFetch.ts
  packages/client/src/internals/fetchHelpers.ts
  packages/client/src/internals/getAbortController.ts
  packages/client/src/internals/types.test.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/shared/hooks/createRootHooks.tsx
  packages/react-query/src/shared/index.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/server/src/adapters/ws.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/error/TRPCError.ts
  packages/server/src/error/utils.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/package.json
  packages/tests/server/clientInternals.test.ts
  packages/tests/server/react/invalidateQueries.test.tsx
  pnpm-lock.yaml
  www/docs/reactjs/introduction.mdx
  www/docs/server/context.md
  www/package.json
  www/src/components/sponsors/SponsorBubbles.jsx
  www/src/components/sponsors/TopSponsors.tsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: @trpc/server, @trpc/client, 🕸 www, @trpc/react-query

#3888 Next merge 2023 02 28
  README.md
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/.github/workflows/main.yml
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/.github/workflows/main.yml
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/client/src/getFetch.ts
  packages/client/src/internals/fetchHelpers.ts
  packages/client/src/internals/getAbortController.ts
  packages/client/src/internals/types.test.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/shared/hooks/createRootHooks.tsx
  packages/react-query/src/shared/index.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/server/src/adapters/ws.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/error/TRPCError.ts
  packages/server/src/error/utils.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/package.json
  packages/tests/server/clientInternals.test.ts
  packages/tests/server/react/invalidateQueries.test.tsx
  pnpm-lock.yaml
  www/docs/reactjs/introduction.mdx
  www/docs/server/context.md
  www/package.json
  www/src/components/sponsors/SponsorBubbles.jsx
  www/src/components/sponsors/TopSponsors.tsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: @trpc/server, @trpc/client, 🕸 www, @trpc/react-query
