Repository trpc/trpc, pull requests merged in 2023-08, with the labels that each got.

#4696 chore: next merge 2023 08 07
  README.md
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/package.json
  packages/tests/server/regression/issue-4673-url-encoded-batching.test.ts
  pnpm-lock.yaml
  www/package.json
Labels: @trpc/server

#4698 chore(example): increase minimum node version to 16.8
  examples/next-prisma-starter/README.md
  examples/next-prisma-starter/package.json
Labels: ♻️ autoupdate

#4706 chore: add test for #4645
  packages/tests/server/regression/issue-4645-inferProcedureOutput.test.ts
  packages/tests/tsconfig.json
Labels: ♻️ autoupdate

#4707 chore: add test of zod errors according to docs
  packages/tests/server/errorFormatting.test.ts
Labels: ♻️ autoupdate

#4718 chore: next merge 2023 08 14
  README.md
  examples/express-minimal/src/client.ts
  examples/next-prisma-starter/README.md
  package.json
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/errorFormatting.test.ts
  packages/tests/server/regression/issue-4645-inferProcedureOutput.test.ts
  packages/tests/tsconfig.json
  pnpm-lock.yaml
  www/docs/client/vanilla/infer-types.md
  www/package.json
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
Labels: 🕸 www

#4711 fix/create action nested
  examples/.experimental/next-app-dir/src/app/alt-server-action/_actions.ts
  examples/.experimental/next-app-dir/src/server/routers/_app.ts
  packages/next/src/app-dir/server.ts
Labels: @trpc/server, @trpc/client, @trpc/next, 🕸 www, @trpc/react-query

#4716 docs: add bun and bunx instructions
  README.md
  packages/client/README.md
  packages/next/README.md
  packages/react-query/README.md
  packages/server/README.md
  www/docs/client/nextjs/setup.mdx
  www/docs/client/react/setup.mdx
  www/docs/client/vanilla/setup.mdx
  www/docs/main/example-apps.mdx
  www/docs/main/quickstart.mdx
  www/docs/server/adapters/fetch.mdx
Labels: @trpc/server, @trpc/client, @trpc/next, 🕸 www, @trpc/react-query

#4724 chore: add drift banner
  www/docusaurus.config.js
  www/vercel.json
Labels: ♻️ autoupdate, 🕸 www

#4726 chore: next merge 2023 08 17
  README.md
  packages/client/README.md
  packages/next/README.md
  packages/react-query/README.md
  packages/server/README.md
  www/docs/client/nextjs/setup.mdx
  www/docs/client/react/setup.mdx
  www/docs/client/vanilla/setup.mdx
  www/docs/main/example-apps.mdx
  www/docs/main/quickstart.mdx
  www/docs/server/adapters/fetch.mdx
  www/docusaurus.config.js
  www/vercel.json
Labels: @trpc/server, @trpc/client, @trpc/next, 🕸 www, @trpc/react-query

#4739 Fix typo in docs (server side helpers)
  www/docs/client/nextjs/server-side-helpers.md
Labels: 🕸 www

#4713 feat(`server`): add standalone middleware (experimental)
  packages/server/src/core/index.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/middlewares.test.ts
  www/docs/server/middlewares.md
Labels: @trpc/server, 🕸 www

#4733 Add trpc-rtk-query
  www/docs/community/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#4748 update prisma editor link
  www/docs/community/awesome-trpc.mdx
Labels: 🕸 www

#4743 docs: add k6-trpc extension
  www/docs/community/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#4751 fix(`@trpc/server`): rearrange the order of context generation in `resolveHTTPResponse` method
  packages/server/src/http/resolveHTTPResponse.ts
Labels: @trpc/server
