Repository trpc/trpc, pull requests merged in 2023-09, with the labels that each got.

#4776 Docs: Add trpc-token-refresh-link to Awesome tRPC Collection
  www/docs/community/awesome-trpc.mdx
Labels: 🕸 www

#4761 chore: release v10.38.1
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/tests/package.json
  www/package.json
Labels: ♻️ autoupdate

#4788 fix(`client`): skip calling `.abort()` on AbortController after procedure completion
  CONTRIBUTING.md
  package.json
  packages/client/package.json
  packages/client/src/links/internals/httpUtils.ts
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/regression/issue-4750-no-cancel.test.ts
  turbo.json
Labels: @trpc/client, ♻️ autoupdate

#4785 docs: Update merging-routers.md
  www/docs/server/merging-routers.md
Labels: ♻️ autoupdate, 🕸 www

#4796 fix(`client`): make `TRPCClient.from()` more resilient to calls with bad args
  CONTRIBUTING.md
  packages/client/src/TRPCClientError.ts
  packages/client/src/internals/isObject.ts
  packages/client/src/shared/transformResult.ts
  packages/tests/server/regression/issue-4794-error-bad-access.test.ts
Labels: @trpc/client, ♻️ autoupdate

#4798 docs: Change Twitter to X logo
  www/src/css/custom.css
Labels: ♻️ autoupdate, 🕸 www

#4812 Add link indicator to "Subscriptions" in "Concepts"
  www/src/components/ConceptsChart.tsx
Labels: ♻️ autoupdate, 🕸 www

#4815 fix(`react-query`): `useQueries` does not pass context data
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/tests/server/react/useQueries.test.tsx
Labels: @trpc/react-query

#4816 Next merge 2023 09 21
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/react/useQueries.test.tsx
  pnpm-lock.yaml
  www/package.json
  www/src/components/ConceptsChart.tsx
Labels: 🕸 www, @trpc/react-query

#4823 chore: fix `ts-watch` script
  package.json
  packages/client/package.json
  packages/client/tsconfig.watch.json
  packages/react-query/package.json
  packages/react-query/tsconfig.watch.json
  packages/server/package.json
  packages/server/tsconfig.watch.json
  turbo.json
Labels: @trpc/server, @trpc/client, ♻️ autoupdate, @trpc/react-query

#4824 Next merge 2023 09 21
  package.json
  packages/client/package.json
  packages/client/tsconfig.watch.json
  packages/react-query/package.json
  packages/react-query/tsconfig.watch.json
  packages/server/package.json
  packages/server/tsconfig.watch.json
  turbo.json
Labels: @trpc/server, @trpc/client, @trpc/react-query

#4819 feat(`server`): lazy `rawInput` getter
  .wip/changes.md
  examples/.experimental/next-formdata/src/server/routers/room.ts
  examples/.experimental/next-formdata/src/server/routers/viewer.ts
  package.json
  packages/next/src/app-dir/links/nextCache.ts
  packages/next/src/app-dir/server.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/server/src/core/router.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/server/callRouter.test.ts
  packages/tests/server/getRawInput.test.ts
  packages/tests/server/react/formData.test.tsx
  packages/tests/server/regression/issue-4527-nested-middleware-root-context.test.ts
Labels: @trpc/server, @trpc/next, @trpc/react-query

#4801 feat: Add transparency about httpBatchStreamLink to docs
  www/docs/client/links/httpBatchStreamLink.md
Labels: ♻️ autoupdate, 🕸 www

#4832 docs: fix twitter wall profile images
  www/src/components/TwitterWall/script.output.ts
Labels: 🕸 www

#4830 Drop TPath from type system, fix polymorphism types
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/internals/useQueries.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/polymorphism/mutationLike.ts
  packages/react-query/src/shared/polymorphism/queryLike.ts
  packages/react-query/src/shared/polymorphism/routerLike.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/utils/inferReactQueryProcedure.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/types.ts
  packages/tests/package.json
  packages/tests/server/input.test.ts
  packages/tests/server/react/errors.test.tsx
  packages/tests/server/react/formData.test.tsx
  packages/tests/server/react/invalidateQueries.test.tsx
  packages/tests/server/react/polymorphism.common.tsx
  packages/tests/server/react/polymorphism.factory.tsx
  packages/tests/server/react/polymorphism.subtyped-factory.tsx
  packages/tests/server/react/polymorphism.test.tsx
  packages/tests/server/regression/issue-4645-inferProcedureOutput.test.ts
  packages/tests/server/routerMeta.test.ts
Labels: @trpc/server, @trpc/react-query

#4837 Next merge 2023 09 26
  README.md
  packages/tests/package.json
  pnpm-lock.yaml
  www/docs/client/links/httpBatchStreamLink.md
  www/package.json
  www/src/components/TwitterWall/script.output.ts
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: 🕸 www

#4722 feat: simplify procedure types
  .github/workflows/diagnostics.yml
  .wip/changes.md
  examples/.experimental/next-app-dir/src/app/server-action/ReactHookFormFactoryExample.lib.tsx
  package.json
  packages/client/src/TRPCClientError.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/next/package.json
  packages/next/src/app-dir/client.ts
  packages/next/src/app-dir/create-action-hook.tsx
  packages/next/src/app-dir/server.ts
  packages/next/src/app-dir/shared.ts
  packages/next/src/app-dir/types.ts
  packages/next/src/createTRPCNext.tsx
  packages/next/tsconfig.watch.json
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/internals/useQueries.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/polymorphism/mutationLike.ts
  packages/react-query/src/shared/polymorphism/queryLike.ts
  packages/react-query/src/shared/polymorphism/routerLike.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/react-query/src/utils/inferReactQueryProcedure.ts
  packages/server/package.json
  packages/server/rollup.config.ts
  packages/server/src/core/internals/builderTypes.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/src/index.ts
  packages/server/src/internals.ts
  packages/server/src/shared/getErrorShape.ts
  packages/server/src/shared/index.ts
  packages/server/src/shared/jsonify.ts
  packages/server/src/shared/transformTRPCResponse.ts
  packages/server/src/shared/types.ts
  packages/server/src/unstableInternalsExport.ts
  packages/tests/package.json
  packages/tests/server/input.test.ts
  packages/tests/server/meta.test.ts
  packages/tests/server/react/errors.test.tsx
  packages/tests/server/react/formData.test.tsx
  packages/tests/server/react/invalidateQueries.test.tsx
  packages/tests/server/react/polymorphism.common.tsx
  packages/tests/server/react/polymorphism.factory.tsx
  packages/tests/server/react/polymorphism.subtyped-factory.tsx
  packages/tests/server/react/polymorphism.test.tsx
  packages/tests/server/regression/issue-4645-inferProcedureOutput.test.ts
  packages/tests/server/routerMeta.test.ts
  packages/tests/server/smoke.test.ts
Labels: @trpc/server, @trpc/client, @trpc/next, @trpc/react-query

#4841 chore: add diagnostics
  .github/workflows/diagnostics.yml
  .prettierignore
  examples/.diagnostics/big-router-declaration/.gitignore
  examples/.diagnostics/big-router-declaration/README.md
  examples/.diagnostics/big-router-declaration/next-env.d.ts
  examples/.diagnostics/big-router-declaration/next.config.js
  examples/.diagnostics/big-router-declaration/package.json
  examples/.diagnostics/big-router-declaration/scripts/codegen-base.ts
  examples/.diagnostics/big-router-declaration/scripts/codegen.ts
  examples/.diagnostics/big-router-declaration/src/server/context.ts
  examples/.diagnostics/big-router-declaration/src/server/trpc.ts
  examples/.diagnostics/big-router-declaration/src/utils/trpc.ts
  examples/.diagnostics/big-router-declaration/tsconfig.json
  examples/.diagnostics/next-prisma-starter/.env
  examples/.diagnostics/next-prisma-starter/.eslintrc
  examples/.diagnostics/next-prisma-starter/.gitignore
  examples/.diagnostics/next-prisma-starter/.npmrc
  examples/.diagnostics/next-prisma-starter/.vscode/extensions.json
  examples/.diagnostics/next-prisma-starter/.vscode/settings.json
  examples/.diagnostics/next-prisma-starter/README.md
  examples/.diagnostics/next-prisma-starter/next-env.d.ts
  examples/.diagnostics/next-prisma-starter/next.config.js
  examples/.diagnostics/next-prisma-starter/package.json
  examples/.diagnostics/next-prisma-starter/postcss.config.js
  examples/.diagnostics/next-prisma-starter/prisma/migrations/20211019164222_init/migration.sql
  examples/.diagnostics/next-prisma-starter/prisma/migrations/20220307124425_non_unique_timestamps/migration.sql
  examples/.diagnostics/next-prisma-starter/prisma/migrations/20220918091608_pagination/migration.sql
  examples/.diagnostics/next-prisma-starter/prisma/migrations/20220918134120_revert/migration.sql
  examples/.diagnostics/next-prisma-starter/prisma/migrations/migration_lock.toml
  examples/.diagnostics/next-prisma-starter/prisma/schema.prisma
  examples/.diagnostics/next-prisma-starter/prisma/seed.ts
  examples/.diagnostics/next-prisma-starter/public/favicon.ico
  examples/.diagnostics/next-prisma-starter/public/vercel.svg
  examples/.diagnostics/next-prisma-starter/render.yaml
  examples/.diagnostics/next-prisma-starter/sandbox.config.json
  examples/.diagnostics/next-prisma-starter/src/components/DefaultLayout.tsx
  examples/.diagnostics/next-prisma-starter/src/pages/404.tsx
  examples/.diagnostics/next-prisma-starter/src/pages/_app.tsx
  examples/.diagnostics/next-prisma-starter/src/pages/api/trpc/[trpc].ts
  examples/.diagnostics/next-prisma-starter/src/pages/index.tsx
  examples/.diagnostics/next-prisma-starter/src/pages/post/[id].tsx
  examples/.diagnostics/next-prisma-starter/src/server/context.ts
  examples/.diagnostics/next-prisma-starter/src/server/env.js
  examples/.diagnostics/next-prisma-starter/src/server/prisma.ts
  examples/.diagnostics/next-prisma-starter/src/server/routers/_app.ts
  examples/.diagnostics/next-prisma-starter/src/server/routers/post.test.ts
  examples/.diagnostics/next-prisma-starter/src/server/routers/post.ts
  examples/.diagnostics/next-prisma-starter/src/server/trpc.ts
  examples/.diagnostics/next-prisma-starter/src/styles/globals.css
  examples/.diagnostics/next-prisma-starter/src/utils/publicRuntimeConfig.ts
  examples/.diagnostics/next-prisma-starter/src/utils/transformer.ts
  examples/.diagnostics/next-prisma-starter/src/utils/trpc.ts
  examples/.diagnostics/next-prisma-starter/tailwind.config.ts
  examples/.diagnostics/next-prisma-starter/tsconfig.json
  examples/.diagnostics/next-prisma-starter/vitest.config.ts
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#4848 fix(`server`): sets `TRPCError.name` to `TRPCError` regardless of what bundlers do
  packages/server/src/error/TRPCError.ts
  packages/tests/server/TRPCError.test.ts
Labels: @trpc/server, ♻️ autoupdate

#4852 Next merge 2023 09 28
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/error/TRPCError.ts
  packages/tests/package.json
  packages/tests/server/TRPCError.test.ts
  pnpm-lock.yaml
  www/package.json
Labels: @trpc/server

#4843 chore: bump react-query to rc
  .wip/changes.md
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/ssg-infinite-serialization/package.json
  examples/.test/ssg/package.json
  examples/minimal-react/client/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/react/useInfiniteQuery.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/react/useSuspenseInfiniteQuery.test.tsx
  packages/tests/server/react/useSuspenseQuery.test.tsx
  pnpm-lock.yaml
Labels: ♻️ autoupdate, @trpc/react-query
