Repository trpc/trpc, pull requests merged in 2023-03, with the labels that each got.

#3896 feat(www): adds animations to landing page
  pnpm-lock.yaml
  www/package.json
  www/src/animations/popIn.ts
  www/src/components/QuickIntro.tsx
  www/src/components/SectionTitle.tsx
  www/src/components/TwitterWall/index.tsx
  www/src/pages/index.tsx
  www/tsconfig.json
Labels: 🕸 www

#3879 fix: export 'Router' for dts files generation
  examples/.test/internal-types-export/src/server.ts
  packages/server/src/core/index.ts
Labels: @trpc/server

#3907 fix(client): skip `.bind()` on `fetch` in order to fix Bun-support
  packages/client/src/getFetch.ts
Labels: @trpc/client

#3897 feat: enables no-floating-promises eslint rule
  .eslintrc.js
  examples/cloudflare-workers/src/client.ts
  examples/express-minimal/src/client.ts
  examples/express-minimal/src/server.ts
  examples/express-server/src/client.ts
  examples/express-server/src/server.ts
  examples/fastify-server/src/client/index.ts
  examples/fastify-server/src/server/index.ts
  examples/fastify-server/src/server/server.ts
  examples/lambda-api-gateway/src/client.ts
  examples/lambda-api-gateway/src/payloadFormatVersionClient.ts
  examples/minimal-react/server/index.ts
  examples/minimal/client/index.ts
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  examples/next-prisma-websockets-starter/src/pages/index.tsx
  examples/next-prisma-websockets-starter/src/server/prodServer.ts
  examples/standalone-server/src/client.ts
Labels: ♻️ autoupdate

#3904 docs: add Twitter Clone to awesome collection
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3895 chore: updates LICENSE
  LICENSE
Labels: ♻️ autoupdate

#3884 feat(server): add CORS support to nodeHTTPRequestHandler, add Standalone adapter documentation
  examples/minimal-react/server/index.ts
  examples/minimal-react/server/package.json
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/types.ts
  packages/tests/server/adapters/next.test.ts
  packages/tests/server/adapters/standalone.test.ts
  pnpm-lock.yaml
  www/docs/server/adapter/standalone.md
  www/sidebars.js
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#3911 fix(www): laggy animations on mobile
  www/src/pages/index.tsx
Labels: 🕸 www

#3891 docs: Introduce TypeDoc auto-generated API docs at /docs/typedoc
  .prettierignore
  README.md
  packages/next/package.json
  packages/server/package.json
  pnpm-lock.yaml
  turbo.json
  www/docs/.gitignore
  www/docusaurus.config.js
  www/docusaurus.typedoc.js
  www/package.json
  www/sidebars.js
Labels: ♻️ autoupdate, 🕸 www

#3880 chore: rework how `TRPCError` is created and add appropriate unit tests for it
  packages/server/src/error/TRPCError.ts
  packages/tests/server/TRPCError.test.ts
Labels: @trpc/server, ♻️ autoupdate

#3903 fix(server): createInputMiddleware next call type
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
Labels: @trpc/server

#3899 fix: changes ProcedureParams to use one generic
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/server/src/core/procedure.ts
Labels: @trpc/server

#3921 Fix (lambda-adapter): Find procedure from non proxy API Gateway resources
  packages/server/src/adapters/aws-lambda/utils.ts
  packages/tests/server/adapters/awsLambda.test.tsx
Labels: @trpc/server, ♻️ autoupdate

#3931 docs: add ZenStack to awesome-trpc
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3802 Update Next.js SSR Docs
  www/docs/nextjs/ssr.md
Labels: ♻️ autoupdate, 🕸 www

#3930 docs: add a tip in monorepo type safe
  www/docs/further/faq.mdx
Labels: 🕸 www

#3842 docs: update header docs to actually work
  www/docs/client/header.md
Labels: 🕸 www

#3949 Update standalone.md
  www/docs/server/adapter/standalone.md
Labels: 🕸 www

#3953 docs: add @Nick-Lucas
  README.md
Labels: ♻️ autoupdate

#3959 remove reference to resolve()
  www/docs/further/subscriptions.md
Labels: 🕸 www

#3974 fix(server): `d.ts`-files not finding `SerializeObject`
  examples/.test/internal-types-export/src/server.ts
  packages/server/src/shared/index.ts
  packages/server/src/shared/internal/serialize.ts
Labels: @trpc/server

#3744 feat: add shorthand `{}` for sub-routers
  packages/server/src/core/router.ts
  packages/tests/server/router.test.ts
  www/docs/server/merging-routers.md
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#3986 Update awesome-trpc.mdx
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3989 docs: fix merging routers typo
  www/docs/server/merging-routers.md
Labels: 🕸 www

#3988 feat(next): allow `withTRPC()`-HOC on individual pages
  packages/next/src/withTRPC.tsx
  packages/tests/server/react/withTRPC.test.tsx
Labels: @trpc/next

#3984 feat(react-query): Add support for QueryClient.ensureQueryData and ensureData helper
  examples/.interop/next-prisma-starter/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/ssg/package.json
  examples/minimal-react/client/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/deprecated/createHooksInternal.tsx
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/react/ensureQueryData.test.tsx
  pnpm-lock.yaml
  www/docs/reactjs/useContext.mdx
Labels: ♻️ autoupdate, 🕸 www, @trpc/react-query

#3980 feat(react-query): Add user-friendly message when withTRPC is missing from App
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#3998 docs: fixed useQueries example code
  www/docs/reactjs/useQueries.md
Labels: 🕸 www

#3978 feat(server): add support for metadata merging
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/config.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/tests/server/routerMeta.test.ts
  www/docs/server/metadata.md
Labels: @trpc/server, 🕸 www

#4002 docs: add pitfall section for merging routers
  www/docs/server/merging-routers.md
Labels: ♻️ autoupdate, 🕸 www

#4008 docs: comment out inlining sub-routers
  www/docs/server/merging-routers.md
Labels: 🕸 www

#4026 Move doc pages into sensible HTTP folders matching doc categories, and add redirects
  www/docs/client/aborting-procedures.md
  www/docs/client/cors.md
  www/docs/client/headers.md
  www/docs/client/setup.md
  www/docs/further/faq.mdx
  www/docs/main/quickstart.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/setup.mdx
  www/docs/nextjs/ssg-helpers.md
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/nextjs/starter-projects.md
  www/docs/reactjs/getQueryKey.md
  www/docs/reactjs/setup.mdx
  www/docs/reactjs/suspense.md
  www/docs/reactjs/useContext.mdx
  www/docs/reactjs/useInfiniteQuery.md
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQueries.md
  www/docs/reactjs/useQuery.md
  www/docs/server/adapters/aws-lambda.md
  www/docs/server/adapters/express.md
  www/docs/server/adapters/fastify.md
  www/docs/server/adapters/fetch.mdx
  www/docs/server/adapters/standalone.md
  www/docs/server/api-handler.md
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/context.md
  www/docs/server/data-transformers.md
  www/docs/server/error-formatting.md
  www/docs/server/error-handling.md
  www/docs/server/infer-types.md
  www/docs/server/merging-routers.md
  www/docs/server/metadata.md
  www/docs/server/middlewares.md
  www/docs/server/output-validation.md
  www/docs/server/procedures.md
  www/docs/server/routers.md
  www/docs/server/server-side-calls.md
  www/docusaurus.config.js
  www/sidebars.js
  www/vercel.json
Labels: 🕸 www

#4029 fix(docs): broken links in `api-handler.md`
  www/docs/server/api-handler.md
Labels: 🕸 www

#4028 chore: next merge 2023 03 20
  www/docs/client/aborting-procedures.md
  www/docs/client/cors.md
  www/docs/client/headers.md
  www/docs/client/setup.md
  www/docs/further/faq.mdx
  www/docs/main/quickstart.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/setup.mdx
  www/docs/nextjs/ssg-helpers.md
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/nextjs/starter-projects.md
  www/docs/reactjs/getQueryKey.md
  www/docs/reactjs/setup.mdx
  www/docs/reactjs/suspense.md
  www/docs/reactjs/useContext.mdx
  www/docs/reactjs/useInfiniteQuery.md
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQueries.md
  www/docs/reactjs/useQuery.md
  www/docs/server/adapters/aws-lambda.md
  www/docs/server/adapters/express.md
  www/docs/server/adapters/fastify.md
  www/docs/server/adapters/fetch.mdx
  www/docs/server/adapters/standalone.md
  www/docs/server/api-handler.md
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/context.md
  www/docs/server/data-transformers.md
  www/docs/server/error-formatting.md
  www/docs/server/error-handling.md
  www/docs/server/infer-types.md
  www/docs/server/merging-routers.md
  www/docs/server/metadata.md
  www/docs/server/middlewares.md
  www/docs/server/output-validation.md
  www/docs/server/procedures.md
  www/docs/server/routers.md
  www/docs/server/server-side-calls.md
  www/docusaurus.config.js
  www/sidebars.js
  www/vercel.json
Labels: 🕸 www

#3982 feat: add scale support
  packages/server/src/core/internals/getParseFn.ts
  packages/server/src/core/parser.ts
  packages/tests/package.json
  packages/tests/server/validators.test.ts
  pnpm-lock.yaml
  www/docs/server/procedures.md
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#4014 chore(server): (breaking) return an instance of `http.Server` from `createHTTPServer` in standalone adapter
  examples/standalone-server/src/server.ts
  packages/server/src/adapters/standalone.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/adapters/standalone.test.ts
  packages/tests/showcase/tinyrpc.test.ts
  www/docs/server/adapters/standalone.md
Labels: @trpc/server, 🕸 www

#4043 feat: fixes #4030 (see description for detailed)
  examples/next-prisma-starter/.gitignore
  examples/next-prisma-starter/README.md
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/tsconfig.json
Labels: ♻️ autoupdate

#4042 feat(react-query): add abortOnUnmount to TRPC Client Options
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/types.ts
  packages/tests/server/react/abortOnUnmount.test.tsx
  www/docs/client/aborting-procedures.md
Labels: 🕸 www, @trpc/react-query

#4070 fix(example): bump node version requirement
  examples/next-prisma-starter/src/utils/trpc.ts
  examples/next-prisma-websockets-starter/package.json
  examples/next-prisma-websockets-starter/src/utils/trpc.ts
  www/docs/nextjs/ssr.md
Labels: ♻️ autoupdate, 🕸 www

#4009 docs: foundational work
  examples/next-minimal-starter/README.md
  packages/next/README.md
  www/docs/client/aborting-procedures.md
  www/docs/client/introduction.md
  www/docs/client/setup.md
  www/docs/client/setup.mdx
  www/docs/nextjs/aborting-procedures.md
  www/docs/nextjs/introduction.mdx
  www/docs/nextjs/setup.mdx
  www/docs/partials/_import-approuter.mdx
  www/docs/reactjs/aborting-procedures.md
  www/docs/reactjs/introduction.mdx
  www/docs/reactjs/setup.mdx
  www/docs/server/server-side-calls.md
  www/sidebars.js
Labels: @trpc/next, 🕸 www

#4085 docs: update client intro
  www/docs/client/introduction.md
Labels: 🕸 www

#4080 feat: Add support for HTTP status 422 (Unprocessable Content)
  packages/server/src/http/getHTTPStatusCode.ts
  packages/server/src/rpc/codes.ts
  www/docs/server/error-handling.md
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#4081 Docs: Reorganise Adapters docs, move higher in sidebar due to importance, add nextjs page
  www/docs/client/cors.md
  www/docs/nextjs/setup.mdx
  www/docs/server/adapters-intro.md
  www/docs/server/adapters/aws-lambda.md
  www/docs/server/adapters/express.md
  www/docs/server/adapters/fastify.md
  www/docs/server/adapters/fetch.mdx
  www/docs/server/adapters/nextjs.md
  www/docs/server/adapters/standalone.md
  www/docs/server/api-handler.md
  www/docs/server/routers.md
  www/sidebars.js
  www/vercel.json
Labels: 🕸 www

#4100 docs: Fix API endpoint url in Step 3 of landing page
  www/docs/landing-intro/Step3.md
Labels: 🕸 www

#4101 chore: pnpm@8.0.0
  .github/workflows/examples-old-nodes.yml
  examples/.interop/next-prisma-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  package.json
  pnpm-lock.yaml
  scripts/addPrismaOverrides.ts
Labels: ♻️ autoupdate

#4113 docs(examples): Add note regarding pnpm and fix one broken example
  www/docs/main/example-apps.mdx
Labels: 🕸 www

#4116 docs: update endorsements
  www/unversioned/_love.mdx
Labels: 🕸 www
