Repository trpc/trpc, pull requests merged in 2023-07, with the labels that each got.

#4590 fix(client): enable instrumenting fetch
  packages/client/src/getFetch.ts
  packages/client/src/links/internals/httpUtils.ts
Labels: @trpc/client

#4593 docs: add missing async keyword
  www/docs/client/react/useInfiniteQuery.md
Labels: 🕸 www

#4597 feat(`client`): add HTTP response object to `TRPCClientError.meta`
  packages/client/src/TRPCClientError.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/internals/createHTTPBatchLink.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/shared/transformResult.ts
  packages/tests/server/errors.test.ts
  packages/tests/server/interop/links.test.ts
  packages/tests/server/links.test.ts
  packages/tests/server/regression/issue-3359-http-status-413-payload-too-large.test.ts
Labels: @trpc/client, ♻️ autoupdate

#4608 Add example use case to links context docs
  www/docs/client/links/overview.md
Labels: 🕸 www

#4611 refactor: use `Deno.serve()` in `deno-deploy` example
  examples/deno-deploy/src/index.ts
  www/docs/server/adapters/fetch.mdx
Labels: ♻️ autoupdate, 🕸 www

#4574 fix: next-app-dir build fails
  examples/.experimental/next-app-dir/next.config.js
Labels: ♻️ autoupdate

#4607 docs: add deno fresh example
  www/docs/community/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#4603 chore: update contributing.md for test fixtures
  CONTRIBUTING.md
Labels: ♻️ autoupdate

#4157 feat: simplifies pnpm setup
  .github/workflows/examples-old-nodes.yml
  .npmrc
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  package.json
  pnpm-lock.yaml
Labels: linear

#4621 docs: Update awesome-trpc.mdx
  www/docs/community/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#4629 fix(next-app-dir): `cacheLink` returning same data for multiple cache entries
  examples/.experimental/next-app-dir/src/app/rsc/ServerHttpGreeting.tsx
  examples/.experimental/next-app-dir/src/app/rsc/ServerInvokedGreeting.tsx
  examples/.experimental/next-app-dir/src/app/rsc/page.tsx
  examples/.experimental/next-app-dir/test/client.test.ts
  examples/.experimental/next-app-dir/test/server-cache.test.ts
  examples/.experimental/next-app-dir/test/server-http.test.ts
  examples/.experimental/next-app-dir/test/smoke.test.ts
  packages/next/src/app-dir/links/nextCache.ts
Labels: ♻️ autoupdate, @trpc/next

#4640 feat(`server`): add `NOT_IMPLEMENTED` code
  packages/server/src/http/getHTTPStatusCode.ts
  packages/server/src/rpc/codes.ts
  www/docs/further/rpc.md
Labels: @trpc/server, 🕸 www

#4641 Next merge 2023 07 20
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-app-dir/src/app/rsc/ServerHttpGreeting.tsx
  examples/.experimental/next-app-dir/src/app/rsc/ServerInvokedGreeting.tsx
  examples/.experimental/next-app-dir/src/app/rsc/page.tsx
  examples/.experimental/next-app-dir/test/client.test.ts
  examples/.experimental/next-app-dir/test/server-cache.test.ts
  examples/.experimental/next-app-dir/test/server-http.test.ts
  examples/.experimental/next-app-dir/test/smoke.test.ts
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/next/src/app-dir/links/nextCache.ts
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/http/getHTTPStatusCode.ts
  packages/server/src/rpc/codes.ts
  packages/tests/package.json
  pnpm-lock.yaml
  www/docs/community/awesome-trpc.mdx
  www/docs/further/rpc.md
  www/package.json
Labels: @trpc/server, @trpc/next, 🕸 www

#4642 chore: some cleanup and adding links to docs
  packages/client/src/links/HTTPBatchStreamLinkOptions.ts
  packages/client/src/links/httpBatchStreamLink.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/index.ts
  packages/client/src/links/internals/dedupeLink.test.ts
  packages/client/src/links/internals/dedupeLink.ts
  packages/client/src/links/internals/retryLink.ts
  packages/client/src/links/loggerLink.ts
  packages/client/src/links/wsLink.ts
  packages/tests/server/interop/links.test.ts
  packages/tests/server/links.test.ts
Labels: @trpc/client

#4644 Next merge 2023 07 21
  packages/client/src/links/HTTPBatchStreamLinkOptions.ts
  packages/client/src/links/httpBatchStreamLink.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/index.ts
  packages/client/src/links/internals/dedupeLink.test.ts
  packages/client/src/links/internals/dedupeLink.ts
  packages/client/src/links/internals/retryLink.ts
  packages/client/src/links/loggerLink.ts
  packages/client/src/links/wsLink.ts
  packages/tests/server/links.test.ts
Labels: @trpc/client

#4647 css: remove smooth scroll
  www/src/components/Preview.tsx
  www/src/css/custom.css
  www/src/utils/handleSmoothScrollToSection.ts
Labels: 🕸 www

#4651 feat(client): allow UntypedClient direclty in server helpers
  packages/client/src/createTRPCUntypedClient.ts
  packages/react-query/src/server/types.ts
  packages/react-query/src/ssg/ssg.ts
  packages/tests/server/react/ssgExternal.test.ts
Labels: @trpc/client, ♻️ autoupdate, @trpc/react-query

#4661 chore: next merge 2023 07 27
  package.json
  packages/client/src/createTRPCUntypedClient.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/tests/server/react/ssgExternal.test.ts
  pnpm-lock.yaml
  www/src/components/Preview.tsx
  www/src/css/custom.css
  www/src/utils/handleSmoothScrollToSection.ts
Labels: @trpc/client, 🕸 www, @trpc/react-query
