Repository trpc/trpc, pull requests merged in 2023-10, with the labels that each got.

#4865 chore: add test for tupleson
  packages/tests/package.json
  packages/tests/server/___testHelpers.ts
  packages/tests/server/transformer.test.ts
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#4887 fix(`server`): don't destroy underlying tcp socket when maxBodySize exceeded
  packages/server/src/adapters/node-http/content-type/json/getPostBody.ts
  packages/tests/server/adapters/__router.ts
  packages/tests/server/adapters/express.test.tsx
Labels: @trpc/server

#4885 fix(form-data): export `MaxPartSizeExceededError` for error handling
  packages/server/src/adapters/node-http/content-type/form-data/index.ts
Labels: @trpc/server, ♻️ autoupdate

#4880 feat(client): accept URL object param
  packages/client/src/links/internals/httpUtils.ts
  packages/tests/server/links.test.ts
Labels: @trpc/client

#4854 fix(fastify adapter): prevent duplicate content type parsers
  packages/server/src/adapters/fastify/fastifyTRPCPlugin.ts
  packages/tests/server/adapters/fastify.test.ts
Labels: @trpc/server, ♻️ autoupdate

#4892 Next merge 2023 10 06
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/links/internals/httpUtils.ts
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/adapters/fastify/fastifyTRPCPlugin.ts
  packages/server/src/adapters/node-http/content-type/form-data/index.ts
  packages/server/src/adapters/node-http/content-type/json/getPostBody.ts
  packages/tests/package.json
  packages/tests/server/adapters/__router.ts
  packages/tests/server/adapters/express.test.tsx
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/links.test.ts
  pnpm-lock.yaml
  www/package.json
Labels: @trpc/server, @trpc/client

#4900 fix(docs): typo in client/nextjs/introduction
  www/docs/client/nextjs/introduction.mdx
Labels: 🕸 www

#4913 docs: Typo fix in standalone.md
  www/docs/server/adapters/standalone.md
Labels: 🕸 www

#4914 fix: docs concepts introduction
  www/docs/main/concepts.mdx
Labels: ♻️ autoupdate, 🕸 www

#4898 feat(app dir): use query params typing for `revalidate` in `createTRPCNextAppDirServer`
  packages/next/src/app-dir/types.ts
Labels: ♻️ autoupdate, @trpc/next

#4926 Correct some deviations from the meaning of docs
  www/docs/main/concepts.mdx
  www/docs/server/adapters/standalone.md
Labels: 🕸 www

#4928 chore: next merge 2023-10-17
  README.md
  packages/client/package.json
  packages/next/src/app-dir/types.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/inferenceUtils.ts
  pnpm-lock.yaml
  www/docs/client/nextjs/introduction.mdx
  www/docs/main/concepts.mdx
  www/docs/server/adapters/standalone.md
  www/package.json
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
Labels: @trpc/next, 🕸 www

#4930 chore: bump to `@tanstack/react-query@5.0.0`
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/ssg-infinite-serialization/package.json
  examples/.test/ssg/package.json
  examples/minimal-react/client/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/server/package.json
  packages/tests/package.json
  pnpm-lock.yaml
Labels: @trpc/react-query

#4933 chore: next merge 2023 10 17
  .github/workflows/lint.yml
Labels: @trpc/server, @trpc/client, @trpc/next, @trpc/react-query

#4925 feat(react-query): rename `useContext()` -> `useUtils()` and alias `useContext`
  packages/next/src/createTRPCNext.tsx
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/deprecated/createHooksInternal.tsx
  packages/tests/server/react/createClient.test.tsx
  packages/tests/server/react/ensureQueryData.test.tsx
  packages/tests/server/react/infiniteQuery.test.tsx
  packages/tests/server/react/invalidateQueries.test.tsx
  packages/tests/server/react/invalidateRouters.test.tsx
  packages/tests/server/react/polymorphism.test.tsx
  packages/tests/server/react/prefetchQuery.test.tsx
  packages/tests/server/react/setInfiniteQueryData.test.tsx
  packages/tests/server/react/setQueryData.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/react/useUtils.test.tsx
  www/docs/client/nextjs/setup.mdx
  www/docs/client/react/infer-types.md
  www/docs/client/react/useInfiniteQuery.md
  www/docs/client/react/useUtils.mdx
  www/docs/main/getting-started.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/sidebars.js
  www/vercel.json
Labels: ♻️ autoupdate, @trpc/next, 🕸 www, @trpc/react-query

#4939 docs: update examples following `useContext` deprecation
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-starter/src/utils/trpc.ts
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  examples/next-prisma-websockets-starter/src/pages/index.tsx
Labels: ♻️ autoupdate

#4940 Next merge 2023 10 19
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/next/src/createTRPCNext.tsx
  packages/react-query/package.json
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/react/createClient.test.tsx
  packages/tests/server/react/ensureQueryData.test.tsx
  packages/tests/server/react/invalidateQueries.test.tsx
  packages/tests/server/react/invalidateRouters.test.tsx
  packages/tests/server/react/polymorphism.test.tsx
  packages/tests/server/react/prefetchQuery.test.tsx
  packages/tests/server/react/setInfiniteQueryData.test.tsx
  packages/tests/server/react/setQueryData.test.tsx
  packages/tests/server/react/useInfiniteQuery.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/react/useUtils.test.tsx
  pnpm-lock.yaml
  www/docs/client/nextjs/setup.mdx
  www/docs/client/react/infer-types.md
  www/docs/client/react/useInfiniteQuery.md
  www/docs/client/react/useUtils.mdx
  www/docs/main/getting-started.mdx
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/package.json
  www/sidebars.js
  www/vercel.json
Labels: @trpc/next, 🕸 www, @trpc/react-query

#4946 feat(server): allow a mix of text and files with fileUploadHandler
  packages/server/src/adapters/node-http/content-type/form-data/index.ts
  packages/server/src/adapters/node-http/content-type/form-data/memoryUploadHandler.ts
  packages/server/src/adapters/node-http/content-type/form-data/uploadHandler.ts
  packages/tests/server/react/formData.test.tsx
Labels: @trpc/server, ♻️ autoupdate

#4948 fix(server): merge _input_out when using standalone middlewares
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/regression/issue-4947-merged-middleware-inputs.test.ts
  www/docs/server/middlewares.md
Labels: @trpc/server, 🕸 www

#4954 Next merge 2023 10 24 17 48
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/subtree.yml
  README.md
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-starter/src/utils/trpc.ts
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  examples/next-prisma-websockets-starter/package.json
  examples/next-prisma-websockets-starter/src/pages/index.tsx
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/adapters/node-http/content-type/form-data/index.ts
  packages/server/src/adapters/node-http/content-type/form-data/memoryUploadHandler.ts
  packages/server/src/adapters/node-http/content-type/form-data/uploadHandler.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/tests/package.json
  packages/tests/server/react/formData.test.tsx
  packages/tests/server/regression/issue-4947-merged-middleware-inputs.test.ts
  pnpm-lock.yaml
  www/docs/server/middlewares.md
  www/package.json
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
  www/vercel.json
Labels: @trpc/server, 🕸 www

#4872 feat(`server`): extract parseTRPCMessage for 3rd party modules
  packages/server/src/adapters/ws.ts
  packages/server/src/rpc/index.ts
  packages/server/src/rpc/parseTRPCMessage.ts
Labels: @trpc/server, ♻️ autoupdate

#4959 feat(client): allow for promises in wss url
  .wip/changes.md
  packages/client/src/links/wsLink.ts
  packages/tests/server/websockets.test.ts
Labels: @trpc/client

#4961 Next merge 2023 10 26 14 44
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/adapters/ws.ts
  packages/server/src/rpc/index.ts
  packages/server/src/rpc/parseTRPCMessage.ts
  packages/tests/package.json
  pnpm-lock.yaml
  www/package.json
Labels: @trpc/server

#4967 fix(server): explicit node >=18 requirement
  .github/workflows/examples-old-nodes.yml
  examples/next-prisma-starter/README.md
  packages/client/package.json
  packages/client/tsconfig.watch.json
  packages/react-query/package.json
  packages/react-query/tsconfig.watch.json
  packages/server/package.json
  packages/server/src/error/TRPCError.ts
  packages/server/tsconfig.json
  packages/server/tsconfig.watch.json
Labels: @trpc/server, @trpc/client, @trpc/react-query

#4979 fix: localstorage do not have setAttribute method
  www/docusaurus.preferredTheme.js
Labels: 🕸 www
