Repository trpc/trpc, pull requests merged in 2023-11, with the labels that each got.

#4973 fix(server + client): incorrect inferred input type when using standalone middleware
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/regression/issue-4947-merged-middleware-inputs.test.ts
Labels: @trpc/server

#4986 fix(server + client): fix some issues with inferring Record types as procedure outputs
  packages/server/src/shared/internal/serialize.ts
  packages/tests/server/regression/issue-4985-serialize-type.test.ts
Labels: @trpc/server, ♻️ autoupdate

#4990 Next merge 2023 11 02 14 55
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/server/src/shared/internal/serialize.ts
  packages/tests/server/regression/issue-4947-merged-middleware-inputs.test.ts
  packages/tests/server/regression/issue-4985-serialize-type.test.ts
Labels: @trpc/server

#4999 chore: set node version >= 18.17.0
  .nvmrc
  package.json
Labels: ♻️ autoupdate

#5000 Next merge 2023 11 03 10 37
  .nvmrc
  examples/.experimental/next-app-dir/next.config.js
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-app-dir/src/app/post-example/page.tsx
  examples/.experimental/next-app-dir/src/app/rsc/page.tsx
  examples/.experimental/next-app-dir/src/auth.ts
  examples/.experimental/next-app-dir/src/server/context.ts
  examples/.experimental/next-app-dir/src/server/routers/_app.ts
  examples/.experimental/next-app-dir/src/server/trpc.ts
  examples/.experimental/next-app-dir/src/trpc/client.ts
  examples/.experimental/next-app-dir/src/trpc/server-http.ts
  examples/.experimental/next-app-dir/src/trpc/server-invoker.ts
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/ssg-infinite-serialization/package.json
  examples/.test/ssg/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/minimal-react/client/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/next-prisma-websockets-starter/src/server/prodServer.ts
  package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/tests/package.json
  pnpm-lock.yaml
  www/docusaurus.typedoc.js
  www/og-image/package.json
  www/package.json
Labels: 🕸 www

#5007 docs: keep RQ at v4 until trpc v11 is released
  www/docs/client/react/setup.mdx
Labels: 🕸 www

#4835 docs: add missing zod import in code example
  www/docs/client/react/useInfiniteQuery.md
  www/versioned_docs/version-9.x/reactjs/useInfiniteQuery.md
Labels: 🕸 www

#5003 fix(next): omit "fetch" from options
  packages/next/src/app-dir/links/nextHttp.ts
Labels: @trpc/next

#5015 Next merge 2023 11 09 11 37
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/next/src/app-dir/links/nextHttp.ts
  packages/react-query/package.json
  packages/server/package.json
  packages/tests/package.json
  pnpm-lock.yaml
  www/docs/client/react/setup.mdx
  www/docs/client/react/useInfiniteQuery.md
  www/package.json
  www/versioned_docs/version-9.x/reactjs/useInfiniteQuery.md
Labels: @trpc/next, 🕸 www

#5021 docs: fix install docs
  packages/next/README.md
  packages/react-query/README.md
Labels: @trpc/next, @trpc/react-query

#5023 docs: keep RQ at v4 on nextjs setup until trpc v11 is released
  www/docs/client/nextjs/setup.mdx
Labels: 🕸 www

#5017 fix(server): inference fix for inputs with middleware
  packages/server/src/core/internals/utils.ts
  packages/tests/server/regression/issue-5020-inference-middleware.test.ts
Labels: 🐛 bug, @trpc/server

#5027 Next merge 2023 11 10 11 08
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/README.md
  packages/next/package.json
  packages/react-query/README.md
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/core/internals/utils.ts
  packages/tests/package.json
  packages/tests/server/regression/issue-5020-inference-middleware.test.ts
  pnpm-lock.yaml
  www/docs/client/nextjs/setup.mdx
  www/package.json
Labels: @trpc/server, @trpc/next, 🕸 www, @trpc/react-query

#5029 Update caching.md
  www/docs/server/caching.md
Labels: 🕸 www

#5026 chore(v11): remove some deprecated stuff
  packages/client/src/internals/TRPCUntypedClient.ts
  packages/react-query/src/internals/getClientArgs.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/server/src/core/index.ts
  packages/server/src/core/internals/builderTypes.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/transformer.ts
Labels: @trpc/server, @trpc/client, @trpc/react-query

#5031 docs: correct example code
  www/docs/server/adapters/standalone.md
Labels: 🕸 www

#5030 docs: remove unnecessary import
  www/docs/client/nextjs/server-side-helpers.md
Labels: 🕸 www

#5035 fix(client+server): avoid losing type information w/ index signatures
  packages/server/src/core/internals/utils.ts
  packages/server/src/shared/internal/serialize.ts
  packages/server/src/types.ts
  packages/tests/server/regression/issue-5034-input-with-index-signature.test.ts
Labels: @trpc/server, ♻️ autoupdate

#5043 [Docs] infer-types.md: fix typo in name of router factory function
  www/docs/client/react/infer-types.md
Labels: 🕸 www

#5039 fix(server): fix regression introduced by #5017
  packages/server/src/core/internals/utils.ts
  packages/server/src/types.ts
  packages/tests/package.json
  packages/tests/server/regression/issue-5034-input-with-index-signature.test.ts
  packages/tests/server/regression/issue-5037-context-inference.test.ts
  tsconfig.build.json
Labels: @trpc/server

#5049 chore: bump zod
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#5052 patch: deprecate `inferAsyncReturnType`
  examples/.experimental/next-formdata/src/server/trpc.ts
  examples/.test/big-router-declaration/src/server/context.ts
  examples/.test/diagnostics-big-router/src/server/context.ts
  examples/express-server/src/server.ts
  examples/fastify-server/src/server/router/context.ts
  examples/lambda-api-gateway/src/server.ts
  examples/next-big-router/src/server/context.ts
  examples/next-prisma-starter/src/server/context.ts
  examples/next-prisma-todomvc/src/server/context.ts
  examples/next-prisma-websockets-starter/src/server/context.ts
  examples/standalone-server/src/server.ts
  packages/server/README.md
  packages/tests/server/adapters/awsLambda.test.tsx
  packages/tests/server/adapters/express.test.tsx
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/adapters/fetch.test.ts
  packages/tests/server/adapters/lambda.test.tsx
  packages/tests/showcase/dataloader.test.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/server/adapters/aws-lambda.md
  www/docs/server/adapters/express.md
  www/docs/server/adapters/fastify.md
  www/docs/server/adapters/fetch.mdx
  www/docs/server/adapters/standalone.md
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/context.md
  www/docs/server/routers.md
Labels: @trpc/server, 🕸 www

#5050 Next merge 2023 11 17 13 13
  .github/workflows/lock-issues.yml
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/tailwind.config.ts
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/core/internals/utils.ts
  packages/server/src/shared/internal/serialize.ts
  packages/server/src/types.ts
  packages/tests/package.json
  packages/tests/server/regression/issue-5034-input-with-index-signature.test.ts
  packages/tests/server/regression/issue-5037-context-inference.test.ts
  pnpm-lock.yaml
  tsconfig.build.json
  www/docs/client/nextjs/server-side-helpers.md
  www/docs/client/react/infer-types.md
  www/docs/server/adapters/standalone.md
  www/docs/server/caching.md
  www/package.json
Labels: @trpc/server, 🕸 www

#5058 fix(client+server): fix output serialization of records (again)
  packages/server/src/shared/internal/serialize.ts
  packages/tests/server/regression/issue-4985-serialize-type.test.ts
Labels: @trpc/server

#5057 fix(server): middleware input requirements shouldn't widen procedure inputs
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/regression/issue-5056-input-parser-standalone-mw-inference.test.ts
Labels: @trpc/server, ♻️ autoupdate

#5059 docs: fix broken twoslash
  www/docs/migration/migrate-from-v9-to-v10.mdx
Labels: 🕸 www

#5060 fix: cleanup some types and deprecate old things
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/server/src/types.ts
  packages/tests/server/adapters/fastify.test.ts
Labels: @trpc/server, ♻️ autoupdate

#5053 docs: add npm download badge
  README.md
  www/docs/main/introduction.mdx
Labels: ♻️ autoupdate, 🕸 www

#5064 chore: rm internal deprecated types
  packages/server/src/types.ts
Labels: @trpc/server

#5001 fix(server): remove exports of internals
  .wip/changes.md
  examples/.test/diagnostics-big-router/src/server/context.ts
  packages/client/src/TRPCClientError.ts
  packages/client/src/createTRPCClient.ts
  packages/client/src/internals/getAbortController.ts
  packages/client/src/links/wsLink.ts
  packages/next/src/app-dir/create-action-hook.tsx
  packages/next/src/app-dir/server.ts
  packages/next/src/app-dir/shared.ts
  packages/next/src/createTRPCNext.tsx
  packages/next/src/withTRPC.tsx
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/internals/useQueries.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/react-query/src/shared/types.ts
  packages/server/src/index.ts
  packages/server/src/types.ts
  packages/server/src/unstableInternalsExport.ts
  packages/tests/server/___packages.ts
  packages/tests/server/adapters/express.test.tsx
  packages/tests/server/headers.test.tsx
  packages/tests/server/index.test.ts
  packages/tests/server/react/errors.test.tsx
  packages/tests/server/react/regression/issue-3461-reserved-properties.test.tsx
  packages/tests/server/regression/issue-5034-input-with-index-signature.test.ts
  turbo.json
Labels: @trpc/server, @trpc/client, @trpc/next, @trpc/react-query

#5067 fix(server): fetch adapter endpoint path with trailing slash causes 404
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/tests/server/adapters/fetch.test.ts
Labels: @trpc/server, ♻️ autoupdate

#5071 Next merge 2023 11 21 10 19
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/tests/package.json
  packages/tests/server/adapters/fetch.test.ts
  pnpm-lock.yaml
  www/package.json
Labels: @trpc/server

#5073 chore: add auto lint fixing
  .github/workflows/lint.yml
  package.json
Labels: 😌 QoL

#5077 fix(client+server): non-records inferred as records when serializing as json
  packages/server/src/shared/internal/serialize.ts
  packages/tests/server/regression/issue-5075-complex-zod-serialized-inference.test.ts
Labels: @trpc/server

#5080 chore(server): augment existing test with a new use case
  packages/tests/server/regression/issue-5037-context-inference.test.ts
Labels: ♻️ autoupdate

#5074 fix(server): Response meta headers type
  packages/server/src/http/types.ts
  packages/tests/server/responseMeta.test.ts
Labels: @trpc/server, ♻️ autoupdate

#4997 feat(react): allow conditional ssr based on context
  packages/next/src/withTRPC.tsx
  packages/tests/server/react/withTRPC.test.tsx
  www/docs/client/nextjs/ssr.md
Labels: ♻️ autoupdate, @trpc/next, 🕸 www

#5081 fix(server): constrain the IsRecord utility type to objects
  packages/server/src/shared/internal/serialize.ts
Labels: @trpc/server, ♻️ autoupdate

#5091 chore: add vitest test retry
  package.json
  packages/tests/server/adapters/fastify.test.ts
Labels: ♻️ autoupdate

#5092 feat(client): add `lazy` option on `WSClient`
  packages/client/src/internals/retryDelay.ts
  packages/client/src/links/wsLink.ts
  packages/tests/server/websockets.test.ts
Labels: @trpc/client, ♻️ autoupdate

#5094 docs: update `wsLink` docs
  packages/client/src/links/wsLink.ts
  www/docs/client/links/wsLink.md
Labels: @trpc/client, 🕸 www

#5090 fix(server): fix fetch adapter with custom endpoint
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/tests/server/adapters/fetch.test.ts
Labels: @trpc/server, ♻️ autoupdate

#5097 Next merge 2023 11 23 15 45
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/tests/package.json
  packages/tests/server/adapters/fetch.test.ts
  pnpm-lock.yaml
  www/package.json
Labels: @trpc/server
