Repository trpc/trpc, pull requests merged in 2023-01, with the labels that each got.

#3532 feat: add `resHeaders` to fetch-adapter's `createContext`
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/fetch/types.ts
  packages/tests/server/adapters/fetch.test.ts
  tsconfig.json
  www/docs/server/adapter/fetch.mdx
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#3519 chore(www) show reading time ceil
  www/og-image/pages/api/blog.tsx
Labels: ♻️ autoupdate, 🕸 www

#3341 docs: Initial API handler docs
  www/docs/client/cors.md
  www/docs/nextjs/introduction.mdx
  www/docs/server/api-handler.md
  www/docs/server/router.md
  www/sidebars.js
Labels: 🕸 www

#3542 fix(client): use constant of websocket impl
  packages/client/src/links/wsLink.ts
Labels: @trpc/client, ♻️ autoupdate

#3541 chore(client): rm redundant `getLinks()` from client factory
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCUntypedClient.ts
Labels: @trpc/client, ♻️ autoupdate

#3552 docs: fix wsLink args
  www/docs/client/links/wsLink.md
Labels: 🕸 www

#3566 docs: fix typo in context section
  www/docs/server/context.md
Labels: ♻️ autoupdate, 🕸 www

#3569 docs: add FAQ & other improvements
  examples/fastify-server/README.md
  examples/next-edge-runtime/README.md
  examples/next-minimal-starter/README.md
  www/docs/client/aborting-procedures.md
  www/docs/further/faq.mdx
  www/docs/main/edge-runtimes.md
  www/docs/main/quickstart.mdx
  www/docs/server/adapter/fastify.md
  www/docs/server/adapter/fetch.mdx
  www/docs/server/middlewares.md
  www/docs/server/procedures.md
  www/sidebars.js
  www/vercel.json
  www/versioned_docs/version-9.x/server/fastify.md
Labels: 🕸 www

#3573 chore(sponsor-script): fix missing newline causing prettier errors
  README.md
  www/src/components/sponsors/script.push.ts
  www/unversioned/_sponsors.mdx
Labels: 🕸 www

#3572 docs: clarify creating custom links
  www/docs/client/links/index.md
Labels: 🕸 www

#3587 chore: update `CODEOWNERS`
  .github/CODEOWNERS
Labels: ♻️ autoupdate

#3540 chore: prep react-query v5 by using object syntax
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/ssg/ssg.ts
Labels: ♻️ autoupdate, @trpc/react-query

#3588 Next merge 2023 01 10
  .github/CODEOWNERS
  .tool-versions
  README.md
  examples/.test/big-router-declaration/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/README.md
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/README.md
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/README.md
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/ssg/ssg.ts
  packages/server/package.json
  packages/tests/package.json
  pnpm-lock.yaml
  www/docs/client/aborting-procedures.md
  www/docs/client/links/index.md
  www/docs/client/links/wsLink.md
  www/docs/further/faq.mdx
  www/docs/main/edge-runtimes.md
  www/docs/main/quickstart.mdx
  www/docs/server/adapter/fastify.md
  www/docs/server/adapter/fetch.mdx
  www/docs/server/context.md
  www/docs/server/middlewares.md
  www/docs/server/procedures.md
  www/og-image/package.json
  www/package.json
  www/sidebars.js
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.push.ts
  www/src/components/sponsors/script.raw.ts
  www/unversioned/_sponsors.mdx
  www/vercel.json
  www/versioned_docs/version-9.x/server/fastify.md
Labels: 🕸 www, @trpc/react-query

#3595 unused import in docs
  www/docs/main/quickstart.mdx
Labels: 🕸 www

#3598 docs: fix typo in procedures page
  www/docs/server/procedures.md
Labels: ♻️ autoupdate, 🕸 www

#3577 fix(react-query): `useQueries()` no longer ignoring query options
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/tests/server/react/useQueries.test.tsx
Labels: @trpc/react-query

#3603 feat: leverage mutationKey in mutations
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/tests/server/react/mutationkey.test.tsx
Labels: @trpc/react-query

#3600 #typo fix in code sample for multiple procedures
  www/docs/server/procedures.md
Labels: ♻️ autoupdate, 🕸 www

#3604 chore: remove the word “beta” from subscriptions docs
  www/docs/main/introduction.mdx
  www/versioned_docs/version-9.x/further/subscriptions.md
Labels: ♻️ autoupdate, 🕸 www

#3606 Next merge 2023 01 11
  README.md
  examples/.test/big-router-declaration/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/server/package.json
  packages/tests/package.json
  packages/tests/server/react/mutationkey.test.tsx
  packages/tests/server/react/useQueries.test.tsx
  pnpm-lock.yaml
  www/docs/main/introduction.mdx
  www/docs/main/quickstart.mdx
  www/docs/server/procedures.md
  www/package.json
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.raw.ts
  www/unversioned/_sponsors.mdx
  www/versioned_docs/version-9.x/further/subscriptions.md
Labels: 🕸 www, @trpc/react-query

#3601 docs(awesome-collection): add V3 template to awesome
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3610 docs: FAQ improvements
  www/docs/further/faq.mdx
  www/docs/server/procedures.md
  www/vercel.json
Labels: ♻️ autoupdate, 🕸 www

#3614 fix: do not leak `UnsetMarker` to query input
  packages/server/src/core/internals/utils.ts
  packages/tests/server/input.test.ts
  packages/tests/server/validators.test.ts
Labels: @trpc/server

#3591 chore: single `queryKey` format
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/internals/getArrayQueryKey.ts
  packages/react-query/src/internals/getClientArgs.ts
  packages/react-query/src/internals/getQueryKey.test.ts
  packages/react-query/src/internals/getQueryKey.ts
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/proxy/decorationProxy.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/react-query/src/ssg/ssg.ts
Labels: @trpc/react-query

#3241 TS perf post
  .github/workflows/examples.yml
  www/blog/2023-01-14-typescript-performance-lessons.md
  www/src/css/custom.css
Labels: 🕸 www

#3617 Next merge 2023 01 15
  .github/workflows/examples.yml
  examples/.test/big-router-declaration/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/core/internals/utils.ts
  packages/tests/package.json
  packages/tests/server/input.test.ts
  packages/tests/server/validators.test.ts
  pnpm-lock.yaml
  www/blog/2023-01-14-typescript-performance-lessons.md
  www/docs/further/faq.mdx
  www/docs/main/awesome-trpc.mdx
  www/docs/server/procedures.md
  www/package.json
  www/src/css/custom.css
  www/vercel.json
Labels: @trpc/server, 🕸 www

#3618 chore: add `@deprecated` on some internal types
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/router.ts
  packages/server/src/subscription.ts
  packages/tests/server/callRouter.test.ts
Labels: @trpc/server

#3620 Next merge 2023 01 15
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/router.ts
  packages/server/src/subscription.ts
  packages/tests/server/callRouter.test.ts
Labels: @trpc/server

#3621 chore: deprecated too much
  packages/server/src/core/router.ts
Labels: @trpc/server

#3619 chore: improve codecov
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/router.ts
  packages/server/src/subscription.ts
  packages/tests/server/___packages.ts
  packages/tests/server/adapters/fetch.test.ts
  packages/tests/server/callRouter.test.ts
  packages/tests/server/concat.test.ts
  packages/tests/server/mergeRouters.test.ts
  packages/tests/server/react/__testHelpers.tsx
Labels: @trpc/server, @trpc/react-query

#3624 fix(www): fix the edit blog link
  www/docusaurus.config.js
Labels: ♻️ autoupdate, 🕸 www

#3571 feat: tinyRPC (<1kb tRPC client)
  packages/tests/showcase/tinyrpc.test.ts
  packages/tests/showcase/tinyrpc.ts
  packages/tests/tsconfig.json
  www/blog/2023-01-17-tinyrpc-client.mdx
Labels: 💡 ideas, ❄️ icebox, 🕸 www

#3633 docs: add hilde to open source projects
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3632 docs: fix typo in useMutation()
  www/docs/reactjs/useMutation.md
Labels: 🕸 www

#3647 modify create-jd-app in awesome-trpc
  www/docs/main/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#3650 Update README.md
  packages/server/README.md
Labels: @trpc/server

#3653 docs: add "How tRPC really works" video
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3649 docs: add answer overflow to awesome-trpc
  www/docs/main/awesome-trpc.mdx
Labels: ♻️ autoupdate, 🕸 www

#3665 docs: fix typo on the aborting-procedures page
  www/docs/client/aborting-procedures.md
Labels: 🕸 www

#3672 docs: add msw-trpc to Awesome-trpc
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#3676 A minor typo fix
  www/blog/2023-01-17-tinyrpc-client.mdx
Labels: 🕸 www

#3679 refactor(og-image): replaces experimental-edge with edge
  www/og-image/pages/api/_ref/dynamic-image.tsx
  www/og-image/pages/api/_ref/emoji.tsx
  www/og-image/pages/api/_ref/image-svg.tsx
  www/og-image/pages/api/_ref/language.tsx
  www/og-image/pages/api/_ref/param.tsx
  www/og-image/pages/api/_ref/static.tsx
  www/og-image/pages/api/_ref/tailwind.tsx
  www/og-image/pages/api/_ref/vercel.tsx
  www/og-image/pages/api/blog.tsx
  www/og-image/pages/api/docs.tsx
  www/og-image/pages/api/font.ts
  www/og-image/pages/api/landing.tsx
Labels: 🕸 www

#3693 protected intersection for vanilla client
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCUntypedClient.ts
  packages/react-query/src/internals/context.tsx
  packages/tests/server/react/regression/issue-3461-reserved-properties.test.tsx
Labels: @trpc/client, @trpc/react-query

#3695 Documentation tweak
  www/docs/further/rpc.md
Labels: 🕸 www

#3489 feat(server): add ability to pipe middlewares
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/middlewares.test.ts
  pnpm-lock.yaml
  www/docs/further/faq.mdx
  www/docs/reactjs/useContext.mdx
  www/docs/server/middlewares.md
  www/src/css/custom.css
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#3570 feat(www): make vid clickable and hoverable
  www/src/components/Preview.tsx
Labels: ♻️ autoupdate, 🕸 www

#3623 docs: add note about createCaller in procedures
  www/docs/server/server-side-calls.md
Labels: ♻️ autoupdate, 🕸 www

#3471 chore: add FetchEsque type for fetch compatibility
  packages/client/package.json
  packages/client/src/getFetch.ts
  packages/client/src/internals/fetchHelpers.ts
  packages/client/src/internals/types.test.ts
  packages/client/src/internals/types.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/links/types.ts
  pnpm-lock.yaml
Labels: @trpc/client, ♻️ autoupdate

#3664 feat: allow fuzzy invalidation
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/server/src/types.ts
  packages/tests/server/react/__testHelpers.tsx
  packages/tests/server/react/invalidateQueries.test.tsx
Labels: @trpc/server, ♻️ autoupdate, @trpc/react-query

#3700 fix: add inferRouterProxyClient back
  packages/client/src/createTRPCClientProxy.ts
  packages/tests/server/createUntypedClient.test.ts
Labels: @trpc/client, ♻️ autoupdate

#3702 docs: describe how to handle CORS authenticated calls
  www/docs/server/api-handler.md
Labels: ♻️ autoupdate, 🕸 www

#3645 feat(react-query): add initialCursor option to useInfiniteQuery
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/deprecated/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/tests/server/react/useQuery.test.tsx
  www/docs/reactjs/useInfiniteQuery.md
Labels: ♻️ autoupdate, 🕸 www, @trpc/react-query
