Repository trpc/trpc, pull requests merged in 2023-05, with the labels that each got.

#4128 docs: reorganize and write introductory articles
  www/docs/community/awesome-trpc.mdx
  www/docs/community/contributing.mdx
  www/docs/community/love.mdx
  www/docs/community/sponsors.mdx
  www/docs/further/faq.mdx
  www/docs/main/concepts.mdx
  www/docs/main/getting-started.mdx
  www/docs/main/quickstart.mdx
  www/docs/main/videos-and-community-resources.mdx
  www/docusaurus.config.js
  www/sidebars.js
  www/src/components/ArticleCard.tsx
  www/src/components/ConceptsChart.tsx
  www/src/components/ContentSlider.tsx
  www/src/components/YouTubeEmbed.tsx
  www/unversioned/_contributing.mdx
  www/unversioned/_sponsors.mdx
  www/vercel.json
Labels: 🕸 www

#4290 Update concepts.mdx
  www/docs/main/concepts.mdx
Labels: 🕸 www

#4293 fix(server & next): trpc should assume `content-type: application/json` on preprocessed requests
  packages/server/src/adapters/node-http/content-type/json/getPostBody.test.ts
  packages/server/src/adapters/node-http/content-type/json/getPostBody.ts
  packages/tests/server/regression/issue-4243-serialize-string.test.ts
  packages/tests/server/regression/issue-4292-content-type-json-fallback.test.ts
Labels: @trpc/server, ♻️ autoupdate, 👋 free for all

#4283 feat(server): simplify output type for client queries
  packages/server/src/shared/internal/serialize.ts
  packages/server/src/shared/jsonify.ts
Labels: @trpc/server, ♻️ autoupdate

#4297 docs: next.js ssr helper example, await post.exists fetch call
  www/docs/nextjs/ssr.md
Labels: ♻️ autoupdate, 🕸 www

#4303 chore: add custom error sub-class example
  packages/tests/server/errorFormatting.test.ts
Labels: ♻️ autoupdate

#4311 Added `hostname` to `listen` in standalone adaptor.
  packages/server/src/adapters/standalone.ts
Labels: @trpc/server

#4315 Docs: Clarify explanation of RouterInput and RouterOutput types
  www/docs/client/infer-types.md
Labels: 🕸 www

#4326 docs: Fix grammar error in statement about custom validator
  www/docs/server/validators.md
Labels: 🕸 www

#4329 Update ssg.md "getStaticPaths" fallback blocking docs URL
  www/docs/nextjs/ssg.md
Labels: 🕸 www

#4327 fix: keep union type when simplifying in middleware
  packages/server/src/core/internals/utils.ts
  packages/tests/server/regression/issue-4321-context-union-inference.test.ts
Labels: @trpc/server

#4335 Add saleor/apps to community projects
  www/docs/community/awesome-trpc.mdx
Labels: 🕸 www

#4338 Fix: Set display to inline-block for code element
  www/src/theme/CodeBlock/styles.css
Labels: 🕸 www

#4342 fix: `loggerLink` backwards compat with es2015
  packages/client/src/links/loggerLink.ts
Labels: @trpc/client

#4346 Adding a streaming option for batched requests
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-todomvc/src/pages/api/trpc/[trpc].ts
  packages/client/package.json
  packages/client/src/internals/dataLoader.ts
  packages/client/src/internals/types.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/internals/createChain.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/links/internals/parseJsonStream.ts
  packages/client/tsconfig.json
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/http/internals/types.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/internals/types.ts
  pnpm-lock.yaml
Labels: @trpc/server, @trpc/client

#4330 docs: Added validator `runtypes` to docs
  packages/tests/package.json
  packages/tests/server/validators.test.ts
  pnpm-lock.yaml
  www/docs/server/validators.md
  www/package.json
Labels: 🕸 www

#4351 chore: update google analytics
  pnpm-lock.yaml
  www/docusaurus.config.js
  www/package.json
Labels: 🕸 www

#4354 chore: update google analytics
  www/docusaurus.config.js
Labels: 🕸 www

#4355 fix(client): make sure that `dom.iterable` types are included for `FormData`
  packages/client/src/links/loggerLink.ts
Labels: @trpc/client

#4357 chore(www): consistency in examples
  www/docs/landing-intro/Step1.md
  www/docs/landing-intro/Step3.md
  www/docs/server/adapters/aws-lambda.md
  www/docs/server/adapters/express.md
  www/docs/server/adapters/standalone.md
Labels: ♻️ autoupdate, 🕸 www

#4368 docs: fix typo in react query integration snippet
  www/docs/reactjs/introduction.mdx
Labels: 🕸 www

#4367 docs: Add tRPC-SWR back to Library adapters
  www/docs/community/awesome-trpc.mdx
Labels: 🕸 www

#4384 docs: Persist light/dark theme preference in localStorage when manually changed
  www/docusaurus.preferredTheme.js
Labels: 🕸 www

#4359 feat(`next`): experimental server actions
  codecov.yml
  examples/.experimental/next-app-dir/README.md
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-app-dir/src/app/layout.tsx
  examples/.experimental/next-app-dir/src/app/page.tsx
  examples/.experimental/next-app-dir/src/app/rsc/ClientGreeting.tsx
  examples/.experimental/next-app-dir/src/app/rsc/ServerGreeting.tsx
  examples/.experimental/next-app-dir/src/app/rsc/page.tsx
  examples/.experimental/next-app-dir/src/app/server-action/FormWithUseActionExample.tsx
  examples/.experimental/next-app-dir/src/app/server-action/RawExample.tsx
  examples/.experimental/next-app-dir/src/app/server-action/RawFormExample.tsx
  examples/.experimental/next-app-dir/src/app/server-action/ReactHookFormExample.action.tsx
  examples/.experimental/next-app-dir/src/app/server-action/ReactHookFormExample.schema.tsx
  examples/.experimental/next-app-dir/src/app/server-action/ReactHookFormExample.tsx
  examples/.experimental/next-app-dir/src/app/server-action/ReactHookFormFactoryExample.lib.tsx
  examples/.experimental/next-app-dir/src/app/server-action/ReactHookFormFactoryExample.tsx
  examples/.experimental/next-app-dir/src/app/server-action/UseActionExample.tsx
  examples/.experimental/next-app-dir/src/app/server-action/_actions.tsx
  examples/.experimental/next-app-dir/src/app/server-action/page.tsx
  examples/.experimental/next-app-dir/src/server/context.ts
  examples/.experimental/next-app-dir/src/server/routers/_app.ts
  examples/.experimental/next-app-dir/src/server/trpc.ts
  examples/.experimental/next-app-dir/src/trpc/client.ts
  examples/.experimental/next-app-dir/src/trpc/package.json
  examples/.experimental/next-app-dir/src/trpc/server.ts
  package.json
  packages/client/package.json
  packages/client/rollup.config.ts
  packages/client/src/TRPCClientError.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/wsLink.ts
  packages/client/src/shared/index.ts
  packages/client/src/shared/transformResult.ts
  packages/next/src/app-dir/client.test.tsx
  packages/next/src/app-dir/client.ts
  packages/next/src/app-dir/create-action-hook.tsx
  packages/next/src/app-dir/formDataToObject.test.ts
  packages/next/src/app-dir/formDataToObject.ts
  packages/next/src/app-dir/server.ts
  packages/next/src/app-dir/shared.ts
  packages/next/tsconfig.json
  packages/server/src/adapters/next.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/internals/invert.ts
  packages/server/src/internals/types.ts
  packages/server/src/shared/getErrorShape.ts
  packages/server/src/shared/index.ts
  packages/server/src/shared/transformTRPCResponse.ts
  pnpm-lock.yaml
Labels: @trpc/server, @trpc/client, @trpc/next

#4395 chore: disable build of app dir example
  .github/workflows/examples.yml
  examples/.experimental/next-app-dir/README.md
  packages/client/src/shared/transformResult.ts
  packages/next/src/app-dir/create-action-hook.tsx
Labels: @trpc/client, @trpc/next

#4410 fix(`next)`: rm conditional hook in `withTRPC`
  packages/next/src/withTRPC.tsx
Labels: @trpc/next

#4402 fix(`react-query`): fix `useInfiniteQuery` `placeholderData` types
  packages/react-query/src/createTRPCReact.tsx
  packages/tests/server/regression/issue-4360-useInfiniteQuery-placeHolderData.test.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#4412 chore: revert "add shorthand `{}` for sub-routers"
  packages/server/src/core/router.ts
  packages/tests/server/router.test.ts
  www/docs/server/merging-routers.md
Labels: @trpc/server, ♻️ autoupdate, 🕸 www

#4411 docs: update faq
  package.json
  www/docs/further/faq.mdx
Labels: ♻️ autoupdate, 🕸 www

#4136 feat(ws): allow closing active subscriptions
  packages/client/src/links/wsLink.ts
  packages/tests/server/interop/websockets.test.ts
  packages/tests/server/websockets.test.ts
Labels: @trpc/client, ♻️ autoupdate

#4046 chore: add `eslint-plugin-prettier` to eslint
  .eslintrc.js
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#4206 docs: add error-overlay for sandbox
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  www/src/pages/index.tsx
Labels: 🕸 www

#4341 docs: the example will be better for improving the UI
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/postcss.config.js
  examples/next-prisma-starter/src/components/DefaultLayout.tsx
  examples/next-prisma-starter/src/pages/404.tsx
  examples/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-starter/src/pages/post/[id].tsx
  examples/next-prisma-starter/src/styles/globals.css
  examples/next-prisma-starter/tailwind.config.ts
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#4403 feat(`httpBatchLink`): alternative DX `streamRequester` for batch streaming
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpBatchLink/genericMakeBatchLink.ts
  packages/client/src/links/httpBatchLink/httpBatchStreamLink.ts
  packages/client/src/links/httpBatchLink/index.ts
  packages/client/src/links/httpBatchLink/streamingHttpUtils.test.ts
  packages/client/src/links/httpBatchLink/streamingHttpUtils.ts
  packages/client/src/links/httpBatchStreamLink.ts
  packages/client/src/links/index.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/server/src/http/internals/types.ts
  www/docs/client/links/httpBatchLink.md
  www/docs/client/links/httpBatchStreamLink.md
  www/docs/client/links/index.md
Labels: @trpc/server, @trpc/client, 🕸 www

#4424 🧙 Streaming client without async generator / iterator
  packages/client/src/links/httpBatchLink/httpBatchStreamLink.ts
  packages/client/src/links/httpBatchLink/streamingHttpUtils.test.ts
  packages/client/src/links/httpBatchLink/streamingHttpUtils.ts
  packages/client/src/links/internals/httpUtils.ts
Labels: @trpc/client

#4430 docs: add FAQ in the footer
  www/docs/further/faq.mdx
  www/docusaurus.config.js
Labels: ♻️ autoupdate, 🕸 www

#4433 🧙 Streaming server without async generator / iterator
  CONTRIBUTING.md
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/adapters/aws-lambda/iterator.test.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fastify/iterator.test.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/fetch/iterator.test.ts
  packages/server/src/adapters/node-http/iterator.test.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/http/batchStreamFormatter.test.ts
  packages/server/src/http/batchStreamFormatter.ts
  packages/server/src/http/index.ts
  packages/server/src/http/resolveHTTPResponse.ts
Labels: @trpc/server

#4435 chore: Bump TypeScript to 5.0
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-formdata/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/internal-types-export/tsconfig.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/next/tsconfig.build.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/adapters/node-http/content-type/form-data/fileUploadHandler.ts
  packages/server/src/adapters/node-http/content-type/form-data/uploadHandler.ts
  packages/tests/package.json
  pnpm-lock.yaml
  www/og-image/package.json
  www/package.json
Labels: @trpc/server, @trpc/next

#4425 fix: exclude `.tsx`-tests from build tsconfig
  packages/client/tsconfig.build.json
  packages/client/tsconfig.json
  packages/next/tsconfig.build.json
  packages/next/tsconfig.json
  packages/react-query/tsconfig.build.json
  packages/server/tsconfig.benchmark.json
  packages/server/tsconfig.build.json
  packages/server/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Labels: @trpc/server, @trpc/client, ♻️ autoupdate, @trpc/next, @trpc/react-query

#4438 fix(`client`): remove properties from `ResponseEsque` that are not used
  packages/client/src/internals/types.ts
Labels: @trpc/client, ♻️ autoupdate

#4443 docs: add "tRPC in 5 mins" by Matt Pocock
  www/docs/main/getting-started.mdx
  www/docs/main/videos-and-community-resources.mdx
Labels: ♻️ autoupdate, 🕸 www

#4445 chore: add `max-params` `3`
  .eslintrc.js
Labels: ♻️ autoupdate

#4455 chore: revert pnpm updrade as it breaks some example projects
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/subtree.yml
  .tool-versions
  examples/next-prisma-starter/.github/workflows/main.yml
  examples/next-prisma-starter/package.json
  examples/next-prisma-websockets-starter/.github/workflows/main.yml
  examples/next-prisma-websockets-starter/package.json
  package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#4371 fix(`react-query`): query and mutation defaults being overwritten in hook wrappers
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
Labels: ♻️ autoupdate, @trpc/react-query
