Repository trpc/trpc, pull requests merged in 2023-04, with the labels that each got.

#4106 feat: some exports
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/fetch/types.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/http/internals/types.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/http/types.ts
  packages/server/src/shared/index.ts
  packages/server/src/shared/transformTRPCResponse.ts
Labels: @trpc/server

#4144 docs: update `useQuery` docs to include note about context
  www/docs/reactjs/useQuery.md
Labels: ♻️ autoupdate, 🕸 www

#4079 feat: rename `createProxySSGHelpers` to `createServerSideHelpers`
  examples/.test/ssg/src/pages/index.tsx
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  packages/react-query/package.json
  packages/react-query/rollup.config.ts
  packages/react-query/src/server/index.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/server/types.ts
  packages/react-query/src/ssg/index.ts
  packages/react-query/src/ssg/index.tsx
  packages/react-query/src/ssg/ssg.ts
  packages/tests/server/___packages.ts
  packages/tests/server/react/createClient.test.tsx
  packages/tests/server/react/deprecated/dehydrate.test.tsx
  packages/tests/server/react/infiniteQuery.test.tsx
  packages/tests/server/react/ssg.test.ts
  www/docs/nextjs/server-side-helpers.md
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/server/context.md
  www/sidebars.js
  www/vercel.json
Labels: 🕸 www, @trpc/react-query

#4150 fix(react-query): fix path in deprecation comment
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/ssg/index.tsx
  turbo.json
Labels: @trpc/react-query

#4143 docs: update link to react-query documentation
  www/docs/reactjs/useQuery.md
Labels: 🕸 www

#4168 docs: fix broken react-query links and link to correct version
  examples/.interop/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-starter/src/utils/trpc.ts
  examples/next-prisma-todomvc/src/utils/trpc.ts
  examples/next-prisma-websockets-starter/src/utils/trpc.ts
  packages/react-query/src/internals/context.tsx
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  www/blog/2023-01-14-typescript-performance-lessons.md
  www/docs/nextjs/server-side-helpers.md
  www/docs/reactjs/useInfiniteQuery.md
  www/docs/reactjs/useMutation.md
  www/versioned_docs/version-9.x/main/quickstart.mdx
  www/versioned_docs/version-9.x/nextjs/introduction.md
  www/versioned_docs/version-9.x/nextjs/ssg-helpers.md
  www/versioned_docs/version-9.x/reactjs/invalidateQueries.md
  www/versioned_docs/version-9.x/reactjs/useInfiniteQuery.md
  www/versioned_docs/version-9.x/reactjs/useMutation.md
  www/versioned_docs/version-9.x/reactjs/useQuery.md
Labels: 🕸 www, @trpc/react-query

#4171 docs: fix scale-ts import statement
  www/docs/server/procedures.md
Labels: ♻️ autoupdate, 🕸 www

#4160 docs : Add Prisma Editor
  www/docs/main/awesome-trpc.mdx
Labels: 🕸 www

#4175 feat: add operations in `httpLink`/`httpBatchLink` `headers`-callback function
  packages/client/src/internals/types.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/tests/server/headers.test.tsx
  www/docs/client/links/httpBatchLink.md
  www/docs/client/links/httpLink.md
Labels: @trpc/client, 🕸 www

#4036 docs: update quickstart
  .prettierignore
  examples/minimal/client/index.ts
  examples/minimal/client/package.json
  examples/minimal/client/polyfill.ts
  examples/minimal/package.json
  examples/minimal/server/db.ts
  examples/minimal/server/index.ts
  examples/minimal/server/package.json
  examples/minimal/server/trpc.ts
  examples/minimal/tsconfig.json
  pnpm-lock.yaml
  www/docs/further/love.mdx
  www/docs/main/quickstart.mdx
  www/package.json
  www/sidebars.js
  www/src/components/Iframe.tsx
  www/src/pages/index.tsx
Labels: 🕸 www

#4193 docs: fix quickstart stackblitz link
  www/docs/main/quickstart.mdx
Labels: 🕸 www

#4194 docs: fix copying code in safari
  www/src/theme/CodeBlock/index.js
  www/src/theme/CodeBlock/styles.css
Labels: 🕸 www

#4187 fix: undefined stripped from query result
  packages/server/src/shared/internal/serialize.ts
  packages/tests/server/regression/issue-4049-stripped-undefined.test.tsx
Labels: @trpc/server

#4173 docs: Break up infer-types docs & tidy up
  www/docs/client/infer-types.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/reactjs/infer-types.md
  www/sidebars.js
  www/vercel.json
Labels: 🕸 www

#4196 Rename context swapping to context extension. Fix some grammar issues…
  www/blog/2022-11-21-announcing-trpc-10.mdx
  www/docs/further/faq.mdx
  www/docs/server/middlewares.md
Labels: 🕸 www

#4198 chore: exclude old docs in vscode search
  .vscode/settings.json
Labels: ♻️ autoupdate, 😌 QoL

#4199 multiple sandboxes
  .github/workflows/subtree.yml
  pnpm-lock.yaml
  www/package.json
  www/src/components/SectionTitle.tsx
  www/src/components/Tabs.tsx
  www/src/pages/index.tsx
  www/src/utils/searchParams.ts
  www/tailwind.config.ts
Labels: 🕸 www

#4186 docs: add tabs for multiple sandboxes
  .github/workflows/subtree.yml
  .vscode/settings.json
  www/src/components/SectionTitle.tsx
  www/src/pages/index.tsx
  www/src/utils/cn.ts
  www/src/utils/searchParams.ts
  www/tailwind.config.ts
Labels: ♻️ autoupdate, 🕸 www

#4201 docs: fix sandboxes
  www/src/pages/index.tsx
Labels: 🕸 www

#4219 feat(server): retain `Error.cause` even if the original cause isn't an `Error`-instance
  .vscode/extensions.json
  packages/server/src/error/TRPCError.ts
  packages/server/src/error/utils.ts
  packages/tests/server/TRPCError.test.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/regression/issue-4217-throw-non-errors.test.ts
Labels: @trpc/server, ♻️ autoupdate

#4222 fix(react): use ref to ensure opts stay sync'd with subscription
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#4197 fix(`@trpc/next`): different transformers for up/down with `ssr: true`
  packages/client/src/internals/TRPCUntypedClient.ts
  packages/client/src/links/types.ts
  packages/next/src/withTRPC.tsx
  packages/server/src/transformer.ts
  packages/tests/server/interop/links.test.ts
  packages/tests/server/links.test.ts
  packages/tests/server/regression/issue-4130-ssr-different-transformers.test.tsx
Labels: @trpc/server, @trpc/client, ♻️ autoupdate, @trpc/next

#4214 docs: fix typos
  examples/minimal/server/trpc.ts
  www/docs/main/quickstart.mdx
Labels: ♻️ autoupdate, 🕸 www

#4254 docs: remove v10 announcement bar
  www/docusaurus.config.js
Labels: ♻️ autoupdate

#4256 fix(server): skip deserialization of post bodies when the HTTP handler has already processed it
  packages/server/src/adapters/node-http/internals/getPostBody.test.ts
  packages/server/src/adapters/node-http/internals/getPostBody.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/server/regression/issue-4243-serialize-string.test.ts
  www/docs/nextjs/setup.mdx
Labels: @trpc/server, 🕸 www

#4260 docs: rm unnecessary leftover
  www/docs/nextjs/setup.mdx
Labels: 🕸 www

#4259 docs: stop over-using destructuring (backend usage section)
  www/docs/server/adapters/fastify.md
  www/docs/server/adapters/fetch.mdx
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/error-formatting.md
  www/docs/server/error-handling.md
  www/docs/server/merging-routers.md
  www/docs/server/metadata.md
  www/docs/server/middlewares.md
  www/docs/server/output-validation.md
  www/docs/server/procedures.md
  www/docs/server/server-side-calls.md
Labels: 🕸 www

#4245 Update validators and procedures docs
  packages/tests/package.json
  packages/tests/server/validators.test.ts
  pnpm-lock.yaml
  www/docs/server/output-validation.md
  www/docs/server/procedures.md
  www/docs/server/validators.md
  www/package.json
  www/sidebars.js
  www/vercel.json
Labels: 🕸 www

#4261 Next merge 2023 04 27
  .vscode/extensions.json
  README.md
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/minimal/server/trpc.ts
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/client/src/internals/TRPCUntypedClient.ts
  packages/client/src/links/types.ts
  packages/next/package.json
  packages/next/src/withTRPC.tsx
  packages/react-query/package.json
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/server/package.json
  packages/server/src/adapters/node-http/internals/getPostBody.test.ts
  packages/server/src/adapters/node-http/internals/getPostBody.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/error/TRPCError.ts
  packages/server/src/error/utils.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/transformer.ts
  packages/tests/package.json
  packages/tests/server/TRPCError.test.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/links.test.ts
  packages/tests/server/regression/issue-4130-ssr-different-transformers.test.tsx
  packages/tests/server/regression/issue-4217-throw-non-errors.test.ts
  packages/tests/server/regression/issue-4243-serialize-string.test.ts
  www/docs/main/quickstart.mdx
  www/docusaurus.config.js
  www/package.json
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
Labels: @trpc/server, @trpc/client, @trpc/next, 🕸 www, @trpc/react-query

#4265 docs: stop over-using destructuring (remaining)
  www/docs/client/headers.md
  www/docs/client/infer-types.md
  www/docs/further/rpc.md
  www/docs/further/subscriptions.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/setup.mdx
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
  www/docs/reactjs/infer-types.md
  www/docs/reactjs/useInfiniteQuery.md
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQuery.md
Labels: 🕸 www

#4267 docs: tweak validator section
  pnpm-lock.yaml
  www/docs/server/validators.md
  www/package.json
Labels: ♻️ autoupdate, 🕸 www

#4272 docs(useContext): Remove unstable info
  www/docs/reactjs/useContext.mdx
Labels: ♻️ autoupdate, 🕸 www
