Repository trpc/trpc, pull requests merged in 2023-06, with the labels that each got.

#4463 fix(`server`): fix minor build warnings due to usage of private fields
  packages/server/src/adapters/node-http/content-type/form-data/streamSlice.ts
Labels: @trpc/server

#4347 feat(`server` + `client`): adding a streaming option for batched requests
  .eslintrc.js
  .github/workflows/main.yml
  CONTRIBUTING.md
  README.md
  packages/client/src/internals/dataLoader.ts
  packages/client/src/internals/types.ts
  packages/client/src/links/HTTPBatchLinkOptions.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpBatchStreamLink.ts
  packages/client/src/links/index.ts
  packages/client/src/links/internals/createHTTPBatchLink.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/links/internals/parseJSONStream.test.ts
  packages/client/src/links/internals/parseJSONStream.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/http/batchStreamFormatter.test.ts
  packages/server/src/http/batchStreamFormatter.ts
  packages/server/src/http/index.ts
  packages/server/src/http/internals/types.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/tests/server/adapters/fastify.test.ts
  packages/tests/server/adapters/fetch.test.ts
  packages/tests/server/links.test.ts
  packages/tests/server/streaming.test.ts
  pnpm-lock.yaml
  scripts/analyzeSizeChange.ts
  www/docs/client/links/httpBatchLink.md
  www/docs/client/links/httpBatchStreamLink.md
  www/sidebars.js
Labels: @trpc/server, @trpc/client, 🕸 www

#4472 Next merge 2023 06 02
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/subtree.yml
  examples/.experimental/next-app-dir/next.config.js
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-app-dir/src/app/rsc/page.tsx
  examples/.experimental/next-formdata/package.json
  examples/.test/big-router-declaration/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg/package.json
  examples/cloudflare-workers/package.json
  examples/deno-deploy/README.md
  examples/deno-deploy/src/client.ts
  examples/deno-deploy/src/index.ts
  examples/deno-deploy/src/router.ts
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/package.json
  examples/minimal-react/server/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/.github/workflows/main.yml
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/.github/workflows/main.yml
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/server/package.json
  packages/server/src/adapters/node-http/content-type/form-data/streamSlice.ts
  packages/tests/package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
  www/og-image/package.json
  www/package.json
Labels: @trpc/server, @trpc/react-query

#4478 chore: add 'unstable_' prefix to 'onHead' and 'onChunk' adapter callbacks
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/http/resolveHTTPResponse.ts
Labels: @trpc/server

#4481 fix(`server` + `client`): Post release `httpBatchStreamLink` issues
  packages/client/src/links/HTTPBatchStreamLinkOptions.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpBatchStreamLink.ts
  packages/client/src/links/index.ts
  packages/client/src/links/internals/createHTTPBatchLink.ts
  packages/client/src/links/internals/getTextDecoder.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/links/internals/parseJSONStream.test.ts
  packages/client/src/links/internals/parseJSONStream.ts
  packages/client/src/links/internals/streamingUtils.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/fetch/fetchRequestHandler.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/http/internals/types.ts
  packages/server/src/http/resolveHTTPResponse.ts
  www/docs/client/links/httpBatchStreamLink.md
Labels: @trpc/server, @trpc/client, ♻️ autoupdate, 🕸 www

#4485 chore(deps): update to rollup v3
  package.json
  packages/client/package.json
  packages/client/rollup.config.ts
  packages/next/package.json
  packages/next/rollup.config.ts
  packages/react-query/package.json
  packages/react-query/rollup.config.ts
  packages/server/entrypoints.script.ts
  packages/server/package.json
  packages/server/rollup.config.ts
  packages/server/src/adapters/node-http/content-type/form-data/index.ts
  packages/server/tsconfig.build.json
  pnpm-lock.yaml
  scripts/getRollupConfig.ts
Labels: @trpc/server, @trpc/client, @trpc/next, @trpc/react-query

#4490 chore: fix react redirects
  www/vercel.json
Labels: 🕸 www

#4494 fix: initialData & placeholderData does not enforce output types
  packages/react-query/src/createTRPCReact.tsx
  packages/tests/server/react/regression/issue-4486-initialData-types.test.tsx
  packages/tests/server/react/useQuery.test.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#4498 docs(rpc): add info for how nested routes are handled
  www/docs/further/rpc.md
Labels: ♻️ autoupdate, 🕸 www

#4502 docs: fix useSuspenseQuery naming
  www/docs/client/react/suspense.md
  www/sidebars.js
Labels: 🕸 www

#4501 feat(`react-query` + `next`): remove suspense feature flag
  packages/react-query/src/createTRPCReact.tsx
  packages/tests/server/react/__reactHelpers.tsx
  packages/tests/server/react/formData.test.tsx
  www/docs/client/react/suspense.md
Labels: 🕸 www, @trpc/react-query

#4506 docs: update merging-routers.md
  www/docs/server/merging-routers.md
Labels: ♻️ autoupdate, 🕸 www

#4508 fix(`client`): add minimal `WebReadableStreamEsque` for compatibility across envs
  packages/client/src/internals/types.ts
  packages/client/src/links/internals/parseJSONStream.ts
Labels: @trpc/client

#4510 feat(`react-query` + `next`): remove suspense feature flag
  packages/react-query/src/createTRPCReact.tsx
  packages/tests/server/react/__reactHelpers.tsx
  packages/tests/server/react/formData.test.tsx
  www/docs/client/react/suspense.md
Labels: ♻️ autoupdate, 🕸 www, @trpc/react-query

#4516 feat(`client`): unable to unwrap a proxy client to an untyped client
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/createTRPCUntypedClient.ts
  packages/tests/server/getUntypedClient.test.ts
Labels: @trpc/client

#4528 fix(server): allow overriding root context in nested middleware
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/tests/server/regression/issue-4527-nested-middleware-root-context.test.ts
Labels: @trpc/server

#4533 docs: Add example app - Separate BE/FE repos
  www/docs/community/awesome-trpc.mdx
  www/docs/main/example-apps.mdx
Labels: ♻️ autoupdate, 🕸 www

#4543 fix(`react-query`): fix select as transform
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/polymorphism/queryLike.ts
  packages/react-query/src/utils/inferReactQueryProcedure.ts
  packages/tests/server/react/regression/issue-4519-invalid-select-as-transform.test.tsx
Labels: ♻️ autoupdate, @trpc/react-query

#4547 feat(`react-query`): allow for external apps in `createServerSideHelpers`
  examples/next-prisma-todomvc/src/server/ssg-init.ts
  packages/react-query/src/server/index.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/server/types.ts
  packages/react-query/src/ssg/ssg.ts
  packages/tests/server/react/createClient.test.tsx
  packages/tests/server/react/ssgExternal.test.ts
  www/docs/client/nextjs/server-side-helpers.md
Labels: 🕸 www, @trpc/react-query

#4523 chore(`client`): change `OperationContext` from `type` to `interface`
  packages/client/src/links/types.ts
Labels: @trpc/client

#4548 Next merge 2023 06 22
  .gitignore
  README.md
  examples/.experimental/next-app-dir/README.md
  examples/.experimental/next-app-dir/package.json
  examples/.experimental/next-app-dir/src/server/trpc.ts
  examples/.experimental/next-app-dir/src/trpc/server.ts
  examples/.test/ssg/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/client/rollup.config.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/createTRPCUntypedClient.ts
  packages/client/src/internals/types.ts
  packages/client/src/links/internals/parseJSONStream.ts
  packages/next/package.json
  packages/next/rollup.config.ts
  packages/react-query/package.json
  packages/react-query/rollup.config.ts
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/polymorphism/queryLike.ts
  packages/react-query/src/utils/inferReactQueryProcedure.ts
  packages/server/package.json
  packages/server/rollup.config.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/tests/package.json
  packages/tests/server/getUntypedClient.test.ts
  packages/tests/server/react/__reactHelpers.tsx
  packages/tests/server/react/formData.test.tsx
  packages/tests/server/react/regression/issue-4486-initialData-types.test.tsx
  packages/tests/server/react/regression/issue-4519-invalid-select-as-transform.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/regression/issue-4527-nested-middleware-root-context.test.ts
  packages/tests/vitest.config.ts
  pnpm-lock.yaml
  scripts/getRollupConfig.ts
  tsconfig.json
  turbo.json
  www/docs/client/react/suspense.md
  www/docs/client/react/useContext.mdx
  www/docs/community/awesome-trpc.mdx
  www/docs/further/rpc.md
  www/docs/main/example-apps.mdx
  www/docs/server/adapters-intro.md
  www/docs/server/merging-routers.md
  www/package.json
  www/sidebars.js
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
  www/vercel.json
Labels: @trpc/server, @trpc/client, @trpc/next, 🕸 www, @trpc/react-query

#4559 docs: fix broken links
  www/docs/main/quickstart.mdx
Labels: ♻️ autoupdate, 🕸 www

#4564 fix(og): rm twitter stats
  www/og-image/pages/api/landing.tsx
  www/og-image/utils/env.js
Labels: 🕸 www

#4565 docs: add deno oak instructions
  www/docs/server/adapters/fetch.mdx
Labels: ♻️ autoupdate, 🕸 www

#4569 docs(server-side-helpers): Add query cache clarification & fix typos
  www/docs/client/nextjs/server-side-helpers.md
Labels: ♻️ autoupdate, 🕸 www
