Repository trpc/trpc, pull requests merged in 2024-11, with the labels that each got.

#6204 fix(server): handle req.socket events
  examples/next-minimal-starter/next-env.d.ts
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-minimal-starter/src/pages/index.tsx
  examples/next-minimal-starter/src/utils/trpc.ts
  examples/next-sse-chat/README.md
  examples/next-sse-chat/package.json
  packages/server/src/adapters/node-http/incomingMessageToRequest.test.ts
  packages/server/src/adapters/node-http/incomingMessageToRequest.ts
  packages/tests/server/httpSubscriptionLink.test.ts
Labels: ♻️ autoupdate

#6212 Update server-components.mdx
  www/docs/client/react/server-components.mdx
Labels: ♻️ autoupdate

#6218 chore: bump deps
  package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#6194 Insert createCallerFactory export to documentation server-components.mdx
  www/docs/client/react/server-components.mdx
Labels: ♻️ autoupdate

#6206 chore(server): refactor some stream-stuff
  examples/fastify-server/package.json
  package.json
  packages/client/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/server/src/@trpc/server/http.ts
  packages/server/src/adapters/fastify/fastifyRequestHandler.ts
  packages/server/src/adapters/node-http/incomingMessageToRequest.test.ts
  packages/server/src/adapters/node-http/incomingMessageToRequest.ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/writeResponse.ts
  packages/server/src/unstable-core-do-not-import.ts
  packages/server/src/unstable-core-do-not-import/http/batchStreamFormatter.test.ts
  packages/server/src/unstable-core-do-not-import/http/batchStreamFormatter.ts
  packages/server/src/unstable-core-do-not-import/http/isAbortError.ts
  packages/server/src/unstable-core-do-not-import/stream/jsonl.test.ts
  packages/server/src/unstable-core-do-not-import/stream/jsonl.ts
  packages/server/src/unstable-core-do-not-import/stream/sse.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/asyncIterable.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/createReadableStream.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/disposablePromiseTimer.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/promiseTimer.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/withPing.test.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/withPing.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/withRefCount.test.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/withRefCount.ts
  packages/tests/package.json
  packages/tests/server/links.test.ts
  pnpm-lock.yaml
Labels: 👋 free for all

#6267 fix(server): `withPing` never calls `.return()` on iterator
  .github/workflows/main.yml
  eslint.config.js
  examples/next-prisma-starter/next-env.d.ts
  package.json
  packages/server/package.json
  packages/server/src/adapters/ws.ts
  packages/server/src/unstable-core-do-not-import.ts
  packages/server/src/unstable-core-do-not-import/http/resolveResponse.ts
  packages/server/src/unstable-core-do-not-import/stream/jsonl.ts
  packages/server/src/unstable-core-do-not-import/stream/sse.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/__tests__/serverResource.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/asyncIterable.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/disposable.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/timerResource.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/withPing.test.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/withPing.ts
  packages/tests/server/httpSubscriptionLink.test.ts
  packages/tests/server/zAsyncIterable.ts
  pnpm-lock.yaml
  scripts/getRollupConfig.ts
  turbo.json
  www/docs/server/subscriptions.md
Labels: 🙋‍♂️ help wanted

#6273 chore: bump to typescript 5.7
  examples/.experimental/next-app-dir/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/minimal-content-types/client/package.json
  examples/minimal-react/client/package.json
  examples/minimal/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/tanstack-start/package.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react-query/package.json
  packages/server/package.json
  packages/tests/package.json
  pnpm-lock.yaml
Labels: ♻️ autoupdate
