Repository trpc/trpc, pull requests merged in 2024-06, with the labels that each got.

#5743 chore: remove prisma overrides script
  package.json
  pnpm-lock.yaml
  scripts/addPrismaOverrides.ts
Labels: ♻️ autoupdate

#5772 Update Remix documentation for Remix v2
  www/docs/server/adapters/fetch.mdx
Labels: ♻️ autoupdate

#4285 feat(`server`): agnostic http request handler
  packages/server/src/adapters/node-http/types.ts
Labels: @trpc/server

#5802 docs: update splitLink.mdx
  www/docs/client/links/splitLink.mdx
Labels: ♻️ autoupdate

#5783 feat(lambda): handle multiple cookies in aws lambda adapter
  packages/server/src/adapters/aws-lambda/getPlanner.ts
  packages/tests/server/adapters/awsLambda.test.tsx
Labels: ♻️ autoupdate

#5804 docs: update @effect/schema validator
  www/docs/server/validators.md
  www/versioned_docs/version-10.x/server/validators.md
Labels: ♻️ autoupdate

#5810 fix(react-query): return same `Proxy`-object to avoid infinite recursion
  package.json
  packages/client/src/createTRPCClient.ts
  packages/next/src/app-dir/client.ts
  packages/next/src/app-dir/server.ts
  packages/next/src/app-dir/shared.ts
  packages/next/src/createTRPCNext.tsx
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/rsc.tsx
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/shared/proxy/decorationProxy.ts
  packages/react-query/src/shared/proxy/useQueriesProxy.ts
  packages/react-query/src/shared/proxy/utilsProxy.ts
  packages/server/src/unstable-core-do-not-import/createProxy.ts
  packages/server/src/unstable-core-do-not-import/router.ts
  packages/tests/server/react/regression/issue-5808-proxy-in-dep-array.test.tsx
Labels: ♻️ autoupdate

#5811 chore: bump typescript
  examples/.experimental/next-app-dir/package.json
  examples/.test/diagnostics-big-router/package.json
  examples/.test/internal-types-export/package.json
  examples/.test/ssg-infinite-serialization/package.json
  examples/.test/ssg/package.json
  examples/bun/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal-content-types/client/package.json
  examples/minimal-content-types/server/package.json
  examples/minimal-react/client/package.json
  examples/minimal-react/server/package.json
  examples/minimal/package.json
  examples/next-big-router/package.json
  examples/next-edge-runtime/package.json
  examples/next-formdata/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-websockets-starter/package.json
  examples/soa/package.json
  examples/standalone-server/package.json
  examples/vercel-edge-runtime/package.json
  package.json
  packages/server/package.json
  packages/tests/package.json
  pnpm-lock.yaml
  www/og-image/package.json
Labels: ♻️ autoupdate

#5818 chore: rm diagnostics
  .github/workflows/diagnostics.yml
  .github/workflows/diagnosticsCompare.ts
Labels: ❄️ icebox, ♻️ autoupdate

#5842 chore: fix some lint errors
  packages/tests/server/websockets.test.ts
Labels: ♻️ autoupdate
