Repository trpc/trpc, pull requests merged in 2025-02, with the labels that each got.

#6427 chore(server): add exports
  packages/server/src/unstable-core-do-not-import.ts
Labels: ♻️ autoupdate

#6462 fix(client): ending a stream with the correct error
  packages/client/src/links/httpBatchStreamLink.ts
  packages/server/src/unstable-core-do-not-import/stream/jsonl.test.ts
  packages/server/src/unstable-core-do-not-import/stream/jsonl.ts
  packages/tests/server/regression/issue-6461-stream-error.test.ts
  packages/tests/server/streaming.test.ts
Labels: 🙋‍♂️ help wanted, ♻️ autoupdate

#5489 feat(server): lazy routers
  .github/workflows/release-tmp.yml
  examples/lazy-load/README.md
  examples/lazy-load/package.json
  examples/lazy-load/src/client/index.ts
  examples/lazy-load/src/server/db.ts
  examples/lazy-load/src/server/index.ts
  examples/lazy-load/src/server/routers/_app.ts
  examples/lazy-load/src/server/routers/slow.ts
  examples/lazy-load/src/server/routers/user.ts
  examples/lazy-load/src/server/trpc.ts
  examples/lazy-load/tsconfig.json
  packages/next/src/app-dir/links/nextCache.ts
  packages/react-query/src/server/ssgProxy.ts
  packages/react-query/src/shared/polymorphism/routerLike.ts
  packages/server/src/@trpc/server/index.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/unstable-core-do-not-import/http/contentType.ts
  packages/server/src/unstable-core-do-not-import/http/resolveResponse.ts
  packages/server/src/unstable-core-do-not-import/procedureBuilder.ts
  packages/server/src/unstable-core-do-not-import/router.test.ts
  packages/server/src/unstable-core-do-not-import/router.ts
  packages/tests/server/children.test.ts
  packages/tests/server/smoke.test.ts
  pnpm-lock.yaml
  www/docs/migration/migrate-from-v10-to-v11.mdx
  www/docs/server/merging-routers.md
  www/docs/server/routers.md
Labels: 🚧 wip, ❄️ icebox

#6463 feat(server): allow server to end subscriptions
  .github/workflows/lint.yml
  .github/workflows/subtree.yml
  examples/next-prisma-websockets-starter/src/server/routers/post.ts
  examples/next-sse-chat/src/server/routers/channel.ts
  packages/client/src/links/httpSubscriptionLink.ts
  packages/react-query/src/createTRPCReact.tsx
  packages/react-query/src/shared/hooks/createHooksInternal.tsx
  packages/react-query/src/shared/hooks/types.ts
  packages/server/src/unstable-core-do-not-import.ts
  packages/server/src/unstable-core-do-not-import/http/abortError.ts
  packages/server/src/unstable-core-do-not-import/stream/sse.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/asyncIterable.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/withPing.test.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/httpSubscriptionLink.test.ts
  packages/tests/server/react/useSubscription.test.tsx
  www/docs/client/react/useSubscription.md
  www/docs/migration/migrate-from-v10-to-v11.mdx
  www/docs/server/subscriptions.md
Labels: ♻️ autoupdate

#6475 chore(server): fix flaky jsonl test
  packages/server/src/unstable-core-do-not-import/stream/jsonl.test.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/createDeferred.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/mergeAsyncIterables.test.ts
  packages/server/src/unstable-core-do-not-import/stream/utils/mergeAsyncIterables.ts
  packages/tests/server/adapters/next.test.ts
  packages/tests/server/httpSubscriptionLink.test.ts
  packages/tests/server/react/queryOptions.test.tsx
  packages/tests/server/react/useQuery.test.tsx
  packages/tests/server/streaming.test.ts
  packages/tests/server/websockets.test.ts
Labels: ♻️ autoupdate

#6486 docs: sponsors sync
  README.md
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
Labels: ♻️ autoupdate

#6134 feat(tanstack-react-query): introduce `queryOptions` API in standalone package
  .gitignore
  eslint.config.js
  package.json
  packages/react-query/src/shared/hooks/types.ts
  packages/react-query/src/shared/types.ts
  packages/server/src/unstable-core-do-not-import/types.ts
  packages/tanstack-react-query/README.md
  packages/tanstack-react-query/entrypoints.script.ts
  packages/tanstack-react-query/package.json
  packages/tanstack-react-query/rollup.config.ts
  packages/tanstack-react-query/src/index.ts
  packages/tanstack-react-query/src/internals/Context.tsx
  packages/tanstack-react-query/src/internals/createOptionsProxy.ts
  packages/tanstack-react-query/src/internals/infiniteQueryOptions.ts
  packages/tanstack-react-query/src/internals/mutationOptions.ts
  packages/tanstack-react-query/src/internals/queryOptions.ts
  packages/tanstack-react-query/src/internals/subscriptionOptions.ts
  packages/tanstack-react-query/src/internals/types.ts
  packages/tanstack-react-query/src/internals/utils.ts
  packages/tanstack-react-query/test/__helpers.tsx
  packages/tanstack-react-query/test/infiniteQueryOptions.test.tsx
  packages/tanstack-react-query/test/mutationOptions.test.tsx
  packages/tanstack-react-query/test/polymorphism.common.tsx
  packages/tanstack-react-query/test/polymorphism.factory.tsx
  packages/tanstack-react-query/test/polymorphism.test.tsx
  packages/tanstack-react-query/test/queryKeyable.test.tsx
  packages/tanstack-react-query/test/queryOptions.test.tsx
  packages/tanstack-react-query/test/useSubscription.test.tsx
  packages/tanstack-react-query/tsconfig.build.json
  packages/tanstack-react-query/tsconfig.json
  packages/tanstack-react-query/turbo.json
  packages/tanstack-react-query/vitest.config.ts
  packages/tests/package.json
  packages/tests/server/___testHelpers.ts
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Labels: ♻️ autoupdate

#6223 chore(client): refactor & undeprecate `wsLink`
  examples/fastify-server/src/client/index.ts
  examples/standalone-server/src/client.ts
  packages/client/package.json
  packages/client/rollup.config.ts
  packages/client/src/links.ts
  packages/client/src/links/wsLink.ts
  packages/client/src/links/wsLink/createWsClient.ts
  packages/client/src/links/wsLink/wsClient/options.ts
  packages/client/src/links/wsLink/wsClient/requestManager.ts
  packages/client/src/links/wsLink/wsClient/utils.ts
  packages/client/src/links/wsLink/wsClient/wsClient.ts
  packages/client/src/links/wsLink/wsClient/wsConnection.ts
  packages/client/src/links/wsLink/wsLink.ts
  packages/tests/server/___testHelpers.ts
  packages/tests/server/websockets.test.ts
Labels: ♻️ autoupdate

#6520 Revert "fix(react-query): skip `export *` from `@trpc/client`"
  packages/react-query/src/index.ts
  www/docs/migration/migrate-from-v10-to-v11.mdx
Labels: ♻️ autoupdate

#6523 fix(client): bad import
  packages/client/src/links/wsLink/wsClient/wsConnection.ts
Labels: ♻️ autoupdate

#6530 feat: add ts program scanner for import paths
  packages/upgrade/package.json
  packages/upgrade/src/bin/cli.ts
  packages/upgrade/src/lib/ast/scanners.ts
  packages/upgrade/src/transforms/hooksToOptions.ts
  packages/upgrade/test/__fixtures__/hooks/react-context.ts
  packages/upgrade/test/__snapshots__/transforms.test.ts.snap
  pnpm-lock.yaml
Labels: ♻️ autoupdate

#6547 fix(wsLink): wsLink should await for connectionParams before sending …
  packages/client/src/links/wsLink/wsClient/wsClient.ts
  packages/client/src/links/wsLink/wsClient/wsConnection.ts
  packages/tests/server/websockets.test.ts
Labels: ♻️ autoupdate

#6569 fix(`server/aws-lambda`): Update cookie splitting for lambda adapter
  packages/server/src/adapters/aws-lambda/getPlanner.ts
  packages/server/src/vendor/cookie-es/set-cookie/split.ts
  packages/tests/server/adapters/awsLambda.test.tsx
Labels: ♻️ autoupdate
